function IndexPanel(url) {
  this.url = url;
  this.processing(false);

  var _this = this;

  $('#from_select :nth-child(2)').prop('selected', true); 
  $('#to_select :nth-child(1)').prop('selected', true); 

  $("#go_button").click(function(){
    _this.get();
  });
  
}

IndexPanel.prototype.get = function (url) {
  var _this = this;
  _this.processing(true);
  $.ajax({
    url: pathInsertId(_this.url, $("#from_select").val()),
    type: 'GET',
    data: {cdisc_term: {other_id: $("#to_select").val()}},
    dataType: 'json',
    success: function(result) {
      _this.processing(false);
      _this.results("#created_div", result.data.created)
      _this.results("#deleted_div", result.data.deleted)
      _this.results("#updated_div", result.data.updated)
      //$("#created_div").html("<pre>" + JSON.stringify(result.data.created, undefined, 2) + "</pre>");	
      //$("#deleted_div").html("<pre>" + JSON.stringify(result.data.deleted, undefined, 2) + "</pre>"); 
      //$("#updated_div").html("<pre>" + JSON.stringify(result.data.updated, undefined, 2) + "</pre>"); 
    },
    error: function(xhr,status,error){
      _this.processing(false);
      handleAjaxError(xhr, status, error);
    }
  });
}

IndexPanel.prototype.processing = function (state) {
  if (state) {
    $('#spinner_div').show();
    $('#results_div').hide();
  } else {
    $('#spinner_div').hide();
    $('#results_div').show();
  }
}

IndexPanel.prototype.results = function(div, data) {
  html = '<div class="list-group">';
  $.each( data, function( key, value ) {
    html += '<a href="' + value.changes_path + '" class="list-group-item">';
    html += '  <h5 class="list-group-item-heading">' + value.label + '</h5>';
    html += '  <p class="list-group-item-text"><small>' + value.notation + ' ' + '(' + value.identifier + ')</small></p>';
    html += '</a>';
  });
  html += '</div>';
  $(div).html(html); 
}