function IndexPanel(url) {
  this.url = url;
  this.processing(false);

  var _this = this;

  $("#go_button").click(function(){
    _this.get();
  });

  $("#results_div").parent().append(generateSpinnerWText("medium", "Fetching results..."));
  $('.spinner-container').hide();
}

IndexPanel.prototype.get = function (url) {
  var _this = this;

  _this.processing(true);
  $.ajax({
    url: pathInsertId(_this.url, $(".point-highlight").eq(0).find(".ttip-text").attr("data-index")),
    type: 'GET',
    data: {cdisc_term: {other_id: $(".point-highlight").eq(1).find(".ttip-text").attr("data-index")}},
    dataType: 'json',
    success: function(result) {
      _this.processing(false);
      _this.results("#created_div", result.data.created)
      _this.results("#deleted_div", result.data.deleted)
      _this.results("#updated_div", result.data.updated)
      //$("#created_div").html("<pre>" + JSON.stringify(result.data.created, undefined, 2) + "</pre>");
      //$("#deleted_div").html("<pre>" + JSON.stringify(result.data.deleted, undefined, 2) + "</pre>");
      //$("#updated_div").html("<pre>" + JSON.stringify(result.data.updated, undefined, 2) + "</pre>");
    },
    error: function(xhr,status,error){
      _this.processing(false);
      handleAjaxError(xhr, status, error);
    }
  });
}

IndexPanel.prototype.processing = function (state) {
  if (state) {
    $('.spinner-container').show();
    $('#results_div').hide();
  } else {
    $('.spinner-container').hide();
    $('#results_div').show();
  }
}

IndexPanel.prototype.results = function(div, data) {
  var _this = this;

  var badge_class = _this.getBadgeClass(div);

  // Reset
  _this.resetViewToDefault($(div).parent());
  var html = '';

  $.each( data, function( key, value ) {
    html += '<a href="' + value.changes_path + '" class="item '+value.label.replace(/^[0-9\s]+/, '')[0].toUpperCase() +'">';
    html += ' <div class="list-card shadow-small">';
    html += '   <div class="card-badge '+badge_class+'"></div>';
    html += '     <div class="text">' + value.label + '</div>';
    html += '     <div class="text sub-text">' + value.notation + ' ' + '(' + value.identifier + ')</div>';
    html += ' </div>';
    html += '</a>';
  });

  if(data.length == 0)
    $(div).find(".no-results-msg").show();

  $(div).append(html);
  $(div).parent().find(".amount").html(data.length);
}

IndexPanel.prototype.getBadgeClass = function(div){
  switch (div) {
    case "#created_div":
      return "bg-sec-light";
      break;
    case "#updated_div":
      return "bg-accent-1";
      break;
    case "#deleted_div":
      return "bg-accent-2";
      break;
  }
}

// Resets UI to default, called when new query is triggered
IndexPanel.prototype.resetViewToDefault = function(div){
  div.find(".item").remove();
  div.find(".no-results-msg").hide();
  div.find(".alph-slider").val(1);
  div.find(".circular-badge").html('A');
  div.find(".filter-expandable").addClass("collapsed");
  div.find(".filter-btn").removeClass("highlight");
}
