<%# A reusable html generator for context menus. Also defined in a partial: assets/javascripts/shared/context_menu.js.erb. If you change one, you have to change the other too ! %>

<%# menu_id: String id for the menu itself %>
<%# the options will be rendered in the yield field %>
<span id="<%= menu_id %>"class="icon-context-menu text-medium text-normal" tabindex="1">
  <div class="context-menu <%= color != nil ? color : "" %> shadow-small collapsed">
    <%= yield %>
  </div>
</span>
