<%= stylesheet_link_tag 'shared/processing/shiny_processing' %>

<div class="indicators"></div>
<%= javascript_tag "loadItemIndicators('#{indicators_iso_concept_path(id)}', '#{wrap_el} .indicators');" %>
