<%= javascript_tag 'setPageTitle("Index: Biomedical Concept")' %>

<%= javascript_pack_tag 'biomedical_concepts/index' %>

<% first_level_breadcrumb (:biomedical_concept_instances) %>

<div class="row">
  <%= render layout: "shared/headers/header_minimal", :locals => {badge: "icon-biocon",
    main_text: "Biomedical Concepts", sub_text: "Browse all Biomedical Concepts in the system." } do %>
      <div class="btns-wrap"></div>
  <% end %>
</div>

<div class="row">

  <% content_for :description do %>
    Below is the list of all <span class="text-accent-1-dark font-regular">standardized</span> and <span class="text-link font-regular">sponsor</span> Biomedical Concepts.
    Use the Search bar to find the Biomedical Concept you are looking for.
    To see Biomedical Concept's respective History page, click on it.
  <% end %>

  <% content_for :actions do %>
    
    <% if policy(BiomedicalConceptInstance).new? %>
      <a href="#" class="btn medium green" id="new_bc">
        <span class="icon-plus text-tiny"></span>&nbsp; New Biomedical Concept
      </a>
    <% end %>
  <% end %>

  <%= render partial: "shared/iso_managed/index/index_card", locals: { title: "Biomedical Concepts", url: biomedical_concept_instances_path } %>

</div>



