<%= javascript_include_tag 'cdisc_term/changes' %>
<%= javascript_tag "var url_path = '#{changes_results_cdisc_term_path(@ct)}';" %>
<%= javascript_tag "var column_count = '#{@version_count}';" %>
<% second_level_breadcrumb("CDISC Terminology", history_cdisc_terms_path, "Changes") %>
<div class="col-md-12">
  <%= render partial: "shared/thesauri/changes_panel", :locals => {title: "Changes: CDISC Terminology", column_count: @version_count, links: @links} %>
</div>
