<h1>CDISC Terminology History</h1>
<table>
  <tr>
		<th>Code List Item</th>
		<th>Link ---------</th>
		<% xxx = @Results.values[0] %>
		<% value = xxx[:result]%>
		<% value.each do |vKey, value| %>
	    <th><%= vKey %>--</th>
	  <% end %>
	</tr>	
	<% @Results.each do |cliKey, xxx| %>
		<% value = xxx[:result]%>
		<% cli = xxx[:cli]%>
		<tr>
			<td><%= cliKey %></td>
			<td></td>
			<% value.each do |vKey, status| %>
	    	<td><%= status %></td>
			<% end %>
		</tr>	
	<% end %>
</table>
