<div class="row full">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Community</h3>
      </div>
      <div class="panel-body">  
      </div>
    </div>
  </div>
</div>
<div class="row full">
  <div class="col-md-3 text-center">
    <a href="<%= history_cdisc_terms_path %>" class="btn btn-primary">Browse Every Version</a>
  </div>
  <div class="col-md-3 text-center">
    <a href="<%= history_cdisc_terms_path %>" class="btn btn-primary">Changes</a>
  </div>
  <div class="col-md-3 text-center">
    <a href="<%= history_cdisc_terms_path %>" class="btn btn-primary">Submission</a>
  </div>
  <div class="col-md-3 text-center">
    <a href="<%= history_cdisc_terms_path %>" class="btn btn-primary">Search Latest</a>
  </div>
</div>
