<section id="container">
	<div class="row">
  		<div class="col-md-4">
    		<h4>Registration Status</h4>
        <table id="main" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Status</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            <% @forms.each do |key, form| %>
              <tr>
                <td><%= form.identifier %></td>
                <td><%= form.registrationState.registrationStatus %></td>
                <td><%= link_to "Show", forms_path(:id => form.id, :namespace => form.namespace), :class => "btn btn-primary btn-xs" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
   		</div>
 		<div class="col-md-4">
    		<h4>Cell 2</h4>
   		</div>
 		<div class="col-md-4">
    		<p>Cell 3</p>
   		</div>
 	</div>
	<div class="row">
  		<div class="col-md-4">
    		<p>Cell 4</p>
   		</div>
 		<div class="col-md-4">
    		<p>Cell 5</p>
   		</div>
 		<div class="col-md-4">
    		 <td><%= link_to "Navigate Model", view_dashboard_index_path(:id => '1'), :class => "btn btn-primary" %></td>
   		</div>
 	</div>
</section>