<section id="container">
	<div class="row">
  		<div class="col-md-4">
    		<p>Cell 1</p>
   		</div>
 		<div class="col-md-4">
    		<p>Cell 2</p>
   		</div>
 		<div class="col-md-4">
    		<p>Cell 3</p>
   		</div>
 	</div>
	<div class="row">
  		<div class="col-md-4">
    		<p>Cell 4</p>
   		</div>
 		<div class="col-md-4">
    		<p>Cell 5</p>
   		</div>
 		<div class="col-md-4">
    		 <td><%= link_to "Navigate Model", view_dashboard_index_path(:id => '1'), :class => "btn btn-primary" %></td>
   		</div>
 	</div>
</section>