<% if Rails.env == "test" || Rails.env == "development" %>
  <%= javascript_include_tag 'rspec_helper' %>
<% end %>
<div class="row">
  <div class="col-md-12 card wide">
    <div class="card-header">
      Edit Tags
    </div>
    <div class="card-content">
      Test
    </div>
  </div>
</div>
