<%= render layout: "shared/simple_header_tiny", :locals => {badge: "icon-impact", main_text: "Impact Analysis",
  sub_text: "#{@managed_item.label}. CDISC CT update from: VERNR to: VERNR. "} do %>
  <div class="actions-wrap">
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
  </div>
<% end %>
