<%= javascript_tag 'setPageTitle("List change notes: '+@managed_item.label+'")' %>

<div class="row">
  <%= render layout: "shared/iso_managed/managed_header_card", :locals => {:item => @managed_item, :badge => get_iso_managed_icon(@managed_item),
    :header_title => "List Change notes" } do %>
    <div class="actions-wrap">
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
	<div class="col-md-10 card wide">
		<div class="card-header">	Change notes </div>
	  <div class="card-content">

    </div>
	</div>
</div>
