/*
* Children Panel
*
* Requires:
* children_table [Table] the managed item table
*/

/**
 * Children Panel Constructor
 *
 * @return [void]
 */
function ChildrenPanel(url, count, columns, tc_id) {
  var _this = this;
  this.url = url;
  this.tc_id = tc_id;
  this.count = count;
  this.columns = columns;
  this.columns.push({"render" : function (data, type, row, meta) {return _this.linkButton(row.show_path, "Show");}});
  this.columns.push({"render" : function (data, type, row, meta) {
    return '<button value="' + row.id + '" class="btn btn-danger btn-xs delete-child">Delete</button>';
  }});

  var loading_html = generateSpinner("medium");

  this.childrenTable = $('#children_table').DataTable( {
    "order": [[ 0, "desc" ]],
    "columns": _this.columns,
    "pageLength": pageLength, // Global setting
    "lengthMenu": pageSettings, // Global setting
    "processing": true,
    "language": {
      "infoFiltered": "",
      "emptyTable": "No child items.",
      "processing": loading_html
    }
  });
  this.add(0);

  $(document).on('click', '.delete-child', function (event) {
    _this.deleteExtension([this.value]);
  });
}

/**
 * Add item to table
 *
 * @param [Integer] the offset to retrieve
 * @return [void]
 */
ChildrenPanel.prototype.add = function (offset) {
  var _this = this;
  _this.childrenTable.processing(true);
  $.ajax({
    url: _this.url,
    data: {"count": _this.count, "offset": offset},
    type: 'GET',
    dataType: 'json',
    success: function(result) {
      for (i=0; i<result.data.length; i++) {
        result.data[i]["extensible"]= _this.extensibleConvert(result.data[i]["extensible"]);
        var row = _this.childrenTable.row.add(result.data[i]);
      }
      _this.childrenTable.draw();
      if (result.count >= _this.count) {
        _this.add(result.offset + _this.count)
      } else {
        _this.childrenTable.processing(false);
      }
    },
    error: function(xhr,status,error){
      handleAjaxError(xhr, status, error);
      _this.childrenTable.processing(false);
    }
  });
}

ChildrenPanel.prototype.extensibleConvert = function(extensible) {
    return "<span class='i-centered icon-extend"+(extensible ? " text-secondary-clr" : "-disabled text-accent-2")+"'></span>";
}

/**
 * Refresh table
 *
 * @return [void]
 */
ChildrenPanel.prototype.refresh = function() {
  var _this = this;
  _this.childrenTable.clear();
  _this.add(0);
}

/**
 * Add New item to table
 *
 * @param ids [Array] the array with news id items
 * @return [void]
 */
ChildrenPanel.prototype.addNew = function(ids) {
  var _this = this;
  $.ajax({
        url: "/thesauri/managed_concepts/"+_this.tc_id+"/extensions",
        type: "POST",
        data: JSON.stringify({managed_concept:{"extension_ids": ids} }),
        dataType: 'json',
        contentType: 'application/json',
        error: function (xhr, status, error) {
          displayError("An error has occurred.");
        },
        success: function(result) {
          _this.refresh();
        }
      });
}

/**
 * Delete item to table
 *
 * @param id [String] the id item to delete
 * @return [void]
 */
ChildrenPanel.prototype.deleteExtension = function(id) {
  var _this = this;
  $.ajax({
        url: "/thesauri/managed_concepts/"+_this.tc_id+"/extensions",
        type: "DELETE",
        data: JSON.stringify({managed_concept:{"extension_ids": id} }),
        dataType: 'json',
        contentType: 'application/json',
        error: function (xhr, status, error) {
          displayError("An error has occurred.");
        },
        success: function(result) {
          _this.refresh();
        }
      });
}

ChildrenPanel.prototype.synonymList = function(entry) {
  var items = [];
  $.each(entry.synonym, function(i, value) {
    items.push(value.label);
  });
  entry.synonym_list = items.join("; ");
}

ChildrenPanel.prototype.linkButton = function (path, text) {
  if (path === "") {
    return "&nbsp;"
  } else {
    return '<a href="' + path + '" class="btn btn-primary btn-xs">' + text + '</a>';
  }
}
