/*
* Children Panel
*
* Requires:
* children_table [Table] the managed item table
*/

/**
 * Children Panel Constructor
 *
 * @return [void]
 */
function ChildrenPanel(url, count, columns, tc_id) {
  var _this = this;
  this.url = url;
  this.tc_id = tc_id;
  this.count = count;
  this.columns = columns;
  this.columns.push({"render" : function (data, type, row, meta) {return _this.linkButton(row.show_path, "Show");}});

  this.childrenTable = $('#children_table').DataTable( {
    "order": [[ 0, "desc" ]],
    "columns": _this.columns,
    "pageLength": pageLength, // Global setting
    "lengthMenu": pageSettings, // Global setting
    "processing": true,
    "language": {
      "infoFiltered": "",
      "emptyTable": "No child items.",
      "processing": generateSpinner("medium")
    }
  });

  this.add(0);
}

/**
 * Add item to table
 *
 * @param [Integer] the offset to retrieve
 * @return [void]
 */
ChildrenPanel.prototype.add = function (offset) {
  var _this = this;
  _this.childrenTable.processing(true);
  $.ajax({
    url: _this.url,
    data: {"count": _this.count, "offset": offset},
    type: 'GET',
    dataType: 'json',
    success: function(result) {
      var show_delete = false
      for (i=0; i<result.data.length; i++) {
        var row = _this.childrenTable.row.add(result.data[i]);
      }
      _this.childrenTable.draw();
      if (result.count >= _this.count) {
        _this.add(result.offset + _this.count);
      } else {
        _this.childrenTable.processing(false);
      }
    },
    error: function(xhr,status,error){
      handleAjaxError(xhr, status, error);
      _this.childrenTable.processing(false);
    }
  });

}

/**
 * Refresh table
 *
 * @return [void]
 */
ChildrenPanel.prototype.refresh = function() {
  var _this = this;
  _this.childrenTable.clear();
  _this.add(0);
}

ChildrenPanel.prototype.synonymList = function(entry) {
  var items = [];
  $.each(entry.synonym, function(i, value) {
    items.push(value.label);
  });
  entry.synonym_list = items.join("; ");
}

ChildrenPanel.prototype.linkButton = function (path, text) {
  if (path === "") {
    return "&nbsp;"
  } else {
    return '<a href="' + path + '" class="btn  btn-xs">' + text + '</a>';
  }
}
