/*
* Managed Item Panel
*
* Requires:
* managed_item_table [Table] the managed item table
*/

/**
 * ISO Managed List Panel Constructor
 *
 * @return [void]
 */
function ManagedChildrenPanel(url, count, columns) {
  var _this = this;
  this.url = url;
  this.count = count;
  this.columns = columns;
  this.columns.push({"render" : function (data, type, row, meta) {return _this.linkButton(row.show_path, "Show");}});
  this.childrenTable = $('#children_table').DataTable( {
    "order": [[ 0, "desc" ]],
    "columns": _this.columns,
    "pageLength": pageLength, // Gloabl setting
    "lengthMenu": pageSettings, // Gloabl setting
    "autoWidth": false,
    "processing": true,
    "language": {
      "infoFiltered": "",
      "emptyTable": "No child items.",
      "processing": generateSpinner("small")
    }
  });
  this.add(0);
}

/**
 * Add item to table
 *
 * @param [String] uri the uri of the item being added
 * @param [Integer] key a unique reference
 * @return [void]
 */
ManagedChildrenPanel.prototype.add = function (offset) {
  var _this = this;
  _this.childrenTable.processing(true);
  $.ajax({
    url: _this.url,
    data: {"count": _this.count, "offset": offset},
    type: 'GET',
    dataType: 'json',
    success: function(result) {
      for (i=0; i<result.data.length; i++) {
        //_this.synonymList(result.data[i]);
        result.data[i]["extensible"]= _this.extensibleConvert(result.data[i]["extensible"]);
        result.data[i]["tags"] = colorCodeTagsBadge(result.data[i]["tags"]);
        var row = _this.childrenTable.row.add(result.data[i]);
      }
      _this.childrenTable.draw();
      if (result.count >= _this.count) {
        _this.add(result.offset + _this.count)
      } else {
        _this.childrenTable.processing(false);
      }
    },
    error: function(xhr,status,error){
      handleAjaxError(xhr, status, error);
      _this.childrenTable.processing(false);
    }
  });
}

ManagedChildrenPanel.prototype.extensibleConvert = function(extensible) {
    return "<span class='i-centered icon-extend"+(extensible ? " text-secondary-clr" : "-disabled text-accent-2")+"'></span>";
}

// ManagedChildrenPanel.prototype.synonymList = function(entry) {
//   var items = [];
//   $.each(entry.synonym, function(i, value) {
//     items.push(value.label);
//   });
//   entry.synonym_list = items.join("; ");
// }

ManagedChildrenPanel.prototype.linkButton = function (path, text) {
  if (path === "") {
    return "&nbsp;"
  } else {
    return '<a href="' + path + '" class="btn  btn-xs">' + text + '</a>';
  }
}
