<div class="row">
  <div class="col-md-6">
    <%= render partial: "shared/import/als_panel" %>  
  </div>
  <div class="col-md-6">
    <%= render partial: "shared/import/form_panel", :locals => {:import_path => method(:imports_als_path)} %>
  </div>
</div>