<%= javascript_tag "let sdtmIGDomainShowDataUrl = '#{show_url}';" %>

<div class="table-cardstyle all-columns loading-with-btns">
  <table id="show" class="table">
    <thead>
      <tr>
        <th class="fit">Ordinal</th>
        <th>Name</th>
        <th>Label</th>
        <th>Datatype</th>
        <th>Format</th>
        <th>CT or Format</th>
        <th>CT</th>
        <th>Role</th>
        <th>Notes</th>
        <th>Core</th>
      </tr>
    </thead>
  </table>
</div>
