<%= javascript_tag "let sdtmSDDomainShowDataUrl = '#{show_url}';" %>

<div class="table-cardstyle all-columns loading-with-btns">
  <table id="show" class="table">
    <thead>
      <tr>
        <th class="fit">Ordinal</th>
        <th>Name</th>
        <th>Label</th>
        <th>Datatype</th>
        <th>Format</th>
        <th class="no-break">CT and Format</th>
        <th>CT</th>
        <th>Role</th>
        <th class="th-wide">Description</th>
        <th class="th-wide">Notes</th>
        <th class="th-wide">Comment</th>
        <th>Core</th>
        <th class="th-wide">Method</th>
      </tr>
    </thead>
  </table>
</div>
