<%= javascript_include_tag 'shared/iso_concept_systems/iso_concept_list' %>
<div class="table-cardstyle">
  <table id="iso_concept_table" class="table table-striped table-bordered"  cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="fit">Identifier</th>
            <th>Label</th>
            <th class="fit">Version</th>
            <th class="fit">Version Label</th>
            <th class="fit"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
