<div class="tree-toolbar">
  <div class="btn-group" role="group" aria-label="First group">
    <button id="d3_minus" type="button" class="btn btn-primary">
      <i class="fa fa-minus-circle fa-lg fa-fw"></i>
    </button>
    <button id="d3_plus" type="button" class="btn  btn-primary">
      <i class="fa fa-plus-circle fa-lg fa-fw"></i>
    </button>
  </div>
  <div class="input-group" id="d3Search" >
    <input id="d3Search_input" class="form-control search-tree" type="search" placeholder="search for tag" name="search-tree">
    <span class="input-group-btn">
      <button class="btn btn-default" id="clearSearch" type="button">Clear <span class="fa fa-times"></span></button>
    </span>
  </div>
</div>
<div class="d3-tree" id="d3">
    <!-- D3 Area -->
</div> 