<%= javascript_tag "let formShowDataUrl = '#{show_url}';" %>

<div class="table-cardstyle all-columns">
  <table id="show" class="table">
    <thead>
      <tr>
        <th class="fit">Ordinal</th>
        <th class="fit">Label</th>
        <th>Question Text</th>
        <th class="fit">Datatype</th>
        <th class="fit">Format</th>
        <th class="fit">Mapping</th>
        <th>Completion</th>
        <th>Note</th>
        <th>Terminology</th>
      </tr>
    </thead>
  </table>
</div>
