<%= javascript_include_tag "shared/studies/study_soa" %>
<%= stylesheet_link_tag "shared/schedule" %>

<div class="text-xnormal font-light ci-card-title">
  Schedule of Assessments
</div>

<div id="soa-body">
  <table class='schedule-table'>
    <thead></thead>
    <tbody></tbody>
  </table>
</div>
