<%= javascript_include_tag "shared/context_dialog", "shared/studies/study_matrix",
                            "shared/studies/study_timeline", "shared/items_selector/items_selector_modal" %>
<%= stylesheet_link_tag "shared/studies/study_timeline" %>

<div class="text-xnormal font-light ci-card-title">
  Data Collection Timeline
</div>

<div id="tab-timeline-body" class="scroll-styled">

  <div id="study-matrix">
  </div>

  <div id="study-timeline">
  </div>

  <div id="btns-wrap">
    <a href="#new-timepoint-modal" id='new-timepoint' class="btn medium light" data-toggle="modal">+ New Timepoint</a>
  </div>

</div>
