<div class="tabs-layout" id="study-build-tabs">
  <div class="tabs-sel-wrap">
    <div class="tabs-sel scroll-styled">
      <div class="tab-option with-icon small" id="tab-content"><span class="icon-document bg-prim-bright"></span><span>Content</span></div>
      <div class="tab-option with-icon small" id="tab-design"><span class="icon-build bg-prim-bright"></span><span>Design and Interventions</span></div>
      <div class="tab-option with-icon small" id="tab-objectives"><span class="icon-selection bg-prim-bright"></span><span>Objectives</span></div>
      <div class="tab-option with-icon small" id="tab-endpoints"><span class="icon-multi bg-prim-bright"></span><span>Endpoints</span></div>
      <div class="tab-option with-icon small" id="tab-timeline"><span class="icon-timepoint bg-prim-bright"></span><span>Timeline</span></div>
      <div class="tab-option with-icon small" id="tab-soa"><span class="icon-date bg-prim-bright"></span><span>SoA</span></div>
    </div>
  </div>

  <div class="tab-wrap closed" data-tab="tab-content">
    <%= render partial: "shared/studies/study_content_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-design">
  </div>

  <div class="tab-wrap closed" data-tab="tab-objectives">
  </div>

  <div class="tab-wrap closed" data-tab="tab-endpoints">
  </div>

  <div class="tab-wrap closed" data-tab="tab-timeline">
    <%= render partial: "shared/studies/study_timeline_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-soa">
    <%= render partial: "shared/studies/study_soa_tab" %>
  </div>

</div>
