<%= stylesheet_link_tag 'shared/datatables_loading', 'custom/tabs_layout' %>
<%= javascript_include_tag 'shared/tags', 'shared/tabs_layout' %>

<div class="tabs-layout" id="selector-type-tabs">

  <div class="tabs-sel">
    <div class="tab-option with-icon small active" id="tab-content"><span class="icon-document bg-prim-bright"></span><span>Content</span></div>
    <div class="tab-option with-icon small" id="tab-design"><span class="icon-build bg-prim-bright"></span><span>Design and Interventions</span></div>
    <div class="tab-option with-icon small" id="tab-objectives"><span class="icon-selection bg-prim-bright"></span><span>Objectives</span></div>
    <div class="tab-option with-icon small" id="tab-endpoints"><span class="icon-multi bg-prim-bright"></span><span>Endpoints</span></div>
  </div>

  <div class="tab-wrap" data-tab="tab-content">
    <%= render partial: "shared/studies/study_content_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-design">
  </div>

  <div class="tab-wrap closed" data-tab="tab-objectives">
  </div>

  <div class="tab-wrap closed" data-tab="tab-endpoints">
  </div>

</div>

<a href="#selector-modal-1" class="btn medium" data-toggle="modal" style="display:none">Selector</a>
<%= render partial: "shared/items_selector/items_selector_modal", :locals => {id: "1"} %>
