<%= javascript_include_tag 'jquery-ui.min.js'%>
<%= javascript_include_tag "shared/context_dialog", "shared/studies/study_matrix",
                            "shared/studies/study_timeline", "shared/studies/timepoint", "shared/studies/visit", "shared/items_selector/items_selector_modal" %>
<%= stylesheet_link_tag "shared/studies/study_timeline", "jquery-ui.min.css" %>

<%= javascript_tag "var matrixUrl = '#{design_study_path(@study)}',
                        visitsUrl = '#{visits_study_path(@study)}';" %>

<div class="text-xnormal font-light ci-card-title">
  Data Collection Timeline
</div>

<div id="tab-timeline-body" class="scroll-styled">

  <div id="study-matrix">
  </div>

  <div id="study-timeline">
  </div>

  Visits (drag to a timepoint to attach):
  <div id="visits-list" class="bg-labels-wrap">
  </div>

  <hr>

  <div id="btns-wrap">
    <a href="#" id='new-timepoint' class="btn medium light">+ New Timepoint</a>
    <a href="#" id='new-visit' class="btn medium light">+ New Visit</a>
    <a href="#" id='save-timeline' class="btn medium green">Save</a>
  </div>


</div>
