<%= javascript_include_tag  "shared/studies/study_design" %>
<%= javascript_tag "var templateUpdateUrl = '#{from_template_protocol_path(@study.protocol.id)}';"%>

<div class="text-xnormal font-light ci-card-title">
  Study Design and Interventions
</div>

<div id="study-design">
  <center>
    <div class="text-xnormal font-light"> Protocol Template used in this Study: </div><br/>
    <div class="text-normal label-styled" id="template-name"> None </div> <br/>
    <br/>
    <button id="select-template" class="btn medium light">Select Protocol Template</button>
  </center>
</div>
