<%= stylesheet_link_tag "shared/table_list" %>
<%= javascript_include_tag "shared/vertical_list" %>

<div class="text-xnormal font-light ci-card-title">
  Study Content
</div>

<center>
  <table id="study-content-table" class="vertical-list-table">
  </table>
</center>
