<%= javascript_include_tag "shared/studies/study_timeline_tab" %>
<%= stylesheet_link_tag "shared/studies/study_timeline" %>

<div class="text-xnormal font-light ci-card-title">
  Data Collection Timeline
</div>

<div id="tab-timeline-body">

  <div id="timeline-matrix">
  </div>

</div>
