<%= javascript_include_tag "shared/studies/study_matrix", "shared/studies/study_timeline" %>
<%= stylesheet_link_tag "shared/studies/study_timeline" %>

<div class="text-xnormal font-light ci-card-title">
  Data Collection Timeline
</div>

<div id="tab-timeline-body" class="scroll-styled">

  <div id="study-matrix">
  </div>

  <div id="study-timeline">
  </div>

  <center>
    <button id='new-timepoint' class="btn medium light">+ New Timepoint</button>
  </center>

</div>
