<%= javascript_include_tag 'shared/thesauri/managed_concepts/rank/edit_ranks' %>

<div class="modal fade bd-example-modal-lg edit-properties" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true" id="rank-items-modal">
  <div class="modal-dialog modal-lg wide-screen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title text-normal" id="tableModalLabel">
          <span class="icon-rank text-link" style="margin-right:10px;"></span>
          Rank Code List Items (<%= item.identifier %>)
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="table-width-wrapper table-cardstyle all-columns">
            <div class="errors"></div>

            <div class="font-light">
              To assign / change Rank value, click on the respective cell. Use the <i>Tab</i> key to traverse the cells quickly. <br/>
              To automatically assign Ranks (1 to N) for items in the order in which they are currently displayed, click the <span class="font-regular text-link">Auto-Rank</span> button. <br/>
              <i>(This will overwrite current Ranks. It will not be saved until you press the Save changes button)</i><br/>
              <span class="font-regular">Don't forget to Save your changes when you're done editing</span>.

              <center>
                <button class="btn medium light" id="auto-rank-btn">Auto-Rank by order</button>
              </center>
            </div>

            <table id="rank-table" class="table" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="fit"><span class="text-link">Rank</span></th>
                  <th class="fit">Identifer</th>
                  <th class="fit">Submission Value</th>
                  <th>Preferred Term</th>
                  <th>Synonyms</th>
                  <th>Definition</th>
                  <th>Tag(s)</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn medium light" id="close-modal-button" data-dismiss="modal" aria-label="Close">
          Close
        </button>
        <button type="button" class="btn medium red ttip" id="remove-rank-button">
          <span class="ttip-text ttip-left shadow-small text-medium">
            Clears Rank of this Code List
          </span>
          <span class="icon-times text-tiny"></span>
          Disable Rank
        </button>
        <button class="btn medium green submit-btn" id="submit-button">
          <span class="icon-ok text-tiny"></span>
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
