@import "custom/globals.scss";

.row.centered{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

// SHADOWS
.shadow-small{
  -webkit-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
}

.shadow-medium{
  -webkit-box-shadow: 6px 0px 15px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 6px 0px 15px 0px rgba(0,0,0,0.15);
  box-shadow: 6px 0px 15px 0px rgba(0,0,0,0.15);
}

// TOOLTIP
.ttip {
  position: relative;
  display: inline-block;
}

.ttip .ttip-text {
  font-family: $font-light;
  top: 60%;
  margin-top: 10px;
  border-radius: 5px;
  visibility: hidden;
  background-color: white;
  text-align: center;
  padding: 7px 12px;
  position: absolute;
  z-index: 12;
  white-space: nowrap;
}

.ttip:hover .ttip-text {
  visibility: visible;
}

.ttip-right{
  left: 0%;
}

.ttip-left{
  right: 0%;
}

.ttip-top{
  top: -150% !important;
}

// ARROW ROTATION

.cir-ar-right{
  transform: rotate(90deg);
}

.cir-ar-down{
  transform: rotate(180deg);
}

.cir-ar-left{
  transform: rotate(270deg);
}
// BREADCRUMBS

.breadcrumb a {
  font-size: 12px !important;
  margin-left: 0px !important;
}

.breadcrumb li {
  font-size: 12px !important;
}

.breadcrumb > li + li:before {
  content: "/";
  /*padding: 0 5px;*/
}

.breadcrumb {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
  width: 100%;
}

// TEXT
.text-centered{
  width: 100%;
  text-align: center;
}

.text-right{
  text-align: right;
}

// ICO HEADERS used in the community version dashboard
.ico-header{
  width: 55%;
  min-width: 250px;
  background: $grey-white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 1px solid $grey-bright;
  margin: 0 auto;
}

.ico-header .ico{
  width: 40px;
  margin: 8px 10px;
  transition: transform .3s;
}

.ico-header .title{
  font-size: $font-xnormal;
  color: $grey-medium;
  font-family: $font-light;
  margin: 0px 10px;
}

.ico-header:hover .ico{
  transform: scale(1.1);
}

// LIST WRAP (CDISC_TERMS)

.list-wrap{
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 600px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-wrap a{
  white-space: nowrap !important;
}

.list-wrap a:hover{
  text-decoration: none;
}

.list-wrap a:hover .text{
  transform: translateX(5px);
}

// LIST CARDS
.list-card{
  background: $grey-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  padding: 8px 8px;
  position: relative;
  min-height: 50px;
}

.list-card .card-badge{
  width: 10px;
  height: 100%;
  position: absolute;
  display: block;
}

.list-card .text{
  color: $grey-medium;
  font-size: $font-small;
  font-family: $font-normal;
  margin-left: 20px;
  white-space: normal;
  transition: transform .3s;
}

.list-card .sub-text{
  font-size: $font-small;
  font-family: $font-light;
}

// ICON LIST CARD

.list-card.i-lc{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.list-card.i-lc .text-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-card.i-lc .icon{
  margin: -5px 10px 0 20px;
}

.list-card.i-lc .icon:hover{
  color: $grey-light;
}

.list-card.i-lc .text{
  margin-left: 0 !important;
}

.ci-card-title{
  border-bottom: 1px solid $primary-color-bright;
  margin-bottom: 14px;
  margin-top: 30px;
}

.ci-card-title:first-of-type{
  margin-top: 0px;
}

// BADGES
.circular-badge{
  font-family: $font-bold;
  font-size: 12pt;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  display: inline-block;
}

.circular-badge.big{
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 22pt;
}

.circular-badge.small{
  width: 30px;
  height:30px;
  line-height: 32px;
  font-size: 10pt;
}

.circular-badge.tiny{
  width: 8px;
  height: 8px;
}

.min-badge-item{
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.min-badge-item .circular-badge{
  margin-right: 4px;
}

// DIVIDERS
.divider{
  width: 100%;
  height: 1px;
  display: block;
  margin: 5px auto;
}

.form-wrap input{
  min-width: 170px;
  font-size: $font-small;
  font-family: $font-light;
  color: $grey-medium;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  margin: 6px 0;
  padding: 6px;
  border-bottom: 2px solid $primary-color-bright;
}

.form-wrap .checkbox input[type="checkbox"] {
  min-width: 0px;
  border-bottom: 0px;
  position: relative;
}

.form-wrap .checkbox label {
  padding-left: 5px;
}

//
.boxed-title{
  padding: 6px 20px;
  display: block;
  text-align: center;
  color: $grey-white;
  font-size: $font-large;
}

// ALERTS

.alert{
  margin: 10px 0;
  font-family: $font-light;
  background-color: $grey-white !important;
  -webkit-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
}

// SCROLLBARS
body::-webkit-scrollbar, #sidebar::-webkit-scrollbar,
  .list-wrap::-webkit-scrollbar, #main_area::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track, #sidebar::-webkit-scrollbar-track,
  #main_area::-webkit-scrollbar-track
{
    background-color: $grey-bright;
}

body::-webkit-scrollbar-thumb, #sidebar::-webkit-scrollbar-thumb,
  #main_area::-webkit-scrollbar-thumb
{
  background-color: #e8e8e8;
}

.list-wrap::-webkit-scrollbar-track{
  background: white;
}

.list-wrap::-webkit-scrollbar-thumb{
  background-color: $grey-bright;
}

@media (max-width: 768px){
  #main_area::-webkit-scrollbar-thumb, #main_area::-webkit-scrollbar-track,
    #main_area::-webkit-scrollbar, body::-webkit-scrollbar-thumb,
      body::-webkit-scrollbar-track, body::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px){
  #main_area::-webkit-scrollbar-thumb, #main_area::-webkit-scrollbar-track,
    #main_area::-webkit-scrollbar {
    display: none;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body{
    scrollbar-base-color: $grey-bright;
    scrollbar-face-color: #e8e8e8;
    scrollbar-track-color: $grey-bright;
    scrollbar-arrow-color: #e8e8e8;
    scrollbar-shadow-color: $grey-bright;
    scrollbar-dark-shadow-color: $grey-bright;
  }

  .list-card .card-badge{
    margin-top: -8px;
  }

  .list-card.i-lc .card-badge{
    margin-top: -26px;
  }
}
// .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
// .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6,
// .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9,
// .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11,
// .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
//   position: initial;
// }
