@import "custom/globals.scss";

// BUTTONS
.btn{
  background: $primary-color-medium;
  color: $grey-white;
  font-family: $font-light;
  padding: 3px 10px;
  border: 0;
  border-radius: $button-border-radius;
  margin: 0px 5px;
}

.btn:hover{
  background-color: $primary-color-light;
  color: $grey-white !important;
}

.btn:active{
  color: $grey-white;
  background: $primary-color-dark;
}

.btn.nomargin{
  margin: 0px;
}

.btn.medium{
  padding: 5px 10px;
  font-size: $font-small;
}

.btn.big{
  padding: 10px 10px;
  font-size: $font-normal;
}

.btn.small{
  padding: 3px 6px;
  font-size: $font-tiny;
}

.btn.sm-margin{
  margin: 4px 2px;
}

.btn.red{
  background: $accent-color-2;
}

.btn.red:hover{
  background: $accent-color-2-light;
}

.btn.red:active{
  background: $accent-color-2-dark !important;
}

.btn.green{
  background: $secondary-color-medium;
}

.btn.green:hover{
  background: $secondary-color-light;
}

.btn.green:active{
  background: $secondary-color-dark !important;
}

.btn:focus{
  color: white;
}

.btn.disabled{
  opacity: .5;
  pointer-events: none;
}

// Wrapper for multiple in-line buttons, takes 100% width and the contents are centered
.btns-wrap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 5px;
}

.actions-wrap{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
  margin-top: -6px;
  flex-wrap: wrap;
}

// An icon button, inside of which is an icon symbol span element, and a ico-btn-text span element.
.ico-btn{
  padding: 6px 6px;
  display: inline-flex;
  align-items: center;
  background: $grey-white;
  color: $primary-color-medium;
  margin: 5px 5px;
}

.ico-btn:hover .ico-btn-text{
  color: $grey-white !important;
}

.ico-btn:active, .ico-btn:focus{
  color: $grey-white;
  background: $primary-color-medium;
}

.ico-btn .ico{
  display: flex;
  align-self: center;
  font-size: $font-xlarge;
}

.ico-btn .ico-btn-text{
  margin: 0px 5px;
}

.ico-btn.light{
  color: $primary-color-bright;
}

.ico-btn.light:hover{
  background: $primary-color-bright !important;
}

.ico-btn.light:hover .ico{
  color: $grey-white !important;
}

.ico-btn.light:active, .ico-btn.light:focus{
  background: $grey-white;
}

.ico-btn.light .ico-btn-text{
  color: $grey-medium;
}

.ico-btn.light:focus .ico-btn-text, .ico-btn.light:active .ico-btn-text{
  color: $grey-medium;
}

.ico-btn.light:focus .ico, .ico-btn.light:active .ico{
  color: $primary-color-bright;
}

.ico-btn.highlight, .ico-btn.light.highlight{
  color: $grey-white;
  background: $primary-color-light;
}

.ico-btn.highlight:focus .ico{
  color: $grey-white;
}

.ico-btn.highlight:hover, .ico-btn.light.highlight:hover{
  background: $primary-color-bright;
}

.ico-btn.highlight .ico-btn-text, .ico-btn.light.highlight .ico-btn-text{
  color: $grey-white;
}

.ico-btn.small-ico .ico{
  font-size: $font-normal;
}

.ico-btn.bordered{
  border: 2px solid $primary-color-brightest;
}

// Ico btn secondary

.ico-btn-sec{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  margin-top: 6px;
  flex-wrap: wrap;
  color: $grey-medium;
}

.ico-btn-sec.disabled {
  pointer-events: none;
}

.ico-btn-sec:focus{
  text-decoration: none;
}

.ico-btn-sec:active, .ico-btn-sec:focus{
  color: $grey-medium;
}

.ico-btn-sec.disabled .circular-badge{
  background: $grey-light;
}

.ico-btn-sec .circular-badge.green{
  background: $secondary-color-medium;
}

.ico-btn-sec:hover .circular-badge.green{
  background: $secondary-color-light;
}

.ico-btn-sec .ico-btn-sec-text{
  font-family: $font-light;
  margin-left: 6px;
}

.ico-btn-sec .circular-badge{
  background: $accent-color-2;
  color: $grey-white;
}

.ico-btn-sec:hover .circular-badge{
  background: $accent-color-2-light;
}

.ico-btn-sec:hover{
  text-decoration: none;
  color: $grey-medium;
}

#timeout .circular-badge{
  background: $secondary-color-light;
}

#timeout.disabled .circular-badge{
  background: $grey-light;
}

.card.warning #timeout .circular-badge{
  background: $accent-color-1;
}

.card.danger #timeout .circular-badge{
  background: $accent-color-2;
}

.card.danger #timeout .ico-btn-sec-text{
  color: $accent-color-2;
}

// FIXES: #ignore, do not change
.paginate_button.active a{
  background: $primary-color-medium !important;
  color: $grey-white !important;
}

.paginate_button a{
  color: $primary-color-medium !important;
}

button:focus, input[type="submit"] {
  outline: none !important;
}

a:focus{
  color: $primary-color-light;
}

.btn:active{
  background: $primary-color-medium !important;
}

.paginate_button a:focus{
  outline: none !important;
}
