@import "custom/globals.scss";

// CARDS

.card{
  background: $grey-white;
  border-radius: $card-border-radius;
  margin: 20px;
  //position: relative;
  // min-width: 450px;

  -webkit-box-shadow: 5px 5px 11px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 11px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 11px -5px rgba(0,0,0,0.2);
}

.card.wide{
  min-width: 450px;
}

.card.narrow{
  min-width: 300px;
}

.card-header{
  background: $primary-color-light;
  color: $grey-white;
  font-size: $font-normal;
  font-family: $font-light;
  margin: 0;
  border-radius: $card-border-radius $card-border-radius 0px 0px;
  padding: 18px 24px;
  width: 100%;
}

.card-subheader{
  background: $primary-color-bright;
  color: $grey-white;
  padding: 5px 24px 4px 24px;
  font-family: $font-light;
  font-size: 9pt;
}

.card-content{
  padding: 30px 20px;
  color: $grey-medium;
  overflow: auto;
}

.card-content table{
  width: 100% !important;
}

.card.warning {
  border: 5px solid $accent-color-1;
}

.card.danger{
  border: 5px solid $accent-color-2;
}

.card.info{
  border: 5px solid $primary-color-bright;
}

.card.danger .card-content, .card.warning .card-content,
.card.info .card-content{
  padding: 25px 15px;
}

// CARD-STYLE ITEMS

.card-item{
  display: flex;
  max-width: 1000px;
  height: 80px;
  margin: auto;
  padding: 10px 25px;
  align-items: center;
  cursor: pointer;
  border: 1px solid $grey-bright;
}

.card-item:hover .card-item-info, .card-item:hover .circular-badge{
 transform: translateX(10px);
}

.card-item .card-item-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.card-item .card-item-info, .card-item .circular-badge{
  transition: transform .5s;
}

a.card-item{
  color: inherit;
}

a.card-item:hover, a.card-item:focus{
  text-decoration: none;
}


// CARD-STYLE TABLE

.table-cardstyle th{
  vertical-align: middle;
}

.table-cardstyle th:last-child, th.ignore{
  color: transparent;
  pointer-events: none;
}

.table-cardstyle.all-columns th:last-child{
  color: $grey-medium;
  pointer-events: all;
}

.table-cardstyle .table, .table-cardstyle td, .table-cardstyle th, .table-cardstyle tr,
.table-invisible .table, .table-invisible td, .table-invisible th, .table-invisible tr{
  border: 0px !important;
  background: transparent !important;
}

.table-cardstyle td{
  vertical-align: middle !important;
  font-family: $font-light;
}

.table-cardstyle td, .table-cardstyle th{
  border-bottom: 1px solid $grey-light !important;
}

.table-cardstyle td, .table-invisible td{
  height: 40px !important;
}

.table-cardstyle tr.selected{
  color: $secondary-color-medium !important;
}

.table-cardstyle .dataTables_info, .table-cardstyle .dataTables_paginate,
  .table-cardstyle .dataTables_length, .table-cardstyle .dataTables_filter{
  font-family: $font-light;
}

.table-invisible .dataTables_info, .table-invisible .dataTables_paginate{
  padding-top: 20px !important;
}

.table-invisible .dataTables_info{
  display: none;
}

.table-invisible .dataTables_info, .table-invisible .dataTables_paginate,
  .table-invisible .dataTables_length, .table-invisible .dataTables_filter{
  font-family: $font-light;
}

// SCALING
.col-md-1.card, .col-md-2.card, .col-md-3.card, .col-md-4.card,
.col-md-5.card, .col-md-6.card,.col-md-7.card, .col-md-8.card,
.col-md-9.card, .col-md-10.card, .col-md-11.card, .col-md-12.card{
  padding: 0px;
}

.col-md-1.card{
  max-width: calc(8.3% - 40px);
}

.col-md-2.card{
  max-width: calc(16.6% - 40px);
}

.col-md-3.card, .col-md-3{
  max-width: calc(25% - 40px);
}

.col-md-4.card{
  max-width: calc(33.3% - 40px);
}

.col-md-5.card{
  max-width: calc(41.6% - 40px);
}

.col-md-6.card{
  max-width: calc(50% - 40px);
}

.col-md-7.card{
  max-width: calc(58.3% - 40px);
}

.col-md-8.card{
  max-width: calc(66.6% - 40px);
}

.col-md-9.card{
  max-width: calc(75% - 40px);
}

.col-md-10.card{
  max-width: calc(83.3% - 40px);
}

.col-md-11.card{
  max-width: calc(91.6% - 40px);
}

.col-md-12.card{
  max-width: calc(100% - 40px);
}

@media (max-width:768px) {
  .col-md-1.card, .col-md-2.card, .col-md-3.card, .col-md-4.card,
  .col-md-5.card, .col-md-6.card,.col-md-7.card, .col-md-8.card,
  .col-md-9.card, .col-md-10.card, .col-md-11.card, .col-md-12.card{
    min-width: initial !important;
    max-width: calc(100% - 20px) !important;
    margin: 10px !important;
  }

  .card-item{
    padding: 10px 10px;
  }
}
