@import "custom/vars.scss";

.icon-context-menu{
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px;
  color: $grey-light;
  font-size: $font-normal;
  text-align: left;
}

.icon-context-menu:hover{
  color: $grey-medium;
}

.icon-context-menu:focus{
  color: $grey-medium;
  outline: none;
}

.icon-context-menu:focus .context-menu {
  transform: scale(1.0) !important;
  opacity: 1;
}

.context-menu:hover{
  transform: scale(1.0) !important;
  opacity: 1;
}

.context-menu{
  position: absolute;
  background: $grey-white;
  z-index: 20;
  border: 1px solid $grey-bright;
  display: block;
  transition: transform .1s, opacity .3s;
  transform: scale(0) !important;
  transform-origin: top left;
  opacity: 0;
}

.context-menu.left{
  transform: translateX(-150px);
}

.context-menu .option{
  padding: 10px 14px;
  min-width: 150px;
  font-family: $font-light;
  color: $grey-medium;
  display: block;
  white-space: nowrap;
}

.context-menu .option.disabled{
  pointer-events: none;
  color: $grey-light;
}

.context-menu [class^="icon-"]{
  margin-right: 10px;
}

.context-menu .option:hover{
  background: $secondary-color-medium;
  color: $grey-white;
  text-decoration: none;
}

.context-menu.blue .option:hover{
  background: $primary-color-medium;
}
// FIXES

table .row{
  margin: 0;
  padding: 0;
}

.col-sm-12{
  position: static;
}

div.dataTables_wrapper div.dataTables_processing{
  margin-top: 60px !important;
  margin-bottom: 0 !important;
}
