@import "custom/vars.scss";

// Styling of the navbar element
.navbar{
  font-family: $font-light;
  border-bottom: 4px solid;
  border-image-source: linear-gradient(270deg, rgb(83,134,156), rgb(150,185,71));
  border-image-slice: 1;
}

.navbar-brand{
  font-size: $font-normal;
}

// User badge related styling
.user-badge-wrap{
  height: 50px !important;
  display: flex;
  align-items: center;
}

.user-badge{
  margin: 0px 10px 0px 10px;
}

.user-icon{
  font-family: $font-bold;
  font-size: 12pt;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  display: block;
}

#user-name{
  font-family: $font-primary;
}

// A vertical line acting as a divider of icons in the navbar
.vertical-divider{
  width: 1px;
  height: 50%;
  background-color: $grey-light;
  margin-right: 20px;
  margin-left: 10px;
  display: block;
}

a .text-light:hover{
  color: #fff;
}

// Restyles the navbar menu into mobile-friendly version with text captions visible

.navbar-toggle, .sidebar-toggle {
  background: transparent !important;
  border: 0px;
}

.navbar-collapse{
  border: 0px;
}

.sidebar-toggle{
  line-height: 2px;
  transition: transform .3s;
}

.navbar-collapse.collapse.in .ttip-text,
  .navbar-collapse.collapsing .ttip-text{
  visibility: visible;
  top: initial;
  margin: 0;
  border-radius: 0;
  background-color: initial;
  text-align: initial;
  padding: 0;
  position: initial;
  color: $grey-light;
  -webkit-box-shadow: initial;
  -moz-box-shadow: initial;
  box-shadow: initial;
}

.navbar-collapse.collapse.in .user-badge-wrap,
  .navbar-collapse.collapsing .user-badge-wrap{
  display: none;
}


@media (max-width: 768px){
  .navbar-brand{
    font-size: $font-small;
  }

  .navbar-toggle{
    margin-left:0;
    margin-right:0;
  }
}
