@import "custom/vars.scss";

/* FONTS */
@font-face {
  font-family: $font-light;
  src:font-url('Roboto-Light.ttf');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: $font-primary;
  src:font-url('Roboto-Regular.ttf');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: $font-bold;
  src:font-url('Roboto-Medium.ttf');
  font-weight: bold;
	font-style: normal;
}

.font-regular{
  font-family: $font-primary;
}

.font-light{
  font-family: $font-light;
}

.font-bold{
  font-family: $font-bold;
}

body{
  font-family: $font-primary !important;
}

/* COLORS */

/* Primary color (blue) */
.bg-prim-dark{
  background: $primary-color-dark;
}

.bg-prim-medium {
  background: $primary-color-medium;
}

.bg-prim-light {
  background: $primary-color-light;
}

.bg-prim-bright {
  background: $primary-color-bright;
}

/* Secondary color (green) */
.bg-sec-dark{
  background: $secondary-color-dark;
}

.bg-sec-medium {
  background: $secondary-color-medium;
}

.bg-sec-light {
  background: $secondary-color-light;
}

.bg-sec-bright {
  background: $secondary-color-bright;
}

/* Accent colors (orange & red) */
.bg-accent-1{
  background: $accent-color-1;
}

.bg-accent-2{
  background: $accent-color-2;
}

.bg-accent-3{
  background: $accent-color-3;
}

/* Text & grey colors */
.bg-grey-dark{
  background: $grey-dark;
}

.bg-grey-medium {
  background: $grey-medium;
}

.bg-grey-light {
  background: $grey-light;
}

.bg-grey-bright {
  background: $grey-bright;
}

.text-dark{
  color: $grey-dark;
}

.text-medium {
  color: $grey-medium;
}

.text-light {
  color: $grey-light;
}

.text-bright {
  color: $grey-bright;
}

.text-white {
  color: $grey-white;
}

.text-accent-1 {
  color: $accent-color-1;
}

.text-accent-1-dark{
  color: $accent-color-1-dark;
}

.text-accent-2{
  color: $accent-color-2;
}

.text-accent-3{
  color: $accent-color-3;
}

.text-link{
  color: $primary-color-light;
}

.text-prim-light{
  color: $primary-color-bright;
}

.text-secondary-clr{
  color: $secondary-color-medium;
}

/* SIZES */
.text-tiny{
  font-size: $font-tiny;
}

.text-small{
  font-size: $font-small;
}

.text-normal{
  font-size: $font-normal;
}

.text-xnormal{
  font-size: $font-xnormal;
}

.text-large{
  font-size: $font-large;
}

.text-xlarge{
  font-size: $font-xlarge;
}

.text-xxlarge{
  font-size: $font-xxlarge;
}

.text-xxxlarge{
  font-size: $font-xxxlarge;
}

.p-justified{
  width: 100%;
  text-align: justify;
}


.clickable{
  cursor: pointer;
}
