@font-face {
  font-family: 'icomoon';
  src:  url(asset_path('icon-fonts/icomoon.eot?osybu5'));
  src:  url(asset_path('icon-fonts/icomoon.eot?osybu5#iefix')) format('embedded-opentype'),
    url(asset_path('icon-fonts/icomoon.ttf?osybu5')) format('truetype'),
    url(asset_path('icon-fonts/icomoon.woff?osybu5')) format('woff'),
    url(asset_path('icon-fonts/icomoon.svg?osybu5#icomoon')) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-centered{
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon-lock-open:before {
  content: "\e94b";
}
.icon-multi:before {
  content: "\e94a";
}
.icon-current:before {
  content: "\e946";
}
.icon-ok-circle:before {
  content: "\e949";
}
.icon-extension:before {
  content: "\e945";
}
.icon-new-version:before {
  content: "\e947";
}
.icon-subsetted:before {
  content: "\e948";
}
.icon-ok:before {
  content: "\e944";
}
.icon-note:before {
  content: "\e942";
}
.icon-lock:before {
  content: "\e943";
}
.icon-subset:before {
  content: "\e941";
}
.icon-arrow-sh-circle:before {
  content: "\e940";
}
.icon-plus:before {
  content: "\e93e";
}
.icon-sub-value-changes:before {
  content: "\e93c";
}
.icon-changes:before {
  content: "\e93d";
}
.icon-old:before {
  content: "\e93a";
}
.icon-new:before {
  content: "\e93b";
}
.icon-context-menu-hor:before {
  content: "\e937";
}
.icon-view:before {
  content: "\e934";
}
.icon-view-circle:before {
  content: "\e93f";
}
.icon-document:before {
  content: "\e935";
}
.icon-search:before {
  content: "\e936";
}
.icon-context-menu:before {
  content: "\e933";
}
.icon-edit-circle:before {
  content: "\e930";
}
.icon-arrow-circle-d:before {
  content: "\e938";
}
.icon-arrow-circle-r:before {
  content: "\e939";
}
.icon-arrow-circle:before {
  content: "\e925";
}
.icon-edit:before {
  content: "\e931";
}
.icon-times-circle:before {
  content: "\e932";
}
.icon-extend-disabled:before {
  content: "\e92f";
}
.icon-history:before {
  content: "\e92e";
}
.icon-info-circle:before {
  content: "\e926";
}
.icon-version-circle:before {
  content: "\e92d";
}
.icon-extend:before {
  content: "\e92c";
}
.icon-info:before {
  content: "\e927";
}
.icon-tag-circle:before {
  content: "\e92a";
}
.icon-tag:before {
  content: "\e92b";
}
.icon-long-arrow:before {
  content: "\e929";
}
.icon-file:before {
  content: "\e928";
}
.icon-filter:before {
  content: "\e923";
}
.icon-browse-all:before {
  content: "\e91f";
}
.icon-search-latest:before {
  content: "\e920";
}
.icon-see-changes:before {
  content: "\e921";
}
.icon-submission-changes:before {
  content: "\e922";
}
.icon-arrow-u-nopad:before {
  content: "\e91e";
}
.icon-breadcrumb:before {
  content: "\e91d";
}
.icon-file-pdf:before {
  content: "\e917";
}
.icon-file-csv:before {
  content: "\e924";
}
.icon-minus-circle:before {
  content: "\e914";
}
.icon-plus-circle:before {
  content: "\e916";
}
.icon-forms:before {
  content: "\e91c";
}
.icon-times:before {
  content: "\e90f";
}
.icon-fast-backward:before {
  content: "\e912";
}
.icon-fast-forward:before {
  content: "\e913";
}
.icon-list-ul:before {
  content: "\e915";
}
.icon-step-backward:before {
  content: "\e918";
}
.icon-step-forward:before {
  content: "\e919";
}
.icon-trash:before {
  content: "\e91a";
}
.icon-upload:before {
  content: "\e91b";
}
.icon-adam:before {
  content: "\e910";
}
.icon-sdtm:before {
  content: "\e911";
}
.icon-utils:before {
  content: "\e90d";
}
.icon-sysadmin:before {
  content: "\e90e";
}
.icon-biocon:before {
  content: "\e90b";
}
.icon-impexp:before {
  content: "\e90c";
}
.icon-terminology:before {
  content: "\e909";
}
.icon-dashboard:before {
  content: "\e90a";
}
.icon-arrow-d:before {
  content: "\e905";
}
.icon-arrow-l:before {
  content: "\e906";
}
.icon-arrow-r:before {
  content: "\e907";
}
.icon-arrow-u:before {
  content: "\e908";
}
.icon-print:before {
  content: "\e900";
}
.icon-sign-out:before {
  content: "\e901";
}
.icon-users:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e904";
}
