@import "custom/vars.scss";

.tab-wrap{
  max-height: 640px;
  overflow: auto;
}

.tab-wrap .row{
  margin: 0;
}

.col-md-4.card, .col-md-8.card{
  height: 800px;
}

#differences_table_wrapper .row:nth-of-type(odd) {
  display: none !important;
}

div.dataTables_wrapper div.dataTables_processing{
  margin: 0 !important;
  height: 100% !important;
}

@media(max-width: 1400px){
  .col-md-4.card, .col-md-8.card{
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
  }
}
