@import "custom/vars";

.card-with-tabs{
  padding-top: 6px;
}

.tabs-sel{
  width: 100%;
  display: flex;
  direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-bottom: 1px solid $grey-bright;
}

.tab-option{
  display: inline-flex;
  align-items: center;
  background: $grey-bright;
  color: $grey-medium;
  font-family: $font-light;
  min-width: 100px;
  padding: 6px 14px;
  text-align: center;
  justify-content: center;
  position: relative;
  border: 1px solid $grey-bright;
  cursor: pointer;
  overflow: hidden;
}

.tab-option:hover {
  background: $grey-white;
  color: $primary-color-light;
}

.tab-option.active{
  background: white;
  border-bottom: 3px solid $secondary-color-light;
  color: $primary-color-light;
  padding-top: 6px;
}

.tab-option.disabled{
  opacity: .5;
  pointer-events: none;
}

.tab-wrap{
  width: 100%;
  transition: opacity .2s, transform .2s;
  visibility: visible;
  padding: 10px;
  transform: translateY(0px);
}

.tab-wrap.closed{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  position: absolute;
  left: 50px;
}

.tab-wrap.processing{
  min-height: 100px;
  position: relative;
}

.tab-wrap.closed.processing{
  min-height: 100px;
  position: absolute;
}

.tab-wrap.processing .spinner-container{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  bottom: 0px!important;
  top: 0px!important;
  left: 0px!important;
  right: 0px!important;
  width: 100%;
  height: 100%;
}
