@import "custom/vars.scss";

.btn-group{
  display: flex;
   justify-content: center;
   align-items: center;
}

.tree-toolbar{
  width: 100%;
  justify-content: space-between;
}

.upper td{
  vertical-align: top;
  padding-top: 8px;
}

.upper textarea{
  margin-top: 0;
  padding-top: 0;
  width: 200px;
  max-width: 200px;
  border-width: 0 0 2px 0px;
}

#manage_tags_card .form-wrap input::placeholder, #manage_tags_card .form-wrap textarea::placeholder{
  color: $grey-light;
}

#iso_managed_panel .col-sm-7{
  width: 100%;
}

.card-content table.table-fit{
  width: unset!important;
}

.card-content table.table-fit td{
  padding-right:5px;
}

#edit_label, #add_label{
  outline: none;
  border: none;
  min-width: unset !important;
  width: 120px;
  text-align: center;
  padding: 5px 10px;
}

#add_label{
  box-shadow: inset 0 0 0 2px $grey-light;
}

#add_description{
  border-color: $grey-light;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 0px;
}
.tagItem {
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}
#tag_panel, .attribute-panel{
  position: relative;
}

.search-result-bg {
  stroke-width: 4px;
  transition: all .5s;
  fill: $accent-color-2!important;
}

.search-result-text {
  fill: white!important;
}

.d3-tree {
  overflow-x: auto;
  overflow-y: hidden;
}

.d3-tree svg{
  margin: -10px;
}

.selected-description {
  font-size: 11px;
}

.selected-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-display{
  display: flex;
  flex-direction: column;
}

.tag-item.removable{
  transition: box-shadow .2s;
}

.tag-item.removable:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 2px $accent-color-2-light !important;
  position: relative;
}

.tag-item.removable:hover::after{
  position: absolute;
  font-family: 'icomoon';
  content: "\e932";
  font-size: 12pt;
  color: $accent-color-2;
  top: -11px;
  right: -9px;
}

.tag-item.clickable.selected{
  box-shadow: inset 0 0 0 0px !important;
  color: white;
  background: $primary-color-bright !important;
}

@media (max-width:1330px){
  .col-md-7, .col-md-5 {
    max-width: unset !important;
    width: calc(100% - 40px) !important
  }
}
