$font-primary: 'Roboto';
$font-light: 'Roboto-Thin';
$font-bold: 'Roboto-Bold';

$primary-color-dark: #2b4753;
$primary-color-medium: #407085;
$primary-color-light: #6d91a1;
$primary-color-bright: #9dc0cf;
$primary-color-brightest: #cadee8;

$secondary-color-dark: #6e8a30;
$secondary-color-medium: #96b947;
$secondary-color-light: #c0dd78;
$secondary-color-bright: #def3a9;

$accent-color-1: #f5d684;
$accent-color-1-dark: #e0bf67;
$accent-color-2: #e48080;
$accent-color-2-light: #f2a6a6;
$accent-color-2-dark: #c95c5c;
$accent-color-3: #f9c19b;

$grey-dark: #414141;
$grey-medium: #6f6f6f;
$grey-light: #c4c4c4;
$grey-bright: #f4f4f4;
$grey-white: #ffffff;

$font-tiny: 8pt;
$font-small: 10pt;
$font-normal: 12pt;
$font-xnormal: 14pt;
$font-large: 16pt;
$font-xlarge: 20pt;
$font-xxlarge: 30pt;

$card-border-radius: 10px;
$button-border-radius: 20px;
$row-highlight-background: #f8f8f8;
$content-editable-color: rgba(159, 176, 181, .2);
$content-editable-color-dark: rgba(159, 176, 181, .5);
