@import "custom/globals.scss";

.h-outside-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.h-inner-wrap{
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  padding-left: 16px;
  color: $grey-medium;
}

.h-inner-wrap.centered{
  align-items: center;
}

.h-inner-wrap:first-of-type{
  justify-content: center;
  align-self: flex-start;
}

.h-inner-wrap.mid{
  flex-grow: 2;
}

.icotext{
  margin: 0 6px;
}

.ttip-ico{
  color: $primary-color-light;
  font-size: 13pt;
}

.actions-wrap{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
}

.synonym-label{
  padding: 4px 12px;
  border-radius: 20px;
  background: $grey-bright;
  color: $grey-medium;
  margin: 0px 4px;
  display: inline-block;
}

.definition-label{
  max-width: 700px;
  text-align: justify;
}

.timer{
  margin: 0 10px;
  font-family: $font-light;
  color: $grey-medium;
}

.circular-badge.big.is-ext{
  border: 3px solid $secondary-color-light;
  line-height: 65px;
}

.circular-badge.big.not-ext{
  border: 3px solid $accent-color-2-light;
  line-height: 65px;
}

.label-w-margin{
  margin-top: 6px;
}

.header-title{
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 4px 18px;
  display: inline-block;
  color: white;
  background: $primary-color-bright;
  font-family: $font-light;
}

// .circular-badge.big{
//   position: relative;
// }

// .extensible-ico-badge{
//   position: absolute;
//   font-size: $font-small;
//   right: 0%;
//   top: 0%;
// }
//
// .extensible-ico-badge.is-ext{
//   color: $secondary-color-medium;
// }
//
// .extensible-ico-badge.not-ext{
//   color: $grey-light;
// }
