/*
* Study Timeline Tab
*
* Only in Study Build page
*/

/**
 * Study Timeline Constructor
 *
 * @return [void]
 */
function StudyTimeline() {
  this.tabName = "tab-timeline";
  this.tabWrap = $(".tab-wrap[data-tab='"+this.tabName+"']");
  this.processing = false;
  this.refreshOnShow = true;

  this.data = { epochs: [], arms: [], timepoints: [] }

  this.setListeners();
}


/**
 ************** General **************
**/


/**
 * Shows tab - reloads data
 *
 * @return [void]
 */
StudyTimeline.prototype.show = function() {
  if (this.refreshOnShow)
    this.refresh();
}

/**
 * Makes an ajax call
 *
 * @return [void]
 */
StudyTimeline.prototype.executeRequest = function(params, callback) {
  this.loading(true);

  $.ajax({
    url: params.url,
    type: params.type,
    dataType: 'json',
    data: params.data,
    context: this,
    success: function(result) {
      this.loading(false);
      callback(result);
    },
    error: function (xhr, status, error) {
      handleAjaxError(xhr, status, error);
      this.loading(false);
    }
  });
}

/**
 * Refreshes everything
 *
 * @return [void]
 */
StudyTimeline.prototype.refresh = function() {
  this.clear();
  this.initMatrix();
}


/**
 * Sets Listeners
 *
 * @return [void]
 */
StudyTimeline.prototype.setListeners = function() {
  var _this = this;

  $("#timeline-matrix").on("mouseenter mouseleave", ".bg-label", this.onMatrixItemHover.bind(this));

  $("#timeline-matrix").on("click", ".bg-label.epoch", this.onEpochClick.bind(this));
  $("#timeline-matrix").on("click", ".bg-label.arm", this.onArmClick.bind(this));

}


/**
 ************** Matrix **************
**/


/**
 * Builds params for ajax call
 *
 * @return [void]
 */
StudyTimeline.prototype.initMatrix = function() {
  // TODO: Build params: url, type, data
  // TODO: call executeRequest with params, callback passe
  this.matrixData(this.processMatrixData.bind(this));
}

/**
 * Builds matrix data structure (epochs, arms, elements)
 *
 * @param data [Array] Array of hashes of Epochs
 * @return [void]
 */
StudyTimeline.prototype.processMatrixData = function(data) {
  $.each(data, function(index, epoch) {
    this.data.epochs.push(
      {
        type: "epoch",
        label: epoch.label,
        id: epoch.id,
        color: this.generateColorShade(this.colorBases().red, index),
        arms: epoch.arms.map(function(a){ return a.id })
      }
    );

    $.each(epoch.arms, function(idx, arm) {
      arm.element.type = "element";
      var thisArm = this.getData("id", arm.id, "arms");
      if (thisArm == null)
        this.data.arms.push(
          {
            type: "arm",
            label: arm.label,
            id: arm.id,
            color: this.generateColorShade(this.colorBases().green, idx),
            elements: [arm.element]
          }
        );
      else
        thisArm.elements.push(arm.element);

    }.bind(this));

  }.bind(this));

  this.makeMatrixUI();
}

/**
 * Generates HTML for the matrix based on this instance's data structure
 *
 * @return [void]
 */
StudyTimeline.prototype.makeMatrixUI = function() {
  var targetElement = $("#timeline-matrix");
  targetElement.empty();

  targetElement.append("<table><tr>");
  targetElement.find("table tr").append("<td>Arms/Epochs</td>");

  // Epochs row
  $.each(this.data.epochs, function(i, epoch) {

    targetElement.find("table tr").append("<td>" + this.matrixItemHTML(epoch) + "</td>");
    epoch.div = ".epoch[data-id='"+epoch.id+"']";

  }.bind(this));

  // Arms and Elements rows
  $.each(this.data.arms, function(i, arm) {

    targetElement.find("table").append("<tr>")
    targetElement.find("table tr").eq(i+1).append("<td>" + this.matrixItemHTML(arm) + "</td>")
    arm.div = ".arm[data-id='"+arm.id+"']";

    $.each(arm.elements, function(ii, element) {
      targetElement.find("table tr").eq(i+1).append("<td>" + element.label + "</td>");
    }.bind(this));

  }.bind(this));

}

/**
 * Trigerred on matrix item hover. Handles styles
 *
 * @return [void]
 */
StudyTimeline.prototype.onMatrixItemHover = function(e) {
  switch (e.type) {
    case "mouseenter":
      this.setMatrixItemCSS(e.target, true)
      break;
    case "mouseleave":
      if (!$(event.target).hasClass("active"))
        this.setMatrixItemCSS(e.target, false)
      break;
  }
}

/**
 * Trigerred on EPOCH item click.
 *
 * @return [void]
 */
StudyTimeline.prototype.onEpochClick = function(e) {
  var dataItem = this.getData("id", $(e.target).attr("data-id"), "epochs");

  // Deselected
  if (dataItem.id == $(".bg-label.epoch.active").attr("data-id")) {
    this.matrixItemClickStyle($(e.target), false);
  }
  // Selected
  else {
    this.matrixItemClickStyle(".bg-label.epoch.active", false);
    this.matrixItemClickStyle($(e.target), true);
  }
}

/**
 * Trigerred on ARM item click.
 *
 * @return [void]
 */
StudyTimeline.prototype.onArmClick = function(e) {
  this.matrixItemClickStyle(".bg-label.active.arm", false);
  this.matrixItemClickStyle(e.target, true);
}

/**
 * Handles styling of click events on a matrix item.
 *
 * @param target [Jquery Element] target element node
 * @param selected [Boolean] enable / disable selected style
 * @return [void]
 */
StudyTimeline.prototype.matrixItemClickStyle = function(target, selected) {
  this.setMatrixItemCSS(target, selected);
  $(target).toggleClass("active", selected);
}

/**
 * Sets CSS of a matrix item when hovered / clicked
 *
 * @param target [JQuery Element] target item
 * @param enable [Boolean] enable / disable style
 * @return [void]
 */
StudyTimeline.prototype.setMatrixItemCSS = function(target, enable) {
  var dataItem = this.getData("id", $(target).attr("data-id"));

  $(target).css("background-color", enable ? dataItem.color : "");
  $(target).css("color", enable ? "white" : "");
}

/**
 * Generates HTML for a matrix item and color (if color null, will use lightgrey)
 *
 * @param item [Object] data item
 * @return [void]
 */
StudyTimeline.prototype.matrixItemHTML = function(item) {
  return '<div class="bg-label ' + item.type + '" style="border-color: ' + (item.color || 'lightgrey') + ';" data-id="' + item.id + '" >' + item.label + '</div>';
}


/**
 ************** Getters **************
**/


/**
 * Gets a data object by its property type
 *
 * @param propertyType [String] type of the property to compare
 * @param value [String] Any value, normally String
 * @param dataType [String] type of data - epochs/arms/timepoints, if null, will go through all
 * @return [Data Object] matched object, or null
 */
StudyTimeline.prototype.getData = function(propertyType, value, dataType) {
  var object = null;

  if(dataType != null) {
    $.each(this.data[dataType], function(index, obj) {
      if (obj[propertyType] == value) {
        object = obj;
        return false;
      }
    });
  }
  else {
    $.each(this.data, function(type) {
      $.each(this.data[type], function(index, obj) {
        if (obj[propertyType] == value) {
          object = obj;
          return false;
        }
      });
      return (object == null);
    }.bind(this));
  }

  return object;
}


/**
 ************** Support **************
**/


/**
 * Loading state toggle
 *
 * @param enable [Boolean] enable or disable loading
 * @return [void]
 */
StudyTimeline.prototype.loading = function(enable) {
  this.processing = enable;
  $("#" + this.tabName).trigger("loading", [enable, true])
}

/**
 * Clears data and listeners
 *
 * @return [void]
 */
StudyTimeline.prototype.clear = function() {
  this.data = { epochs: [], arms: [], timepoints: [] }

}

/**
 * Generates a shade of color for an element in a collection
 *
 * @param base [Object] one of the bases defined in colorBases (h,s,l)
 * @param index [Int] current element's index
 * @return [String] CSS HSL format string for color
 */
StudyTimeline.prototype.generateColorShade = function(base, index) {
  var changeConst = 20;
  var hue = base.h + (changeConst * index);

  return "hsl(" + hue + ", " + base.s + "%, " + base.l + "%)";
}

/**
 * Support: Color bases (HSL) for red, green
 *
 * @return [Object] color bases
 */
StudyTimeline.prototype.colorBases = function() {
  return {
    red: {h: 0, s: 90, l: 80},
    green: {h: 140, s: 70, l: 70}
  };
}

StudyTimeline.prototype.matrixData = function(callback) {
  var data = [
    {
      label: "Screening",
      id: "111x",
      arms: [
        {
          label: "High Dose",
          id: "210x",
          element: { label: "Screen", id: "211"}
        },
        {
          label: "Low Dose",
          id: "310x",
          element: { label: "Screen", id: "311"}
        },
        {
          label: "Placebo",
          id: "410x",
          element: { label: "Screen", id: "411"}
        }
      ]
    },
    {
      label: "Treatment",
      id: "112x",
      arms: [
        {
          label: "High Dose",
          id: "210x",
          element: { label: "High Dose", id: "212x"}
        },
        {
          label: "Low Dose",
          id: "310x",
          element: { label: "Low Dose", id: "312x"}
        },
        {
          label: "Placebo",
          id: "410x",
          element: { label: "Placebo", id: "412x"}
        }
      ]
    },
  ];

  callback(data);
}
