/*
* Study Objectives tab
*
* Only in Study Build page
*/

/**
 * Study Objectives Constructor
 *
 * @return [void]
 */
function StudyEndpoints() {
  this.div = $("#study-endpoints");
  this.tab = $("#tab-endpoints");
  this.ready = false;
}


/**
 ************** General **************
**/

/**
 * Do nothing
 *
 * @return [void]
 */
StudyEndpoints.prototype.show = function() {
  if (!this.ready)
    this.executeRequest({
      url: endpointsUrl,
      type: "GET",
      data: {},
      callback: function(result) {
        this.buildHTML(result.data);
        this.loading(false);
        this.ready = true;
      }.bind(this)
    });
}

/**
 * Executes an ajax request based on params. Invokes callback on success.
 *
 * @param params [Object] request parameters: url, type, data, callback(function)
 * @return [void]
 */
StudyEndpoints.prototype.executeRequest = function(params) {
  this.loading(true);

  $.ajax({
    url: params.url,
    type: params.type,
    dataType: 'json',
    data: params.data,
    context: this,
    success: function(result) {
      params.callback(result);
    },
    error: function (xhr, status, error) {
      handleAjaxError(xhr, status, error);
      this.loading(false);
    }
  });
}

/**
 * Build table HTML
 *
 * @param data [Object Array] Objective data
 * @return [void]
 */
StudyEndpoints.prototype.buildHTML = function(data) {
  var table = this.div.find("table#endpoints tbody");
  table.empty();

  $.each(data.selected, function(i, endpoint) {
    var rowHTML = "";
    rowHTML += "<tr><td>" + endpoint.type + "</td>";
    rowHTML +=     "<td>" + this.formatText(endpoint.text) + "</td>";
    rowHTML +=     "<td class='center'><span class='icon-ok text-link'></span></td>";
    rowHTML += "</tr>";
    table.append(rowHTML);
  }.bind(this));

  $.each(data.not_selected, function(i, endpoint) {
    var rowHTML = "";
    rowHTML += "<tr><td>" + endpoint.type + "</td>";
    rowHTML +=     "<td>" + this.formatText(endpoint.text) + "</td>";
    rowHTML +=     "<td class='center'><span class='icon-times text-accent-2'></span></td>";
    rowHTML += "</tr>";
    table.append(rowHTML);
  }.bind(this));

  if (_.isEmpty(data.selected) && _.isEmpty(data.not_selected))
    table.append("<tr><td class='center' colspan=3>No Endpoints data found.</td></tr>");
}

/**
 * Format the text of an objective
 *
 * @param text [String] objective text
 * @return [String] formatted html
 */
StudyEndpoints.prototype.formatText = function(text) {
  return text.replace("[[[", " <span class='text-secondary-clr font-regular'>[[[")
             .replace("]]]", "]]]</span> ")
             .replace(/\s\[\b/, " <span class='text-accent-2 font-regular'>[")
             .replace(/\b\]\s/, "]</span> ");
}

/**
 * Enable disable loading state
 *
 * @param enable [Boolean] true/false show/hide loading
 * @return [void]
 */
StudyEndpoints.prototype.loading = function(enable) {
  this.tab.trigger("loading", [enable]);
}
