/*
* Study Matrix
*
* Only in Study Build page
*/

/**
 * Study Matrix Constructor
 *
 * @return [void]
 */
function StudyMatrix() {
  this.tabName = "tab-timeline";
  this.wrapper = $("#tab-timeline-body");
  this.div = this.wrapper.find("#study-matrix");
  this.processing = false;
  this.refreshOnShow = true
  this.newTpModeActive = false;

  this.bcsSelector = new ItemsSelector({
    id: "1",
    multiple: true,
    types: {bcs:true},
    description: "Pick one or more Biomedical Concepts to add to the Time Point.",
  });

  this.createTPModal = new NewTimepointModal(this);

  this.clear();

  this.setListeners();
}


/**
 ************** General **************
**/


/**
 * Shows tab - reloads data
 *
 * @return [void]
 */
StudyMatrix.prototype.show = function() {
  if (this.refreshOnShow)
    this.refresh();
}

/**
 * Refreshes the tab, data, re-draws
 *
 * @return [void]
 */
StudyMatrix.prototype.refresh = function() {
  this.clear();
  this.initMatrix();
}

/**
 * Executes an ajax request based on params. Invokes callback on success.
 *
 * @param params [Object] request parameters: url, type, data, callback(function)
 * @return [void]
 */
StudyMatrix.prototype.executeRequest = function(params) {
  if(params.withLoading)
    this.loading(true);

  $.ajax({
    url: params.url,
    type: params.type,
    dataType: 'json',
    data: params.data,
    context: this,
    success: function(result) {
      params.callback(result);
    },
    error: function (xhr, status, error) {
      handleAjaxError(xhr, status, error);
      this.loading(false);
    }
  });
}

/**
 * Sets event listeners, handlers
 *
 * @return [void]
 */
StudyMatrix.prototype.setListeners = function() {
  var _this = this;

  this.div.on("mouseenter mouseleave", ".bg-label", this.onMatrixItemHover.bind(this));

  this.div.on("click", ".bg-label.epoch", this.onEpochClick.bind(this));
  this.div.on("click", ".bg-label.arm", this.onArmClick.bind(this));

  this.div.on("matrixloaded", this.loadVisitsData.bind(this));
  this.div.on("visitsloaded", function() { $(".arm.bg-label")[0].click() });

  this.wrapper.on("click", "#timeline-axis", this.onAxisClick.bind(this));

  $("#new-timepoint").off("click").on("click", this.toggleNewTpMode.bind(this, true));
}

/**
 * Gets data, makes request for new timepoint, handles callback
 *
 * @return [void]
 */
StudyMatrix.prototype.createNewTimepoint = function(event) {
  var arm = this.getActiveArm().timeline,
      armId = arm.armId,
      epochId = arm.offsetClosestEpoch(event.offsetX),
      offset = arm.offsetToDays(event.offsetX);

  if(epochId != null && offset != null) {
    arm.loading(true);

    this.executeRequest({
      url: arm.tpAddUrl(),
      type: "POST",
      data: {arm: {offset: offset, epoch_id: epochId}},
      withLoading: false,
      callback: function(result) {
        arm.data.timepoints.push(new Timepoint(result.data, this, arm));
        arm.render(arm.data.timepoints);
        arm.loading(false);
      }.bind(this)
    });
  }
}

/**
 * Event Handler of timeline axis click
 *
 * @return [void]
 */
StudyMatrix.prototype.onAxisClick = function(e) {
  if (this.newTpModeActive) {
    this.toggleNewTpMode(false);
    this.createNewTimepoint(e);
  }
}

/**
 * Makes a request for visits data
 *
 * @return [void]
 */
StudyMatrix.prototype.loadVisitsData = function() {
  this.executeRequest({
    url: visitsUrl,
    type: "GET",
    data: {},
    withLoading: true,
    callback: function(result) {
      $.each(result.data, function(i, visit) {
        this.data.visits[visit.id] = new Visit(visit, this);
      }.bind(this));

      this.buildVisitsHTML();
      this.loading(false);
      this.div.trigger("visitsloaded", []);
    }.bind(this)
  })
}

/**
 * Builds the HTML for list of visits
 *
 * @param visits [Array] visits data
 * @return [void]
 */
StudyMatrix.prototype.buildVisitsHTML = function(visits) {
  var list = this.wrapper.find("#visits-list");
  list.empty();

  if (this.data.visits.length == 0)
    list.append("<i> No Visits data found.</i>");

  $.each(this.data.visits, function(i, visit) {
    list.append(visit.buttonHTML());
  });
}

/**
 * Toggle New TP mode enabled
 *
 * @param enable [Boolean] true / false - enable / disable mode
 * @return [void]
 */
StudyMatrix.prototype.toggleNewTpMode = function(enable) {
  this.newTpModeActive = enable;

  if (enable){
    this.getActiveArm().timeline.desaturate(true, 1);
    this.wrapper.addClass("new-tp-mode");
  }
  else {
    this.getActiveArm().timeline.desaturate(false);
    this.wrapper.removeClass("new-tp-mode");
  }

  this.wrapper.find(".visit").toggleClass("disabled", enable);
}



/**
 ************** Matrix **************
**/


/**
 * Fetch and process matrix data
 *
 * @return [void]
 */
StudyMatrix.prototype.initMatrix = function() {
  this.executeRequest({
    url: matrixUrl,
    type: "GET",
    data: {},
    withLoading: true,
    callback: function(result) {
      this.processMatrixData(result.data);
    }.bind(this)
  });
}

/**
 * Builds matrix data structure (epochs, arms, elements)
 *
 * @param data [Array] Array of hashes of Epochs
 * @return [void]
 */
StudyMatrix.prototype.processMatrixData = function(data) {

  // Initialize Epochs
  $.each(data, function(index, epoch) {
    this.data.epochs[epoch.id] =
      {
        type: "epoch",
        label: epoch.label,
        id: epoch.id,
        color: this.generateColorShade(this.colorBases().red, index),
        arms: epoch.arms.map(function(a){ return a.id })
      }

    // Initialize Arms
    $.each(epoch.arms, function(idx, arm) {
      arm.element.type = "element";
      var thisArm = this.getItem(arm.id, "arms");

      if (thisArm == null) {
        var studyTimeline = new StudyTimeline(arm.id, this);

        this.data.arms[arm.id] =
          {
            type: "arm",
            label: arm.label,
            id: arm.id,
            color: this.generateColorShade(this.colorBases().green, idx),
            elements: [arm.element],
            timeline: studyTimeline,
          }
      }
      else
        thisArm.elements.push(arm.element);
    }.bind(this));
  }.bind(this));

  this.render();
}

/**
 * Renders HTML for the matrix based on this instance's data structure
 *
 * @return [void]
 */
StudyMatrix.prototype.render = function() {
  this.div.empty();


  this.div.append("<table><tr>");
  this.div.find("table tr").append("<td>Arms/Epochs</td>");

  // Epochs row
  $.each(_.values(this.data.epochs), function(i, epoch) {

    this.div.find("table tr").append("<td>" + this.matrixItemHTML(epoch) + "</td>");
    epoch.div = ".epoch[data-id='"+epoch.id+"']";

  }.bind(this));

  // Arms and Elements rows
  $.each(_.values(this.data.arms), function(i, arm) {

    this.div.find("table").append("<tr>")
    this.div.find("table tr").eq(i+1).append("<td>" + this.matrixItemHTML(arm) + "</td>")
    arm.div = ".arm[data-id='"+arm.id+"']";

    $.each(arm.elements, function(ii, element) {
      this.div.find("table tr").eq(i+1).append("<td>" + element.label + "</td>");
    }.bind(this));

  }.bind(this));

  this.div.trigger("matrixloaded", []);
}

/**
 * Handles styling of click events on a matrix item.
 *
 * @param target [Jquery Element] target element node
 * @param selected [Boolean] enable / disable selected style
 * @return [void]
 */
StudyMatrix.prototype.matrixItemClickStyle = function(target, selected) {
  this.setMatrixItemCSS(target, selected);
  this.div.find(target).toggleClass("active", selected);
}

/**
 * Sets CSS of a matrix item when hovered / clicked
 *
 * @param target [JQuery Element] target item
 * @param enable [Boolean] enable / disable style
 * @return [void]
 */
StudyMatrix.prototype.setMatrixItemCSS = function(target, enable) {
  var dataItem = this.getItem($(target).attr("data-id"));

  this.div.find(target).css("background-color", enable ? this.hslString(dataItem.color) : "");
  this.div.find(target).css("color", enable ? "white" : "");
}


/**
 * Generates HTML for a matrix item and color (if color null, will use lightgrey)
 *
 * @param item [Object] data item
 * @return [void]
 */
StudyMatrix.prototype.matrixItemHTML = function(item) {
  return '<div class="bg-label ' + item.type + '" style="border-color: ' + (this.hslString(item.color) || 'lightgrey') + ';" data-id="' + item.id + '" >' + item.label + '</div>';
}

/**
 ************** Event Handlers **************
**/

/**
 * Trigerred on matrix item hover. Handles styles change
 *
 * @param e [Event] Mouse hover event
 * @return [void]
 */
StudyMatrix.prototype.onMatrixItemHover = function(e) {
  switch (e.type) {
    case "mouseenter":
      this.setMatrixItemCSS(e.target, true)
      break;
    case "mouseleave":
      if (!$(event.target).hasClass("active"))
        this.setMatrixItemCSS(e.target, false)
      break;
  }
}

/**
 * Trigerred on EPOCH item click.
 *
 * @return [void]
 */
StudyMatrix.prototype.onEpochClick = function(e) {
  var epoch = this.getItem($(e.target).attr("data-id"), "epochs");
  var activeArm = this.getActiveArm();

  // Deselected
  if (epoch.id == this.div.find(".bg-label.epoch.active").attr("data-id")) {
    this.matrixItemClickStyle($(e.target), false);
    activeArm.timeline.render(activeArm.timeline.data.timepoints);
  }
  // Selected
  else {
    $(".bg-label.epoch.active").click();
    this.matrixItemClickStyle($(e.target), true);
    activeArm.timeline.render(activeArm.timeline.filterTimepoints("epoch_id", epoch.id));
  }
}

/**
 * Trigerred on ARM item click.
 *
 * @return [void]
 */
StudyMatrix.prototype.onArmClick = function(e) {
  var arm = this.getItem($(e.target).attr("data-id"), "arms");
  $(".bg-label.epoch.active").click();

  this.matrixItemClickStyle(".bg-label.active.arm", false);
  this.matrixItemClickStyle(e.target, true);

  arm.timeline.show();
}


/**
 ************** Getters **************
**/

/**
 * Gets a data object by its property type
 *
 * @param id [String] Item ID
 * @param type [String] type of data - epochs/arms, if null, will go through all
 * @return [Data Object] matched object, or null
 */
StudyMatrix.prototype.getItem = function(id, type) {
  if (!_.isNull(type) && !_.isUndefined(type))
    return this.data[type][id];
  else
    return this.data.arms[id] || this.data.epochs[id];
}

/**
 * Find currently active arm object
 *
 * @return [Object] current arm object
 */
StudyMatrix.prototype.getActiveArm = function() {
  return this.getItem(this.div.find(".arm.active").attr("data-id"), "arms");
}


/**
 ************** Support **************
**/


/**
 * Toggle loading on an matrix arm item
 *
 * @param armId [String] id of the arm
 * @param enable [Boolean] enable / disable loading
 * @return [void]
 */
StudyMatrix.prototype.armLoading = function(armId, enable) {
  var arm = this.getItem(armId, "arms");

  $(arm.div).toggleClass("loading", enable);
  this.div.find(".bg-label").not($(arm.div)).toggleClass("disabled", enable);
  this.wrapper.closest(".tab-wrap").toggleClass("processing", enable);
}

/**
 * Loading state toggle
 *
 * @param enable [Boolean] enable or disable loading
 * @return [void]
 */
StudyMatrix.prototype.loading = function(enable) {
  this.processing = enable;
  $("#" + this.tabName).trigger("loading", [enable, true])
}

/**
 * Clears data and listeners
 *
 * @return [void]
 */
StudyMatrix.prototype.clear = function() {
  this.data = { epochs: {}, arms: {}, visits: {} }
}

/**
 * Generates a HSL color string
 *
 * @param obj [Object] must contain values h,s,l
 * @return [String] CSS HSL format string for color
 */
StudyMatrix.prototype.hslString = function(obj) {
  return "hsl(" + obj.h + ", " + obj.s + "%, " + obj.l + "%)";
}

/**
 * Generates a shade of color for an element in a collection
 *
 * @param base [Object] one of the bases defined in colorBases (h,s,l)
 * @param index [Int] current element's index
 * @return [Object] HSL values for color
 */
StudyMatrix.prototype.generateColorShade = function(base, index) {
  var hueChange = 20, liChange = 2, satChange = 3;

  var hue = base.h + (hueChange * index);
  var li = (hue > 40 & hue < 120) ? base.l - 20 : base.l - (liChange * index);
  var sat = base.s - (satChange * index);

  return {h: hue, s: sat, l: li};
}

/**
 * Support: Color bases (HSL) for red, green
 *
 * @return [Object] color bases
 */
StudyMatrix.prototype.colorBases = function() {
  return {
    red: {h: 0, s: 85, l: 80},
    green: {h: 140, s: 60, l: 70}
  };
}
