<div id="<%= id %>">
  <div class="col-md-6 card wide">
    <div class="card-content">
      <div class="text-xnormal text-link ci-card-title">
        Browse
      </div>
      <table id="index" class="table table-invisible table-row-clickable">
        <thead>
          <tr>
            <th class="fit">Owner</th>
            <th class="fit">Identifier</th>
            <th>Label</th>
            <th class="th-xsmall fit ignore"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6 card wide">
    <div class="card-content">
      <div class="text-xnormal text-link ci-card-title">
        Pick Version
      </div>
      <table id="history" class="table table-invisible table-row-clickable no-mark">
        <thead>
          <tr>
              <th class="fit">Version</th>
              <th class="th-xsmall">Version Label</th>
              <th>State</th>
              <th class="fit ignore"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6 card wide" hidden>
    <div class="card-content">
      <div class="text-xnormal text-link ci-card-title">
        Select Item
      </div>
      <table id="children" class="table table-invisible table-row-clickable no-mark">
        <thead>
          <tr>
              <th class="fit">Identifier</th>
              <th>Label</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
