<%= javascript_tag 'setPageTitle("Import CDISC Terminology")' %>

<div class="row">
  <div class="col-md-8">
    <%= render partial: "shared/import/new_model_panel", locals: {create_path: imports_cdisc_terms_path, title: "Import CDISC Terminology", multiple: true} %>
  </div>
</div>
