@import "custom/vars.scss";

#cd-wrap{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1111;
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#cd-wrap.cd-show{
  visibility: visible;
  opacity: 1;
}

#cd-wrap.cd-show #cd-body{
  transform: translateY(20px);
}

#cd-body{
  min-width: 400px;
  border-radius: 10px;
  position: absolute;
  background: $grey-white;
  padding: 20px;
  margin-top: 100px;
  display: block;
  transition: all .3s;
}

#cd-loading.hidden{
  display: none;
}

#cd-body #cd-footer{
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $grey-light;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#cd-body #cd-footer #cd-negative-button{
  opacity: .7;
}

#cd-body #cd-footer .btn{
  min-width: 50px;
}
