/* Parent to spinner container */
div.dataTables_wrapper div.dataTables_processing{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;
  bottom: 0px!important;
  top: 0px!important;
  left: 0px!important;
  right: 0px!important;
  margin-bottom: -40px;
  margin-top: -40px;
  margin-left: 0!important;
  width: unset!important;
  border: none!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.spinner-container {
  position: relative;
}

.spinner-spread div.dataTables_wrapper div.dataTables_processing{
  margin-bottom: 0px;
  margin-left: -5px !important;
}


.loading-destretch div.dataTables_wrapper div.dataTables_processing{
  top: 40px !important;
  bottom: 40px !important;
}
