/* Parent to spinner container */
div.dataTables_wrapper div.dataTables_processing{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;
  bottom: 0px!important;
  top: 0px!important;
  left: 0px!important;
  right: 0px!important;
  margin-bottom: -40px;
  margin-top: -40px;
  margin-left: 0!important;
  width: unset!important;
  border: none!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* parent to centered spinner */
.spinner-container {
  position: relative;
  width: 100%;
  height:  100%;
}

/* vertical and horizontal center spinner */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
