@import "custom/vars.scss";

// Row Clickable Styles

.table-row-clickable tbody tr:hover{
  color: $secondary-color-medium;
  background: $row-highlight-background !important;
  cursor: pointer;
}

.table-row-clickable tbody tr.b:hover, .table-row-clickable tbody tr.r:hover,
  .table-row-clickable tbody tr.y:hover {
  color: $grey-medium;
}

.table-row-clickable .selected td:first-of-type{
  position: relative;
}

// Selected checkmark

.table-row-clickable .selected td:first-of-type::before{
  font-family: 'icomoon';
  display: block;
  color: $secondary-color-light;
  position: absolute;
  left: -20px;
  font-size: $font-tiny;
  top: calc(50% - 5pt);
  content: "\e944";
}

// Hidden and disabled

.table-row-clickable.no-mark .selected td:first-of-type::before{
  display: none;
}

.table-row-clickable tr.disabled{
  pointer-events: none !important;
  color: $grey-light;
  background: $grey-bright !important;
}

table.table-disabled {
  pointer-events: none !important;
  opacity: .5 !important;
}

// Colored TR selects

.table-row-clickable tr.selected.r td:first-of-type::before,
  .table-row-clickable tr.selected.y td:first-of-type::before,
  .table-row-clickable tr.selected.b td:first-of-type::before {
  display: block;
  position: absolute;
  content: " ";
  width: 5px;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 0px;
}

.table-row-clickable tr.selected.b td:first-of-type::before{
  background: $primary-color-light;
}

.table-row-clickable tr.selected.r td:first-of-type::before{
  background: $accent-color-2;
}

.table-row-clickable tr.selected.y td:first-of-type::before{
  background: $accent-color-1;
}

.table-row-clickable tr.selected.b{
  color: $primary-color-medium !important;
}

.table-row-clickable tr.selected.r{
  color: $accent-color-2 !important;
}

.table-row-clickable tr.selected.y{
  color: $accent-color-1-dark !important;
}

.table-row-clickable thead th{
  border: none !important;
}

table.table-row-clickable tbody tr:first-of-type td{
  border-top: 1px solid $grey-light !important;
}

// No borders

.table-row-clickable.no-borders tr td, .table-row-clickable.no-borders tr,
  .table-row-clickable.no-borders thead th{
  border: none !important;
}

.table-row-clickable.no-borders thead th{
  font-family: $font-light;
  font-size: $font-tiny;
}

// Managed Items Select Modal

#im-select-modal .modal-lg, #searchModal .modal-lg, #im-version-picker-modal .modal-lg{
  width: 85%;
}

#im-select-modal .modal-body, #searchModal .modal-body, #im-version-picker-modal .modal-body{
  padding: 20px 40px;
}

#im-select-modal .card{
  min-height: 400px;
  max-height: 80%;
}

// IEFIX

@media (max-width: 1250px){
  #im-select-modal .card{
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .table-row-clickable .selected td:first-of-type::before{
    top: 75% !important;
  }

  .table-row-clickable tr.selected td:first-of-type{
    overflow: hidden !important;
  }

  .table-row-clickable tr.selected.r td:first-of-type::before,
    .table-row-clickable tr.selected.b td:first-of-type::before,
    .table-row-clickable tr.selected.y td:first-of-type::before{
      top: 0 !important;
      bottom: -100% !important;
      height: 300px;
  }
}
