// Scrollable View (horizontal)
.horizontal-scrollview {
  width: calc(100% - 20px);
  min-height: 80px;

  display: inline-flex;
  position: relative;

  margin: 0px 10px;
  padding: 10px 6px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;

  .spinner-container {
    position: absolute;
    max-width: calc(100% - 12px);
  }
}

.horizontal-scrollview > :nth-child(n):not(:last-child) {
  margin-right: 20px;
}

// Scrollbar styles
.page-scroll-styled, .list-wrap, .card-content, .dataTables_scrollBody, .scroll-styled {

  &::-webkit-scrollbar {
    width: 10px;

    &.scroll-horizontal {
      height: 8px;
    }
  }

}

// Page scrollbar 
.page-scroll-styled {
  &::-webkit-scrollbar-track {
    background-color: $grey-bright;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dedddd;
  }
}

// Scrollable elements 
.dataTables_scrollBody, .list-wrap, .card-content, .scroll-styled {
  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-bright;
  }
}

// Mobile view only
@media (max-width: 768px) {

  .page-scroll-styled {
    &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track, &::-webkit-scrollbar {
      display: none;
    }
  }

}

// IE 
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body{
    scrollbar-base-color: $grey-bright;
    scrollbar-face-color: #e8e8e8;
    scrollbar-track-color: $grey-bright;
    scrollbar-arrow-color: #e8e8e8;
    scrollbar-shadow-color: $grey-bright;
    scrollbar-dark-shadow-color: $grey-bright;
  }
}

// Firefox
@-moz-document url-prefix() {
  .scroll-styled {
    scrollbar-width: thin;
  }
}