@import "shared/vars.scss";

// Row Clickable Styles

table.table-row-clickable {

  tbody tr {
    &:hover, &.selected:hover {
      background: $row-highlight-background !important;
      cursor: pointer;
    }

    &.b:hover, &.r:hover, &.y:hover {
      color: $grey-medium;
    }
  }
  
  // Selected & checkmark
  tr.selected {
    color: $primary-color-light !important;
    
    td:first-of-type {
      position: relative;
      font-family: $font-primary !important;

      &:before {
        font-family: 'icomoon';
        display: block;
        color: $primary-color-light;
        position: absolute;
        left: -20px;
        font-size: $font-tiny;
        top: calc(50% - 5pt);
        content: "\e944";
      }
    }
  }

  // Hidden checkmark 
  &.no-mark {
    tr.selected {
      color: $primary-color-light !important;
      
      td:first-of-type:before {
        display: none;
      }
    }
  }

  // Disabled row 
  tr.disabled {
    pointer-events: none !important;
    color: $grey-light;
    background: $grey-bright !important;
  }

  // Colored TR selects
  tr.selected {

    &.r, &.y, &.b {
      background: white !important;

      td:first-of-type::before {
        display: block;
        position: absolute;
        content: " ";
        width: 5px;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 0px;
      }
    }

    &.b {
      color: $primary-color-medium !important;
      
      td:first-of-type::before {
        background: $primary-color-light;
      }
    }

    &.r {
      color: $accent-color-2 !important;

      td:first-of-type::before {
        background: $accent-color-2;
      }
    }

    &.y {
      color: $accent-color-1-dark !important;

      td:first-of-type::before {
        background: $accent-color-1;
      }
    }

  }

  thead th {
    border: none !important;
  }

  tbody tr:first-of-type td {
    border-top: 1px solid $grey-light !important;
  }

  // No borders
  &.no-borders {
    tr, tr td, thead th {
      border: none !important;
    }

    thead th {
      font-family: $font-light;
      font-size: $font-tiny;
    }
  }

}
