@import "shared/vars.scss";


.table-cardstyle table tbody tr td {
  height: 60px !important;
}

// Editable cell styling

.table-cardstyle table tbody td.editable {
  transition: padding .2s, background .2s;
  position: relative;
}

.table-cardstyle table td.editable:hover {
  padding-left: 30px;
  background: $grey-bright !important;
}

.table-cardstyle table td.focus {
  background: $grey-bright !important;
  padding-left: 15px;
  box-shadow: none !important;
}

.table-cardstyle table tr.editable td.editable:hover::before {
  font-family: 'icomoon';
  position: absolute;
  content: "\e931";
  display: block;
  left: 8px;
  top: 5px;
  font-size: $font-small;
  color: $primary-color-bright;
}

// Fade

.table-cardstyle table tbody tr.highlight {
  background-color: white !important;
}

// Input fields styling

.table-cardstyle table textarea.form-control {
  width: 100%;
  height: 1px;
  min-height: 34px;
  transition: height .2s;
  resize: none;
}

.table-cardstyle table input.form-control:focus,
  .table-cardstyle table textarea.form-control:focus {
  outline: none;
  box-shadow: none;
  border-width: 2px;
}

// Processing styling

.table-cardstyle tbody tr td.processing {
  padding-left: 30px;
  pointer-events: none;
}

.table-cardstyle tbody tr td.processing::before {
  position: absolute;
  top: 5px;
  left: 5px;
  background: url(image_path("loading_inline.gif")) no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  content: " ";
}
