@import "shared/vars.scss";

$editable-color: $primary-color-bright;

// Editable cell styling

.table-editable table tbody {

  tr td {
    height: 60px !important;
  }

  td.editable {
    transition: padding .2s, background .2s;
    position: relative;
  }

  td.editable:hover, td.focus {
    background: $grey-bright !important;
    box-shadow: none !important;
  }

  td.editable:hover::before {
    font-family: 'icomoon';
    position: absolute;
    display: block;
    right: 2px;
    top: 1px;
    font-size: $font-tiny;
    color: $editable-color;
  }

  tr.row-disabled, tr.row-cdisc {

    td.editable::before {
      color: $grey-light;
    }

  }

}

.table-editable table tbody {

  // Editable inline
  td.editable.inline:hover::before {
    content: "\e931";
  }

  // Editable external
  td.editable.external:hover::before {
    content: "\e929";
    transform: rotate(45deg);
  }

  // Editable pickable
  td.editable.pickable:hover::before {
    content: "\e95a";
  }

  // Custom Property Cell
  tr.row-disabled, tr.row-cdisc {

    td.editable.custom-property::before {
      color: $editable-color;
    }

  }

  // Editable pickable field disabled 
  td.editable.pickable .disabled {
    pointer-events: none;
    opacity: .7;
      
    .field-disabled-msg { 
      font-style: italic;
      font-size: $font-tiny;
    }
  }

  // Fade
  tr.highlight {
   background-color: white !important;
  }

}

.table-editable table tbody {

  // Input fields styling
  td {

    textarea.form-control {
      width: 100%;
      height: 1px;
      min-height: 34px;
      transition: height .2s;
      resize: none;
    }

    input.form-control:focus, textarea.form-control:focus {
      outline: none;
      box-shadow: none;
      border-width: 2px;
    }

  }

  // Handle labels styling on hover
  td.editable:hover, td.editable.focus {
     a.bg-label {
       background: white;
     }
  }

}

// Processing styling
.table-editable tbody tr {

  td.processing {
    padding-left: 30px;
    pointer-events: none;
  }

  td.processing::before {
    position: absolute;
    top: 5px;
    left: 5px;
    background: url(image_path("loading_inline.gif")) no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    content: " ";
  }

}
