@import "shared/vars.scss";

table.table-row-clickable tbody {

  tr:hover {
    cursor: pointer;
    background: $row-highlight-background !important;
  }

  tr.selected td {
    font-family: $font-primary;
    color: $primary-color-light;
  }

}

table.table-row-clickable:not(.no-select-icon) {

  tbody {

    tr td:last-of-type:not(.dataTables_empty)::after {
      display: block;
      position: absolute;
      font-family: "icomoon";
      content: "\e962";
      color: $grey-light;
      right: 10px;
      top: calc(50% - 8pt);
      font-size: 12pt;
    }

    tr.selected td:last-of-type::after {
      content: "\e963";
      color: $primary-color-light;
    }

  }

  tbody, thead {

    tr td:last-of-type, tr th:last-of-type {
      padding-right: 30px;
      position: relative;
    }

  }

}

.dataTables_scrollBody table thead tr th {
  border-bottom: none !important;
}

// IE and Edge positioning fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  table.table-row-clickable tbody tr td:last-of-type:not(.dataTables_empty)::after {
    top: calc(50% - 4px);
  }

}
