@import "shared/globals";

body, html, .container{
  padding: 0;
  height: 100%;
}

body {
  background: $grey-bright;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

// Central container and half-cards 
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  .m-card {
    min-width: 60%;
    min-height: 600px;
    height: 60%;
    display: flex;
    max-width: 1000px;

    .half {
      width: 50%;
      min-height: 100%;
      margin: 0;
      padding: 60px;
      display: inline-flex;

      &:first-of-type {
        justify-content: left;
        border-radius: $card-border-radius 0 0 $card-border-radius;
        overflow-y: auto;
      }

      &:last-of-type {
        justify-content: center;
        background: $primary-color-dark;
        border-radius: 0 $card-border-radius $card-border-radius 0;
      }
    }
  }

}

// Texts 
p {
  font-family: $font-light;
  color: $grey-medium;
}

h1, h2 {
  font-family: $font-primary;
  color: $grey-medium;
}

// Forms 
form {
  width: 100%;
}

.form-wrap {
  margin: 30px 0;

  input, .checkbox {
    font-family: $font-light;
    color: $grey-medium;
    border: 0px;
    outline: none;
    background: transparent;
  }

  input[type="email"], input[type="password"] {
    min-width: 80%;
    padding: 8px 5px;
    border-bottom: 2px solid $secondary-color-light;
  }

  input[type="checkbox"] {
    margin-left: 0;
  }

  .checkbox {
    display: flex;
    align-items: center;
  }

}

.btn.submit-btn {
  background: $primary-color-light;
  color: $grey-white;
  padding: 8px 60px !important;

  &:hover {
    background: $primary-color-medium;
  }

  &:focus {
    outline: none !important;
  }
  
}

.form-link {
  display: inline-block;
  margin-top: 12px;
  color: $grey-medium;
  text-decoration: underline;
  font-family: $font-light;

  &:hover {
    color: $grey-light;
    cursor: pointer;
  }

  &:focus, :active {
    color: $grey-light;
    outline: none;
  }
}

// MOBILE VIEW
@media (max-width:768px) {
  
  body, html {
    min-height: 100%;
    height: auto;
  }

  .container {

    .m-card {
      flex-direction: column-reverse;
      min-height: auto;

      .half {
        width: 100%;
        padding: 36px 46px;

        &:last-of-type {
          justify-content: center;
          background: $primary-color-dark;
          border-radius: $card-border-radius $card-border-radius 0 0;
        }
      }
    }

  }

  .form-wrap {
    margin: 30px 0;
  }

  #a3-devise-logo {
    width: 150px;
  }

}

#alerts{
  top: 20px;
}

/* Chrome fix styling of autofill inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-text-fill-color: $grey-medium;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
