@import "shared/vars.scss";

// CARDS

.card{
  background: $grey-white;
  border-radius: $card-border-radius;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 11px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 11px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 11px -5px rgba(0,0,0,0.2);
}

.card.wide{
  min-width: 450px !important;
}

.card.narrow{
  min-width: 300px !important;
}

.modal-body .card, .card .card{
  -webkit-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px 8px 3px rgba(0,0,0,0.1);
}

.card-header, a.card-header{
  background: $primary-color-light;
  color: $grey-white;
  font-size: $font-normal;
  font-family: $font-light;
  margin: 0;
  border-radius: $card-border-radius $card-border-radius 0px 0px;
  padding: 18px 24px;
  width: 100%;
  display: block;
}

.card-subheader{
  background: $primary-color-bright;
  color: $grey-white;
  padding: 5px 24px 4px 24px;
  font-family: $font-light;
  font-size: 9pt;
}

.card-content{
  padding: 30px 20px;
  color: $grey-medium;
  overflow: auto;
}

.card-content table{
  width: 100% !important;
}

// Card Colored Borders 

div.warning {
  border: 5px solid $accent-color-1;
}

div.danger{
  border: 5px solid $accent-color-2;
}

div.info{
  border: 5px solid $primary-color-bright;
}

.card.danger .card-content, .card.warning .card-content,
.card.info .card-content{
  padding: 25px 15px;
}

// CARD TITLES

.ci-card-title{
  border-bottom: 1px solid $primary-color-bright;
  margin-bottom: 14px;
  margin-top: 30px;
}

.ci-card-title:first-of-type{
  margin-top: 0px;
}

// SUB-CARDS

.sub-card{
  display: inline-flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.15);
  margin: 10px;
  border: solid 3px $primary-color-brightest;
}

.sub-card .sub-card-header{
  font-size: $font-normal;
  font-family: $font-primary;
  margin: 0 10px;
  padding: 12px 18px 10px 18px;
  border-bottom: 1px solid lightgrey;
}

.sub-card .sub-card-content{
  font-family: $font-light;
  padding: 15px;
  overflow: auto;
}

.sub-card-wrap{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.sub-card-wrap.eq .sub-card{
  width: calc(33% - 20px);
}

.sub-card.green{
  border-color: $secondary-color-light;
}

.sub-card.red{
  border-color: $accent-color-2-light;
}

// CARD-STYLE ITEMS

.card-item{
  display: flex;
  max-width: 1000px;
  height: 76px;
  margin: auto;
  padding: 10px 25px;
  align-items: center;
  cursor: pointer;
  border: 1px solid $grey-bright;
}

.card-item.hover-indent:hover .card-item-info, .card-item.hover-indent:hover .circular-badge{
 transform: translateX(10px);
}

.card-item .card-item-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.card-item.hover-indent .card-item-info, .card-item.hover-indent .circular-badge{
  transition: transform .5s;
}

a.card-item{
  color: inherit;
}

a.card-item:hover, a.card-item:focus{
  text-decoration: none;
}

// COLUMNS
.col-md-1.card, .col-md-2.card, .col-md-3.card, .col-md-4.card,
.col-md-5.card, .col-md-6.card,.col-md-7.card, .col-md-8.card,
.col-md-9.card, .col-md-10.card, .col-md-11.card, .col-md-12.card{
  padding: 0px;
}

.col-md-1.card{
  max-width: calc(8.3% - 40px);
}

.col-md-2.card{
  max-width: calc(16.6% - 40px);
}

.col-md-3.card, .col-md-3{
  max-width: calc(25% - 40px);
}

.col-md-4.card{
  max-width: calc(33.3% - 40px);
}

.col-md-5.card{
  max-width: calc(41.6% - 40px);
}

.col-md-6.card{
  max-width: calc(50% - 40px);
}

.col-md-7.card{
  max-width: calc(58.3% - 40px);
}

.col-md-8.card{
  max-width: calc(66.6% - 40px);
}

.col-md-9.card{
  max-width: calc(75% - 40px);
}

.col-md-10.card{
  max-width: calc(83.3% - 40px);
}

.col-md-11.card{
  max-width: calc(91.6% - 40px);
}

.col-md-12.card{
  max-width: calc(100% - 40px);
}

.table-cardstyle table.dataTable th, .table-cardstyle table.dataTable td{
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

@media (max-width:768px) {
  .col-md-1.card, .col-md-2.card, .col-md-3.card, .col-md-4.card,
  .col-md-5.card, .col-md-6.card,.col-md-7.card, .col-md-8.card,
  .col-md-9.card, .col-md-10.card, .col-md-11.card, .col-md-12.card{
    min-width: initial !important;
    max-width: calc(100% - 20px) !important;
    margin: 10px !important;
  }

  .card-item{
    padding: 10px 10px;
  }

  .row.centered{
    display: block;
  }
}

@media (max-width: 1140px){
  .sub-card-wrap .sub-card{
    width: calc(100% - 20px) !important;
  }
}

@media (max-width: 1475px){
  .sub-card-wrap.eq .sub-card{
    width: calc(50% - 20px);
  }
}
