// Modals

// Override BS Modal styles

.modal-dialog {
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

.modal-content {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: $card-border-radius;
}

.modal-content .modal-header, .modal-content .modal-footer  {
  color: $grey-medium;
  border: 0;
}

.modal-body.centered{
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Modal Sizes

.modal-lg.small-screen {
  width: 50%;
}

.modal-lg.medium-screen {
  width: 60%;
}

.modal-lg.wide-screen {
  width: 85%;
}

.modal-lg.full-screen {
  width: 95%;
}

.modal-lg.wide-screen .modal-body, .modal-lg.full-screen .modal-body,
  .modal-lg.small-screen .modal-body, .modal-lg.medium-screen .modal-body {
  padding: 20px 20px;
}

.modal .modal-body {
  min-width: auto !important;
  overflow-x: auto;
}

@media (max-width: 768px){
  .modal .modal-dialog {
    width: calc(100% - 20px) !important;
  }
}

// Modal Images
img.modal-img{
  display: block;
  width: 120px;
  margin: 10px auto;
}

img.modal-img.large{
  width: 160px;
  margin: 10px 0px;
}

img.modal-img.wide{
  width: 280px;
}

// Managed Items Select Modal
.modal-content .card {
  min-height: 400px;
  max-height: 80%;
}

// Items Picker Modal

.modal-items-picker.modal {

  .modal-header {
    padding-bottom: 0px;
  }

  .modal-body {
    padding-top: 6px;
    font-family: $font-light;
  }

  .modal-footer {
    padding-top: 0px;
  }

  hr {
    margin: 10px 0px;
  }

}


@media (max-width: 1250px){
  
  .modal {
    .modal-content .card {
      max-width: calc(100% - 40px);
      width: calc(100% - 40px);
    }
  }

}

// Overflow fix
.modal.fade {
  overflow-y: auto;
}


@media (max-width: 1250px){

  // Items picker 
  .modal[id^="items-picker-"] {

    .modal-content .card {
      max-width: 100% !important;
      width: 100% !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    .modal-body {
      padding: 20px 5px !important;
    }

  }

}

