@import "shared/vars.scss";

$axisColor: #76ccbe;
$timepointColor: #ffaf6e;
$textColor: #7e7e7e;


// Container
#timeline-container {
  padding: 0px 50px;

  .d3-timeline {
    min-height: 140px;
  }
}

// Axis and ticks 
.d3-timeline svg {

  cursor: ew-resize;

  .domain, .tick line {
    stroke-width: 2;
    stroke: $axisColor;
  }

  .tick text {
    fill: $textColor;
  }

  .arm-label {
    fill: $axisColor;
    font-size: $font-small;
    transform: rotate(-90deg);
    text-anchor: middle;
  }

}

// Timepoints
.d3-timeline svg {

  .timepoint {
    cursor: pointer;
    fill: $timepointColor;
  }

}

@media(max-width: 1400px) {
  
  #timeline-container {
    padding: 0;
  }
  
}