/*
* History Panel
*
* Requires:
* history [Table] the managed item table
*/

/**
 * History Panel Panel Constructor
 *
 * @return [void]
 */
function HistoryPanel(url, strict_params, identifier, scope_id, count) {
  var _this = this;

  var counter = 0;

  var loading_html = generateSpinner("medium");

  this.url = url;
  this.strict_params = strict_params;
  this.identifier = identifier;
  this.scope_id = scope_id;
  this.count = count;
	this.historyTable = $('#history').DataTable( {
    "order": [[ 0, "desc" ]],
    "columns": [
      {"render" : function (data, type, row, meta) {
        if (type == 'display') {
          return row.has_identifier.semantic_version;
        } else {
          return row.has_identifier.version;
        }}
      },
      {"data" : "has_identifier.has_scope.short_name"},
      {"data" : "has_identifier.identifier"},
      {"data" : "label"},
      {"data" : "has_identifier.version_label"},
      {"data" : "has_state.registration_status", "render": function (data, type, row, meta){
        if (type == "display") 
          return _this.registrationStatesHTML(row);
        else return data;
      }},
      {className: "text-right", "render" : function (data, type, row, meta) {
        var id = "con-menu-" + counter;

        var menu_items =
        [ { link_path: row.show_path, disabled: row.show_path == "" ? "true":"false", icon: "icon-view", text: "Show", },
          { link_path: row.search_path, disabled: row.search_path == "" ? "true":"false", icon: "icon-search", text: "Search", },
          { link_path: row.edit_path, disabled: row.edit_path == "" ? "true":"false", icon: "icon-edit", text: "Edit", },
          { link_path: row.status_path, disabled: row.status_path == "" ? "true":"false", icon: "icon-document", text: "Document control", },
          { link_path: row.delete_path, disabled: row.delete_path == "" ? "true":"false", icon: "icon-trash", text: "Delete", }, ];
        counter ++;

        return generateContextMenu(id, menu_items);
        }
      },
    ],
    "pageLength": pageLength, // Gloabl setting
    "lengthMenu": pageSettings, // Gloabl setting
    "processing": true,
    "language": {
      "infoFiltered": "",
      "emptyTable": "No changes.",
      "processing": loading_html
    },
    "drawCallback": function(){
      // THIS WILL OPEN THE CONTEXT MENU ON THE LEFT SIDE IF THERE IS NOT ENOUGH SPACE ON THE RIGHT
      if($('#history').offset().left + $('#history').outerWidth() + $('#history').find(".context-menu").outerWidth() > $(document).width()-100){
        $('#history').find(".context-menu").addClass("left");
      }
    },
  });
  this.add(0);
}


/**
 * Add item to table
 *
 * @param [String] uri the uri of the item being added
 * @param [Integer] key a unique reference
 * @return [void]
 */
HistoryPanel.prototype.add = function (offset) {
  var _this = this;
  if (offset === 0) {
    _this.historyTable.processing(true);
  }
  var data = {}
  data[_this.strict_params] = {"identifier": _this.identifier, "scope_id": _this.scope_id, "count": _this.count, "offset": offset}
  $.ajax({
    url: _this.url,
    data: data,
    type: 'GET',
    dataType: 'json',
    success: function(result) {
    	for (i=0; i<result.data.length; i++) {
        var row = _this.historyTable.row.add(result.data[i]);
        if (result.data[i].current) {
          $(row).toggleClass('success');
        }
      }
      _this.historyTable.draw();
      if (result.count >= _this.count) {
        _this.historyTable.processing(false);
       _this.add(result.offset + _this.count)
      } else {
        _this.historyTable.processing(false);
        _this.setListeners();
      }


    },
    error: function(xhr,status,error){
      handleAjaxError(xhr, status, error);
      _this.historyTable.processing(false);
    }
  });
}

HistoryPanel.prototype.registrationStatesHTML = function (data) {
  var lstate = data.has_state.registration_status.toLowerCase();
  if (lstate == "not_set" || lstate == "recorded" || lstate == "qualified" || lstate == "standard") {
    if (data.has_state.multiple_edit)
    return "<span class='clickable registration-state ttip'><span class='ttip-text text-small shadow-small'>Disable multiple edits</span><span class='icon-lock-open text-secondary-clr text-small'></span> "+ data.has_state.registration_status +"</span>";
    else
    return "<span class='clickable registration-state ttip'><span class='ttip-text text-small shadow-small'>Enable multiple edits</span><span class='icon-lock text-accent-2 text-small'></span> "+ data.has_state.registration_status +"</span>";
  }
  else return data.has_state.registration_status;
}

HistoryPanel.prototype.setListeners = function () {
  var _this = this;

  $(".registration-state").on("click", function(){
    var data = _this.historyTable.row($(this).parents("tr:first")).data();
    _this.updateRegistrationState(data);

  })
}

HistoryPanel.prototype.updateRegistrationState = function (data) {
  var _this = this;
  url_rs_path = url_rs_path.replace("rs_id", data.id);
  // var current_status = data.has_state.multiple_edit == "true";
  var current_status = data.has_state.multiple_edit;

  var requestData = { "iso_registration_state": { "multiple_edit": !current_status} };
  $.ajax({
    url: url_rs_path,
    type: 'PUT',
    dataType: 'json',
    data: JSON.stringify( requestData ),
    contentType: 'application/json',
    error: function (xhr, status, error) {
      var html = alertError("An error has occurred updating multiple edit flag.");
      displayAlerts(html);
    },
    success: function(result){
      location.reload();
    }
  });
}

// HistoryPanel.prototype.linkButton = function (path, text) {
//   _this = this;
//   if (path === "") {
//     return "&nbsp;"
//   } else {
//     return '<a href="' + path + '" class="btn  btn-xs">' + text + '</a>';
//   }
// }
//
// HistoryPanel.prototype.deleteButton = function (path, text) {
//   if (path === "") {
//     return "&nbsp;"
//   } else {
//     return '<a href="' + path + '" class="btn btn-danger btn-xs" data-confirm="Are you sure?" data-method="delete">' + text + '</a>';
//   }
// }
