@import "shared/vars.scss";

#concept-tags-editor.el-loading {
  opacity: 0.6;
}

#concept-tags-editor #tags {
  margin: 10px;
  margin-top: 5px;
}

.bg-label.tag {
  background: white;
  border: 2px solid;
  padding: 1px 10px;
  font-size: $font-small;
  margin-top: 5px;
}

.bg-label.tag.removable:hover {
  box-shadow: none !important;
  border-color: $accent-color-2-light !important;
}

.bg-label.tag.removable:hover::after {
  top: -12px;
  right: -10px;
}
