<%= javascript_include_tag 'shared/d3_graph_v2', 'shared/impact/impact_graph' %>
<%= javascript_include_tag  "https://d3js.org/d3.v4.js" %>

<%= javascript_tag "var graphBaseUrl = '#{impact_thesauri_managed_concept_path(id: "clId", impact: {sponsor_th_id: th_id})}'" %>

Test
<div id="d3_graph">

</div>
