<div class="filter-wrap">
  <div class="btn ico-btn light shadow-small filter-btn" id="<%= btn_id %>">
    <span class="icon-filter text-normal"></span><span class="ico-btn-text">Filter</span>
  </div>
  <div class="filter-expandable collapsed">
    <div class="circular-badge bg-grey-bright text-medium">
      A
    </div>
    <div class="alph-slider-wrap">
      <div class="alph-slider-sides">A</div>
      <input type="range" min="1" max="26" value="1" class="alph-slider">
      <div class="alph-slider-sides">Z</div>
    </div>
  </div>
</div>
