<%= stylesheet_link_tag 'tags', 'concerns/spinner-component'%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags</h3>
  </div>
  <div class="panel-body attribute-panel">
    <div id="tag_panel_spinner" class="loading-overlay">
      <div class="spinner-container">
        <img class="spinner" src="<%= asset_path('loading.gif') %>">
      </div>
    </div>
    <div class="tags-container" id="tags_container"></div>
    <% if policy(item.class).edit? and item.edit? and item.latest? %>
      <%= link_to "Update Tags", edit_tags_iso_managed_index_path(:id => item.id, :namespace => item.namespace), :class => "btn ", :id => "path_update_tags" %>
    <% else %>
    <% end %>
  </div>
</div>
