<div class="col-md-5" >
    <br/>
    <form id="main_form">
        <div id="formInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Form Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label for="formIdentifier">Identifier:</label>
                        <input type="text" class="form-control" id="formIdentifier" name="formIdentifier">
                    </div>
                    <div class="form-group">
                        <label for="formLabel">Label:</label>
                        <input type="text" class="form-control" id="formLabel" name="formLabel">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#formCompletion">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </button>
                        <label for="formCompletion">Completion Instructions:</label><br/>
                        <textarea class="form-control collapse in" id="formCompletion" name="formCompletion" rows="5" style="font-family:monospace;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#formNote">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </button>
                        <label for="formNote">Notes:</label>
                        <textarea class="form-control collapse in" id="formNote" name="formNote" rows="5" style="font-family:monospace;"></textarea>
                    </div>
                </div>
                <button type="button" id="formUpdate" class="btn btn-primary">Update</button>
                <button type="button" id="formAddGroup" class="btn btn-primary">Add Group</button>
                <button type="submit" id="formSave" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div id="groupInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Group Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label for="groupLabel">Label:</label>
                        <input type="text" class="form-control" id="groupLabel" name="groupLabel">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="groupRepeating" name="groupRepeating"><strong>Repeating</strong>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#groupCompletion">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </button>
                        <label for="groupCompletion">Completion Instruction:</label>
                        <textarea class="form-control collapse in" id="groupCompletion" name="groupCompletion" rows="5" style="font-family:monospace;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#groupNote">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </button>
                        <label for="groupNote">Notes:</label>
                        <textarea class="form-control collapse in" id="groupNote" name="groupNote" rows="5" style="font-family:monospace;"></textarea>
                    </div>
                </div>
                <button type="button" id="groupUpdate" class="btn btn-primary">Update</button>
                <button type="button" id="groupDelete" class="btn btn-danger">Delete</button>
                <button type="button" id="groupAddGroup" class="btn btn-primary">G+</button>
                <button type="button" id="groupAddCommon" class="btn btn-primary">C+</button>
                <button type="button" id="groupAddBc" class="btn btn-primary">BC+</button>
                <button type="button" id="groupAddQuestion" class="btn btn-primary">Q+</button>
                <button type="button" id="groupAddPlaceholder" class="btn btn-primary">P+</button><br/><br/>
                <button type="button" id="groupUp" class="btn btn-primary">Up</button>
                <button type="button" id="groupDown" class="btn btn-primary">Down</button>
            </div>    
        </div>
        <div id="commonInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Common Group Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label for="commonLabel">Label:</label>
                        <input type="text" class="form-control" id="commonLabel" name="commonLabel">
                    </div>
                </div>
                <button type="button" id="commonUpdate" class="btn btn-primary">Update</button>
                <button type="button" id="commonDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div id="bcInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Biomedical Concept Details</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td><strong>Identifier:</strong></td>
                            <td id="bcIdentifier"></td>
                        </tr>
                        <tr>
                            <td><strong>Label:</strong></td>
                            <td id="bcLabel"></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" id="bcDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div id="questionInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Question Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div>
                        <div class="form-group">
                            <label for="questionText">Question Text:</label>
                            <input type="text" class="form-control" id="questionText">
                        </div>
                        <div class="form-group">
                            <label for="questionDatatype">Mapping:</label>
                            <input type="text" class="form-control" id="questionMapping">
                        </div>
                        <div id="questionDatatype" class="col-sm-8">
                            <label for="questionDatatype">Datatype:</label><br/>
                            <label class="radio-inline">
                              <input type="radio" name="dtRadio" value="I"> I
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="dtRadio" value="F"> F
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="dtRadio" value="C"> C
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="dtRadio" value="CL"> CL
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="dtRadio" value="BL"> BL
                            </label>
                        </div>
                        <div class="form-group  col-sm-4">
                            <label for="questionFormat">Format:</label>
                            <input type="text" class="form-control" id="questionFormat">
                        </div>
                    </div>
                    <label for="questionClTable">Code List:</label>
                    <table id="questionClTable" class="table table-striped table-bordered"  cellspacing="0" width="100%">
                        <thead>
                            <tr> 
                                <th>Item</th>
                                <th>Submission Value</th>                                        
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="button" id="deleteTerm" class="btn btn-danger">Delete</button><br/><br/>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#questionCompletion">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </button>
                        <label for="questionCompletion">Completion Instruction:</label>
                        <textarea class="form-control collapse in" id="questionCompletion" name="questionCompletion" rows="5" style="font-family:monospace;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#questionNote">
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </button>
                        <label for="questionNote">Notes:</label>
                        <textarea class="form-control collapse in" id="questionNote" name="questionNote" rows="5" style="font-family:monospace;"></textarea>
                    </div>
                    <button type="button" id="questionUpdate" class="btn btn-primary">Update</button>
                    <button type="button" id="questionDelete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        <div id="placeholderInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Placeholder Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label for="placeholderText">Placeholder Text:</label>
                        <input type="text" class="form-control" id="placeholderText">
                    </div>
                </div>
                <button type="button" id="placeholderUpdate" class="btn btn-primary">Update</button>
                <button type="button" id="placeholderDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div id="itemInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">BC Item Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td><strong>Identifier:</strong></td>
                                <td id="itemIdentifier"></td>
                            </tr>
                            <tr>
                                <td><strong>Label:</strong></td>
                                <td id="itemLabel"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="itemEnable" checked="yes"><strong>Enable</strong>
                            </label>
                        </div>
                    </div>
                    <button type="button" id="itemUpdate" class="btn btn-primary">Update</button>
                    <button type="button" id="itemCommon" class="btn btn-primary">Common</button>
                    <button type="button" id="itemRestore" class="btn btn-primary">Restore</button>
                </div>
            </div>
        </div>
        <div id="clInfo" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Code List Details</h3>
            </div>
            <div class="panel-body">
                <div>
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td><strong>Identifier:</strong></td>
                                <td id="clIdentifier"></td>
                            </tr>
                            <tr>
                                <td><strong>Label:</strong></td>
                                <td id="clLabel"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="clEnable" checked="yes"><strong>Enable</strong>
                            </label>
                        </div>
                    </div>
                    <button type="button" id="clUpdate" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
        <div id="bcSelection" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Biomedical Concept Selection</h3>
            </div>
            <div class="panel-body">
                <table id="bcTable" class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Identifier</th>
                            <th>Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="notepad_panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notepad</h3>
            </div>
            <div class="panel-body">
                <table id="notepad_table" class="table table-striped table-bordered"  cellspacing="0" width="100%">
                    <thead>
                        <tr> 
                            <th>Item</th>
                            <th>Submission Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="button" id="notepad_add" class="btn btn-primary">Add</button>
                <button type="button" id="notepad_refresh" class="btn btn-primary">Refresh</button>    
            </div>
        </div>
        <div id="markdown_panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Markdown Preview</h3>
            </div>
            <div class="panel-body">
                <div id="genericCompletion"></div>
                <button type="button" id="markdown_preview" class="btn btn-primary">Preview</button>    
                <button type="button" id="markdown_hide" class="btn btn-primary">Hide</button>    
            </div>
        </div>
    </form>
</div>





