<% button_class = "btn btn-primary" %>
<% backward_single_class = links[:backward_single].blank? ? button_class + " disabled" : button_class %>
<% backward_multiple_class = links[:backward_multiple].blank? ? button_class + " disabled" : button_class %>
<% forward_single_class = links[:forward_single].blank? ? button_class + " disabled" : button_class %>
<% forward_multiple_class = links[:forward_multiple].blank? ? button_class + " disabled" : button_class %>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to links[:backward_multiple], class: "#{backward_multiple_class}" do %>
    <span class="fa fa-fast-backward"></span>
  <% end %>
  <%= link_to links[:backward_single], class: "#{backward_single_class}" do %>
    <span class="fa fa-step-backward"></span>
  <% end %>
  <%= link_to links[:forward_single], class: "#{forward_single_class}" do %>
    <span class="fa fa-step-forward"></span>
  <% end %>
  <%= link_to links[:forward_multiple], class: "#{forward_multiple_class}" do %>
    <span class="fa fa-fast-forward"></span>
  <% end %>
</div>