<div class="ico-header shadow-small">
  <img src="<%= asset_path(img_path) %>" class="ico"></img>
  <span class="title"><%= header_title %></span>
</div>
<div class="text-small text-light font-light text-centered" style="margin-top: 10px;">
  Total: <span class="amount">0</span>
</div>
