<div id="managed_item_panel" class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Impact Graph</h3>
  </div>
  <div class="panel-body">
		<div class="d3-tree" id="d3">
  		<!-- D3 Area -->
		</div>
	</div>
</div>
