<div class="col-md-5" >
    <br/>
    <form id="main_form">
        <div id="tagInfo" class="card">
                <h3 class="card-header">Tag Details</h3>
            <div class="card-content">
                <div>
                    <div class="form-group">
                        <label for="tagLabelLabel">Label:</label>
                        <input type="text" class="form-control" id="tagLabel" name="Tag Label">
                    </div>
                    <div class="form-group">
                        <label for="tagDescription">Description:</label>
                        <input type="text" class="form-control" id="tagDescription" name="Tag Description">
                    </div>
                </div>
                <button type="button" id="tagAdd" class="btn ">Tag+</button>
                <button type="submit" id="tagSave" class="btn ">Save</button>
            </div>
        </div>
    </form>
</div>