<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

</style>
<div class="row">
<h1>Biomedical Concept Creation</h1>
       <div class="col-md-8" style="padding-right:20px; border-right: 1px solid #ccc;">
        	<div>
                <div id="bct_select">
                    <%= select_tag(:bct_status, options_for_select(@bcts_options)) %>
                </div><br/>  
                <button type="button" id="bct_button" class="btn btn-primary">Get Template</button>
                <button type="button" id="save_button" class="btn btn-primary">Save Concept</button>       
            </div>
            <div style="height: 500px;" id="d3">
        		<!-- D3 Area -->
        	</div>
        </div>
        <div class="col-md-4">
            <div>
        		<!-- Tab list -->
        		<ul id="tab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#bcPage" aria-controls="home" role="tab" data-toggle="tab">Biomedical Concept</a></li> 
                    <li role="presentation"><a href="#item" aria-controls="home" role="tab" data-toggle="tab">Item</a></li>
                </ul>
                
                <!-- Tab panes -->
                <div id="tab-content" class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="bcPage">
                        <br/>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="bcName">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="item">
                        <br/>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="itemName">
                        </div>
                        <div class="form-group">
                            <label for="qText">Question text:</label>
                            <input type="text" class="form-control" id="qText">
                        </div>
                        <div class="form-group">
                            <label for="pText">Prompt text:</label>
                            <input type="text" class="form-control" id="pText">
                        </div>
                        <div class="form-group">
                            <label for="collect">Collect:</label>
                            <br/>
                            <div class="checkbox">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="collect" value="true">Collect</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group col-lg-6">
                <input id="searchClText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button id="searchCl" class="btn btn-primary" type="button">Search</button>
                </span>
            </div>
            <br/>
        	<div>
        		<table id="clTable" class="table table-striped table-bordered"  cellspacing="0" width="100%">
                    <thead>
                        <tr> 
                            <th>C Code</th>
                            <th>C Code</th>
                            <th>C Code</th>
                            <th>C Code</th>
                            <th>C Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No results</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
        	</div>
            
        </div>
        <div class="col-md-6">
            <div class="input-group col-lg-6">
                <input id="searchCliText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button id="searchCli" class="btn btn-primary" type="button">Search</button>
                </span>
            </div>
            <br/>
            <div>
                <table id="cliTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>C Code</th>
                            <th>Submission Value</th>
                            <th>Description</th>
                            <th>???</th>
                            <th>???</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>C Code</th>
                            <th>Submission Value</th>
                            <th>Description</th>
                            <th>???</th>
                            <th>???</th>
                        </tr>
                    </tfoot>
                    <tbody>                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="debug">
                <!-- D3 Area -->
            </div>
        </div>
    </div>        

