<%= stylesheet_link_tag    'd3local', 'cdisc_bcs_editor'%>
<%= javascript_include_tag 'd3local', 'cdisc_bcs_editor'%>
<div class="row">
    <h3>Biomedical Concept Creation</h3>
    <div class="col-md-7" style="padding-right:20px; border-right: 1px solid #ccc;">
        <div>
    		<!-- Tab list -->
    		<ul id="bcTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#bcOverall" aria-controls="home" role="tab" data-toggle="tab">Biomedical Concept</a></li> 
                <li role="presentation"><a href="#bcItem" aria-controls="home" role="tab" data-toggle="tab">Item</a></li>
            </ul>
            
            <!-- Tab panes -->
            <div id="bcTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="bcOverall">
                    <br/>
                    <div class="form-group">
                        <label for="name">Identifier:</label>
                        <input type="text" class="form-control" id="bcIdentifier">
                    </div>
                    <div class="form-group">
                        <label for="bcLabel">Label:</label>
                        <input type="text" class="form-control" id="bcLabel">
                    </div>
                    <div>
                        <label for="name">Biomedical Concept Template:</label>
                        <div id="bct_select">
                            <%= select_tag(:bct_status, options_for_select(@bcts_options)) %>
                        </div><br/>  
                        <button type="button" id="bct_button" class="btn btn-primary">Get Template</button>
                        <button type="button" id="save_button" class="btn btn-primary">Save Concept</button>       
                    </div><br/>  
                </div>
                <div role="tabpanel" class="tab-pane" id="bcItem">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="itemName">
                            </div>
                            <div class="form-group">
                                <label for="qText">Question text:</label>
                                <input type="text" class="form-control" id="qText">
                            </div>
                            <div class="form-group">
                                <label for="pText">Prompt text:</label>
                                <input type="text" class="form-control" id="pText">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="collect" value="true"><strong>Collect</strong>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="enable" value="true"><strong>Enable</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="name">Code List Items:</label><br/>
                            <table id="bcTable" class="table table-striped table-bordered"  cellspacing="0" width="100%">
                                <thead>
                                    <tr> 
                                        <th>C Code</th>
                                        <th>Sub Value</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>No results</td>
                                        <td></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" id="add_button" class="btn btn-primary">Add</button>   
                            <button type="button" id="delete_button" class="btn btn-primary">Delete</button>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div style="height: 300px;" id="d3">
            <!-- D3 Area -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
        <!-- Tab list -->
        <ul id="clTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#clCDISC" aria-controls="home" role="tab" data-toggle="tab">CDISC</a></li> 
            <li role="presentation"><a href="#clSponsor" aria-controls="home" role="tab" data-toggle="tab">Sponsor</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div id="clTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="clCDISC">
                <br/>
                <div class="form-inline">
                    <div class="input-group col-lg-4">
                        <input id="searchCDISCText" type="text" class="form-control" placeholder="Free text search...">
                        <span class="input-group-btn">
                            <button id="searchCDISC_button" class="btn btn-primary" type="button">Search</button>
                        </span>
                    </div>
                    <div class="input-group col-lg-2">
                        <label class="radio-inline">
                            <input type="radio" name="searchCDISC_radio" id="searchCDISCTypeText" value="text" checked> Text
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="searchCDISC_radio" id="searchCDISCTypeCCode" value="ccode"> Code List
                        </label>
                    </div>
                </div>
                <br/>
                <div>
                    <table id="cdiscTable" class="table table-striped table-bordered"  cellspacing="0" width="100%">
                        <thead>
                            <tr> 
                                <th>C Code</th>
                                <th>Sub Value</th>
                                <th>Definition</th>
                                <th>Synonym</th>
                                <th>Pref'd Term</th>
                                <th>Code List</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No results</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="clSponsor">
                <br/>
                <div class="form-inline">
                    <div class="input-group col-lg-4">
                        <input id="searchSponsorText" type="text" class="form-control" placeholder="Free text search...">
                        <span class="input-group-btn">
                            <button id="searchSponsor_button" class="btn btn-primary" type="button">Search</button>
                        </span>
                    </div>
                    <div class="input-group col-lg-2">
                        <label class="radio-inline">
                            <input type="radio" name="searchSponsor_radio" id="searchSponsorTypeText" value="text" checked> Text
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="searchSponsor_radio" id="searchSponsorTypeCCode" value="ccode"> Identifier
                        </label>
                    </div>
                </div>
                <br/>
                <div>
                    <table id="sponsorTable" class="table table-striped table-bordered"  cellspacing="0" width="100%">
                        <thead>
                            <tr> 
                                <th>Identifier</th>
                                <th>Notation</th>
                                <th>Definition</th>
                                <th>Synonym</th>
                                <th>Pref'd Term</th>
                                <th>Code List</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No results</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>
  

