/*
* Change Instruction Panel
*
*/

/**
* Change Instruction Panel Constructor
* @param url [String] The url to make the ajax call
* @param panelId [String] The id assigned to the panel
*
* @return [void]
*/
function CiPanel(url, panelId, panelTitle) {
  this.url = url;
  this.panelId = panelId;
  this.panelTitle = panelTitle;
  this.getData();
}

/**
 * Ajax Call
 *
 * @return [void]
 */
CiPanel.prototype.getData = function () {
  var _this = this;
  $.ajax({
    url: _this.url,
    type: 'GET',
    dataType: 'json',
    contentType: 'application/json',
    success: function(result){
      console.log(result.data);
    _this.display(result.data);
    },
    error: function(xhr,status,error){
      handleAjaxError (xhr, status, error);
    }
  });
}

/**
 * Display the result
 * @param result [String] The result obtained from Ajax call
 *
 * @return [void]
 */
CiPanel.prototype.display = function (result) {
  var _this = this;
  var html = '';

  html += '<div class="card">' +
            '<h3 class="card-header">'+_this.panelTitle+'</h3>'+
            '<div class="card-content">';

  html +=     '<div class="list-wrap">';

  if (result.current.length == 0 && result.previous.length == 0) {  // NO CI
    html += generateNoResultsMsg("No " + _this.panelTitle + ".");
  }
  else if (result.current.length == 0)  {   // OLD CI
    html += '<div class="font-light ci-card-title text-small p-justified"><span class="font-regular">Instruction: </span>'+ result.description +'</div>';

    $.each(result.previous, function(index, prev) {
      html += '<a href="' + prev.show_path + '">';
      html += ' <div class="list-card i-lc shadow-small">';
      html += '   <div class="card-badge bg-prim-bright"></div>';
      html += '   <div class="icon icon-old text-light text-large ttip"><span class="ttip-text shadow-small text-medium text-small">Old version</span></div>';
      html += '   <div class="text-wrap">'
      html += '     <div class="text">' + prev.parent.notation + ' (' + prev.parent.identifier + ') </div>';
      html += '     <div class="text sub-text">' + prev.child.notation + ' (' + prev.child.identifier + ') </div>';
      html += '   </div>';
      html += ' </div>';
      html += '</a>';
    });
  }
  else {  // NEW CI
    html += '<div class="font-light ci-card-title text-small p-justified"><span class="font-regular">Instruction: </span>'+ result.description +'</div>';

    $.each(result.current, function(index, curr) {
      html += '<a href="' + curr.show_path + '">';
      html += ' <div class="list-card i-lc shadow-small">';
      html += '   <div class="card-badge bg-prim-bright"></div>';
      html += '   <div class="icon icon-new text-light text-large ttip"><span class="ttip-text shadow-small text-medium text-small">New version</span></div>';
      html += '   <div class="text-wrap">'
      html += '     <div class="text">' + curr.parent.notation + ' (' + curr.parent.identifier + ') </div>';
      html += '     <div class="text sub-text">' + curr.child.notation + ' (' + curr.child.identifier + ') </div>';
      html += '   </div>';
      html += ' </div>';
      html += '</a>';
    });
  }

  html +='</div></div></div>';

  $('#'+_this.panelId).html(html);
}
