/*
* Differences Panel
*
* Requires:
* differences_table [Table] the differences table
*/

/**
 * Differences Panel Constructor
 *
 * @return [void]
 */
function DifferencesPanel(url) {
  this.url = url;
  var _this = this;
  var columns = [
    {"data" : "date"},
    {"render" : function (data, type, row, meta) {
      return _this.status(row.differences.identifier);
    }},
    {"render" : function (data, type, row, meta) {
      return _this.status(row.differences.notation);
    }},
    {"render" : function (data, type, row, meta) {
      return _this.status(row.differences.preferred_term);
    }},
    {"render" : function (data, type, row, meta) {
      // var html = "";
      // jQuery.each(row.differences.synonym, function(i, val) {
      //   html = html + _this.merge(val.label);
      // });
      // return html;
      return _this.status(row.differences.synonym);
    }},
    {"render" : function (data, type, row, meta) {
      return _this.status(row.differences.definition);
    }}];

  this.columns = columns;

  this.init();
}

/**
 * Initializes table
 *
 * @return [void]
 */
DifferencesPanel.prototype.init = function () {
  this.differencesTable = $('#differences_table').DataTable( {
    // "ajax": {
    //   "dataSrc": "data"
    // },
    "columns": this.columns,
    "pageLength": pageLength, // Gloabl setting
    "lengthMenu": pageSettings, // Gloabl setting
    "processing": true,
    "language": {
      "infoFiltered": "",
      "emptyTable": "No changes.",
      "processing": generateSpinner("medium")
    }
  });

  if(this.url != null)
    this.differencesTable.ajax.url(this.url).load();
}

/**
 * Resets table
 *
 * @param newUrl [String] new data url
 * @return [void]
 */
DifferencesPanel.prototype.reload = function (newUrl) {
  this.url = newUrl;
  this.differencesTable.clear();
  this.differencesTable.ajax.url(this.url).load();
}

DifferencesPanel.prototype.status = function (data) {
  if (data.status === "deleted") {
    return '<div class="text-centered"><span class="icon-times-circle text-accent-2 text-xnormal ttip"><span class="ttip-text ttip-center text-medium text-small shadow-small">Deleted</span></span></div>';
  } else if (data.status === "no_change") {
    return '<div class="text-centered"><span class="icon-arrow-circle-d text-light text-xnormal ttip"><span class="ttip-text ttip-left text-medium text-small shadow-small">No change</span></span></div>';
  } else if (data.status === "created") {
    return '<div class="diff">' + data.current + '</div>';
  } else if(data.status === "updated") {
    return '' + data.difference + '';
  } else {
    return '&nbsp;';
  }
}

DifferencesPanel.prototype.merge = function (data) {
  if (data.status === "deleted") {
    return data.difference + '</br>'
  } else if (data.status === "no_change") {
    return data.current + '</br>';
  } else if (data.status === "created") {
    return '<div class="diff">' + data.current + '</div></br>';
  } else if(data.status === "updated") {
    return data.difference + '</br>';
  } else {
    return '';
  }
}
