<div class="row">
  <div class="col-md-8">
    <%= render partial: "shared/import/new_model_panel", locals: {create_path: imports_adam_igs_path, title: "Import ADaM Implementation Guide"} %>
  </div>
</div>