<%= stylesheet_link_tag 'shared/datatables_loading' %>
<%= javascript_include_tag 'shared/thesauri/editor_panel' %>
<style>
  div.DTE_Inline.DTE_Processing:after {
      background: url('<%= asset_path('ajax-loader-small.gif') %>') no-repeat top left;
  }
</style>
<div id="formInfo" class="card">
    <h3 class="card-header"><%= title %></h3>
  <div class="card-content">
    <table id="editor_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Identifer</th>
          <th>Submission Value</th>
          <th>Preferred Term</th>
          <th>Synonyms</th>
          <th>Definition</th>
          <th class="fit"></th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
