<%= javascript_include_tag 'shared/thesauri/links_panel' %>
<%= stylesheet_link_tag 'shared/thesauri/links_panel' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body" id="linkspanel">
   
  </div>
</div>