<%= javascript_include_tag 'shared/thesauri/subsets_index' %>
<%= stylesheet_link_tag 'spinner' %>
<% if Rails.env == "test" || Rails.env == "development" %>
  <%= javascript_include_tag 'rspec_helper' %>
<% end %>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true" id="subsets-index-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title text-normal" id="tableModalLabel">
          <span class="icon-subset text-link" style="margin-right:10px;"></span> Subsets of <%= @tc.identifier %>
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row" style="padding: 10px 40px;">
          <div class="font-light">Below is the list of all Subsets of this item. You can edit the existing ones. Click New subset to create a new one.</div><br/>
          <div class="col-sm-12 table-cardstyle">
            <table style="width: 100%;" id="subsets-index-table" class="table table-condensed">
              <thead>
                <tr>
                  <th class="fit">Identifier</th>
                  <th class="fit">Submission Value</th>
                  <th>Preferred Term</th>
                  <th>Definition</th>
                  <th class="fit"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn medium" data-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn green medium" id="new_subset">+ New subset</button>
      </div>
    </div>
  </div>
</div>
