<%= javascript_include_tag 'shared/thesauri/search_panel', 'shared/thesauri/term_search_modal' %>
<%= stylesheet_link_tag 'spinner', 'shared/table_select' %>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true" id="searchModal">
  <div class="modal-dialog modal-lg full-screen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title text-normal text-medium" id="tableModalLabel">
          <span class="icon-search text-link" style="margin-right:10px;"></span> Search in Terminologies
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="search-modal-error"></div>
        <div class="font-light flex-total-center selection-info">
          Items selected: <span class="bg-label" id="number-selected">0</span>
          <button id="clear-selection" class="btn btn-xs grey">Clear</button>
        </div>
        <div class="font-light text-centered modal-info"> </div>
        <hr>

        <%= render partial: "shared/thesauri/search_panel", :locals => {columns: [{name: "Code List", id: "parent_identifier"}, {name: "Code List Name", id: "parent_label"},
  			{name: "Item", id: "identifier"}, {name: "Submission Value", id: "notation"}, {name: "Preferred Term", id: "preferred_term"}, {name: "Synonym", id: "synonym"},
  			{name: "Definition", id: "definition"}, {name: "Tags", id: "tags"}, {name: "<span class='icon-terminology text-xnormal'></span>".html_safe, id: "tidentifier", searchable: false},
  			{name: "<span class='icon-current text-normal'></span>".html_safe, id: "tversion", searchable: false}]} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn medium" data-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn medium green" id="add_terms">Add items</button>
      </div>
    </div>
  </div>
</div>
