<%= javascript_include_tag 'shared/thesauri/thesauri_select' %>
<%= stylesheet_link_tag 'spinner', 'homes' %>
              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true" id="tableModal">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="tableModalLabel">Select Terminology</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-12 table-cardstyle all-columns">
                          <table style="width: 100%;" id="thTable" class="table table-striped table-bordered table-condensed">
                            <thead>
                              <tr>
                                <th>Owner</th>
                                <th>Identifier</th>
                                <th>Label</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn medium" data-dismiss="modal" aria-label="Close">Close</button>
                      <button type="button" class="btn medium green" id="select_th">Select</button>
                    </div>
                  </div>
                </div>
              </div>
