<% top_level_breadcrumb ("Import") %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Import Centre</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Form Import - ALS</h3></div>
              <div class="panel-body">
                <p>This facilty allow for a form to be imported from an ALS file.</p>
                <%= link_to "Import ALS Form", new_imports_al_path, :class => "btn btn-success btn-block" %>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Form Import - ODM</h3></div>
              <div class="panel-body">
                <p>This facilty allow for a form to be imported from an ODM file</p>
                <%= link_to "Import ODM Form", new_imports_odm_path, :class => "btn btn-success btn-block" %>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Import Terminology - Excel</h3></div>
              <div class="panel-body">
                <p>This facilty allow for a form to be imported from an Excel file</p>
                <%= link_to "Import Excel Terminology", new_imports_term_path({imports: {type: :excel}}), :class => "btn btn-success btn-block" %>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Import Terminology - ODM</h3></div>
              <div class="panel-body">
                <p>This facilty allow for a form to be imported from an ODM file</p>
                <%= link_to "Import ODM Terminology", new_imports_term_path({imports: {type: :odm}}), :class => "btn btn-success btn-block" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
