<%= javascript_tag 'setPageTitle("Import")' %>
<% top_level_breadcrumb ("Import") %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Import Centre</h3>
      </div>
      <div class="panel-body">
        <% @items.each_with_index do |item, index| %>
          <% if index % 4 == 0 %>
            <div class="row">
          <% end %>
          <div class="col-md-3">
            <%= render partial: "shared/import/list_panel", locals: {item: item} %>
          </div>
          <% if index % 4 == 3 %>
            </div>
          <% elsif index == (@items.count - 1) %>
            </div>
          <% end %>
        <% end %>
        <div class="row">
          <div class="col-md-3">
            <%= render partial: "shared/buttons/index", locals: {link_path: imports_path, small: false,
              id: "imports_button", label: "Current Imports"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
