/*
* Subset Edit Children Panel
*
* Requires:
* subset_children_table [Table] the table of children of the subset in the subset edit page
*/

/**
 * Subset Edit Children Panel Constructor
 *
 * @return [void]
 */
function SubsetEditChildrenPanel(url, count) {
  var _this = this;
  this.url = url;
  this.count = count;
  this.columns = [{"data" : "index"},{"data" : "item"}];
  _this.loadComplete = false;
  this.childrenTable = $('#subset_children_table').DataTable( {
    "columns": _this.columns,
    "pageLength": pageLength, // Gloabl setting
    "lengthMenu": pageSettings, // Gloabl setting
    "processing": true,
    "scrollY": 510,
    "scrollCollapse": true,
    "paging": true,
    "rowReorder": {
      "dataSrc": "index",
      "selector": 'tr',
    },
    "language": {
      "infoFiltered": "",
      "emptyTable": "No child items.",
      "processing": generateSpinner("medium")
    },
  });
  this.add(0);
  this.childrenTable.columns.adjust();
  this.childrenTable.on('row-reordered', function(e, details, changes){ _this.reorderChild(changes); });
}

/**
 * Add item to table
 *
 * @param [String] uri the uri of the item being added
 * @param [Integer] key a unique reference
 * @return [void]
 */
SubsetEditChildrenPanel.prototype.add = function (offset) {
  var _this = this;
  _this.childrenTable.processing(true);
  $.ajax({
    url: _this.url,
    data: {"count": _this.count, "offset": offset},
    type: 'GET',
    dataType: 'json',
    success: function(result) {
      var ordinal = 1;
      for (i=0; i<result.data.length; i++) {
        rowHTML =  _this.childItemHTML(result.data[i]);
        var row = _this.childrenTable.row.add({"index": ordinal, "item": rowHTML});
        ordinal ++;
      }
      _this.childrenTable.draw();
      if (result.count >= _this.count) {
        _this.add(result.offset + _this.count)
      } else {
        _this.childrenTable.processing(false);
        _this.callbackTableLoaded();
      }
    },
    error: function(xhr,status,error){
      handleAjaxError(xhr, status, error);
      _this.childrenTable.processing(false);
    }
  });
}

/**
 * Handler for adding a child to the subset
 *
 * @param [JSON Object] item data of format {"index", "item"}
 * @return [void]
 */
SubsetEditChildrenPanel.prototype.addChild = function (item) {
  var _this = this;
  item["index"] = _this.childrenTable.rows().count() + 1;
  _this.childrenTable.row.add(item).draw();
}

/**
 * Handler for removing a child from the subset
 *
 * @param [JSON Object] item data of format {"index", "item"}
 * @return [void]
 */
SubsetEditChildrenPanel.prototype.removeChild = function (item){
  var _this = this;
  _this.findRow(_this.childrenTable, "item", item["item"]).remove().draw();
  _this.updateOrdinals();
}

/**
 * Handler for changing the order of the subset children
 *
 * @param [Array] changeEvent from DataTable callback
 * @return [void]
 */
SubsetEditChildrenPanel.prototype.reorderChild = function(changeEvent) {
  var _this = this;
  var targetChild = changeEvent.triggerRow.data()["item"];
  var newOrdinal = changeEvent.triggerRow.data()["index"];
  var previousChild = _this.findRow(_this.childrenTable, "index", newOrdinal-1);
  previousChild = previousChild[0].length == 0 ? null : previousChild.data()["item"];
  console.log("ITEM: " + targetChild);
  console.log("MOVED AFTER: " + previousChild);
}

/**
 * Callback for when both tables are loaded. The items that are existing in the subset table should be selected in the source codelist table on initial load.
 *
 * @return [void]
 */
SubsetEditChildrenPanel.prototype.callbackTableLoaded = function (){
  var _this = this;
  var otherTable = $("#source_children_table").DataTable();
  if(_this.childrenTable.rows().any() && otherTable.rows().any()){
    _this.childrenTable.rows().every(function () {
       _this.findRow(otherTable, "item", this.data()["item"]).select();
    });
    _this.loadComplete = true;
  }
}

/**
 * Finds a row in a DataTable
 *
 * @param [DataTable] Table in which to search
 * @param [String] DataType by which to search ("index", or "item")
 * @param [Anything] Value which to compare
 * @return [String] Row from a DataTable
 */
SubsetEditChildrenPanel.prototype.findRow = function(table, dataType, value){
  var row = table.row(function (idx, data, node){ return data[dataType] == value ? true : false; });
  return row;
}

/**
 * Updates ordinals to follow the order of the rows in the table
 *
 * @return [void]
 */
SubsetEditChildrenPanel.prototype.updateOrdinals = function(){
  var _this = this;
  var ordinal = 1;
  _this.childrenTable.rows().every(function(){
    this.data()["index"] = ordinal ++;
    this.invalidate();
  });
}

/**
 * Generates HTML for a child item in the table
 *
 * @param [JSON Object] Child item JSON
 * @return [String] Formatted HTML
 */
SubsetEditChildrenPanel.prototype.childItemHTML = function(data) {
  var html = '<div class="font-regular text-small">'+data["preferred_term"]+'</div>';
  html += '<div class="font-light text-small">'+data["notation"]+' ('+data["identifier"]+')</div>';
  return html;
}
