<% classes = "btn  medium" %>
<% if small %>
  <% classes += " btn-xs" %>
<% end %>
<%= link_to link_path, class: classes, id: id do %>
  <span class="icon-arrow-l text-small"></span> Close
<% end %>
