<% classes = "btn btn-danger" %>
<% if small %>
  <% classes += " btn-xs" %>
<% end %>
<%= link_to link_path, method: :delete, data: {confirm: "Are you sure?"}, id: id, :class => classes do %>
  <span class="fa fa-trash fa-lg"></span><%= " #{label}" %>          
<% end %> 