<%= link_to link_path, class: "ico-btn-sec " + (disabled ? "disabled" : ""), id: id, "data-toggle" => dt_toggle do %>
  <span class="circular-badge <%= btn_color %> small"><span class="<%= icon %>"></span></span> <span class="ico-btn-sec-text"><%= btn_text %></span>
<% end %>
