<% classes = "btn " %>
<% if small %>
  <% classes += " btn-xs" %>
<% end %>
<%= link_to link_path, id: id, :class => classes do %>
  <span class="icon-list-ul"></span><%= " #{label}" %>          
<% end %>
