<% classes = "btn btn-primary" %>
<% if small %>
  <% classes += " btn-xs" %>
<% end %>
<%= link_to link_path, id: id, :class => classes do %>
  <span class="fa fa-list-ul fa-lg"></span><%= " #{label}" %>          
<% end %> 