<% classes = "btn btn-primary" %>
<% if small %>
  <% classes += " btn-xs" %>
<% end %>
<%= link_to link_path, class: classes, id: id, :target => "_blank" do %>
  <span class="icon-file-pdf text-normal"></span> Report    
<% end %>
