<% classes = "btn btn-primary medium" %>
<% if small %>
  <% classes += " btn-xs" %>
<% end %>
<%= link_to link_path, class: classes, id: id, :target => "_blank" do %>
  <span class="icon-file-pdf text-small"></span> Report
<% end %>
