<%= javascript_tag "let sdtmModelShowDataUrl = '#{show_url}';" %>

<div class="table-cardstyle all-columns loading-with-btns">
  <table id="show" class="table">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Label</th>
        <th>Owner</th>
        <th>Version</th>
        <th>Version Label</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>
