<%= javascript_tag "let sdtmModelShowDataUrl = '#{show_url}';" %>

<div class="table-cardstyle all-columns">
  <table id="show" class="table">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Label</th>
        <th>Owner</th>
        <th>Version</th>
        <th>Version Label</th>
        <th class="fit"></th>
      </tr>
    </thead>
  </table>
</div>
