<%= render layout: "shared/information_dialog", :locals => {id: "information-dialog-cl-edit", title: "How to use Code List Editor", wide: true} do %>
  Click on <button class="btn btn-xs white">Refresh</button> to reload the data in the table. <br/>
  To create a <span class="font-regular">new</span> Code List Item in this Code List, click on <button class="btn btn-xs green">New Item</button>. <br/>
  Click on <button class="btn btn-xs white">Add items</button> to find and <span class="font-regular">add existing</span> Code List Items from other Code Lists in the system.<br/>
  To remove a Code List Item from the Code List, click on <span class="icon-times text-accent-2"></span>. <br/>
  (<i>This will remove the item from the system if the Code List is its only parent. Otherwise the item will be unlinked from the Code List.</i>)
  <hr>
  Color indicators: <br/>
  <span class="circular-badge tiny bg-prim-medium"></span> - Item is owned and can be edited. <br/>
  <span class="circular-badge tiny bg-accent-1"></span> - Item is owned by CDISC and cannot be edited. <br/>
  <span class="circular-badge tiny bg-grey-light"></span> - Item is owned by sponsor, but is referenced from another Code List. It can only be edited from its native parent. <br/>

  When hovering mouse over a cell and the <span class="icon-edit text-prim-light"></span> icon appears, that means the field <span class="font-regular">is editable</span>.
  <br/><br/>

  <i>The Code List Editor controls for text fields are similar to that of Excel.</i><br/>
  Click on an editable cell once to <i>focus</i> on it. Once focused, you can move around the table with the keyboard <span class="font-regular">arrow keys</span>.<br/>
  The <span class="font-regular">Tab</span> and <span class="font-regular">Shift + Tab</span> keys can be used to traverse the cells as well. <br/>
  To start editing a cell, <span class="font-regular">double click</span> on it or hit <span class="font-regular">Enter</span> while focused, or
  simply start writing (<i>this will clear its contents</i>). <br/>
  Press <span class="font-regular">Esc</span> to stop editing and revert any changes.<br/>
  Click away from the cell or hit <span class="font-regular">Enter</span> to <i>save</i> your changes. <br/>
  It is also possible to use shortcuts such as <span class="font-regular">Cmd + Z</span> or <span class="font-regular">Cmd + A</span> while editing text fields.
  <br/><br/>

  To Edit tags of an item, click on its Tags cell (<i>keyboard navigation cannot be used</i>).
  A new window will be opened. Use the <button class="btn white btn-xs">Refresh</button> button to see the changes you made.
  <br/><br/>
<% end %>
