<%= stylesheet_link_tag 'shared/d3/d3_graph' %>

<div class="d3 d3-force" id="d3">

  <div id="graph-alerts"></div>

  <div class="btns-wrap" id="graph-controls">

    <button class="btn white ttip" id='center-graph'>
      <span class='icon-center'></span>
      <span class='ttip-text text-small shadow-small text-medium'>Center graph (C)</span>
    </button>

    <div class="form-wrap" style="white-space: nowrap;">
      <div class="form-group">
        <input id="d3-search" type="text" value="" placeholder="Search"/>
        <span class="font-light text-light text-xtiny" id="d3-search-count" style="margin: 0 4px"> (0) </span>
        <span class="icon-times clickable text-link text-xtiny" id="d3-clear-search"></span>
      </div>

    </div>

  </div>

  <div id="loading-extra" class="el-loading">
    Fetching additional data...
  </div>

</div>
