<div class="row">
  <div class="container col-md-12">
    <div class="jumbotron">
      <h1>Biomedical Concept Editor</h1> 
      <p>The editor is missing from this release. It will be restored shortly.</p>
      <%= link_to "Biomedical Concepts", biomedical_concepts_path, :class => "btn btn-primary" %> 
    </div>
  </div>
</div>