<%= javascript_tag 'setPageTitle("Index: Biomedical Concept")' %>

<%= javascript_pack_tag 'biomedical_concept/index' %>

<% first_level_breadcrumb (:biomedical_concepts) %>

<div class="row">
  <%= render layout: "shared/headers/header_minimal", :locals => {badge: "icon-biocon",
    main_text: "Biomedical Concepts", sub_text: "Browse all Biomedical Concepts in the system." } do %>
      <div class="btns-wrap"></div>
  <% end %>
</div>

<div class="row">

  <% content_for :description do %>
    Below is the list of all Biomedical Concepts.
    Use the Search bar to find the Biomedical Concept you are looking for.
    To see Biomedical Concept's respective History page, click on it.
  <% end %>

  <% content_for :actions do %>
    <a href="#im-select-modal" class="btn medium white" id="search" data-toggle="modal">
      <span class="icon-search text-small"></span>&nbsp; Search Biomedical Concepts
    </a>
    <% if policy(Thesaurus).new? %>
      <a href="#newTerminologyModal" class="btn medium green" id="new_terminology" data-toggle="modal">
        <span class="icon-plus text-tiny"></span>&nbsp; New Biomedical Concept
      </a>
    <% end %>
  <% end %>

  <%= render partial: "shared/iso_managed/index/index_card", locals: { title: "Biomedical Concepts", url: biomedical_concepts_path } %>

</div>



