<%= render layout: "shared/studies/study_header", :locals => {:item => @study, :badge => "icon-study", with_tags: false} do %>
  <div class="actions-wrap">

    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#", id: "timeout",
      icon: "icon-lock", btn_text: "", dt_toggle: "", disabled: false } %>
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
      
  </div>
<% end %>
