<h1>New Thesaurus</h1>
<div class="col-md-10">
		<%= form_for @thesaurus, :url => thesauri_index_path do |f| %>
		<div class="form-group">
			<%= f.label :ii_id, "Identified Item"%><br />
    	<%= f.select(:ii_id, 
	             options_from_collection_for_select(IdentifiedItem.all, :id, :identifier),
	             {prompt: "Name"}, 
							 {class: "form-control"}) %>
			
    </div>
    <%= f.submit "Create", class: "btn btn-default btn-primary" %>
	<% end %>
</div>