<%= javascript_include_tag 'standard_datatable', 'import_terminology' %>
<div class="row">
  <div class="col-md-6">
    <%= render partial: "shared/import_term_panel" %>  
  </div>
  <div class="col-md-6">
    <%= render partial: "shared/import_code_list_panel" %>
  </div>
</div>