<%= javascript_tag "let sdtmClassShowDataUrl = '#{show_url}';" %>

<div class="table-cardstyle all-columns loading-with-btns">
  <table id="show" class="table">
    <thead>
      <tr>
        <th class="fit">Ordinal</th>
        <th>Name</th>
        <th>Label</th>
        <th>Datatype</th>
        <th>Description</th>
        <th>Role</th>
        <th>Sub Role</th>
      </tr>
    </thead>
  </table>
</div>
