<h3>Thesaurus Concept</h3>
<div class="col-md-12">
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
		  	<tr>
		    	<th>Identifier</th>
		    	<th>Definition</th>
		    	<th></th>
		  	</tr>
		</thead>
		<tbody>
			<% @thesaurusConcepts.each do |thesaurusConcept| %>
			  	<tr>
			    	<td><%= thesaurusConcept.identifier%></td>
			    	<td><%= thesaurusConcept.definition%></td>
			    	<td><%= link_to "Remove", thesaurus_concept_path(thesaurusConcept), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %></td>
			  	</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "New thesaurus Concept", new_thesaurus_concept_path, :class => "btn btn-success" %>
</div>