<% content_for :page_title do %> Index ADaM IGs <% end %>

<%= javascript_pack_tag 'adam_igs/index' %>

<% first_level_breadcrumb (:adam_igs) %>

<div class="row">
  <%= render layout: "shared/headers/header_minimal", :locals => {badge: "icon-adam",
    main_text: "ADaM IGs", sub_text: "Browse all ADaM IGs in the system." } do %>
      <div class="btns-wrap"></div>
  <% end %>
</div>

<div class="row">

  <% content_for :description do %>
    Below is the list of all <span class="text-accent-1-dark font-regular">standardized</span> and <span class="text-link font-regular">sponsor</span> ADaM IGs.
    Use the Search bar to find the ADaM IG you are looking for.
    To see ADaM IG's respective History page, click on it.
  <% end %>

  <%= render partial: "shared/iso_managed/index/index_card", locals: { title: "ADaM IGs", url: adam_igs_path } %>

</div>
