<%= javascript_tag "let bcShowDataUrl = '#{show_url}';" %>

<div class="table-cardstyle all-columns">
  <table id="show" class="table">
    <thead>
      <tr>
        <th class="fit">Enabled</th>
        <th class="fit">Collect</th>
        <th class="fit">Alias</th>
        <th>Question Text</th>
        <th>Prompt Text</th>
        <th class="fit">Datatype</th>
        <th class="fit">Format</th>
        <th>Terminology</th>
      </tr>
    </thead>
  </table>
</div>
