<%= stylesheet_link_tag    'd3_graph', 'spinner' %>
<%= javascript_include_tag 'd3', 'colour', 'd3_graph', 'iso_concept_graph', 'spinner' %>
<script id="jsonData" type="text/json">
    <%= raw @result.to_json %>
</script>
<div class="row">
  <div class="col-md-12">
  	<%= render partial: "shared/graph_panel", locals: {title: "Graph: "} %>
  </div>
</div>
<input type="hidden" id="graph_type" value="concept">
