<%= javascript_tag 'setPageTitle("Index: SDTM Model")' %>

<%= javascript_pack_tag 'sdtm_models/index' %>

<% first_level_breadcrumb (:sdtm_models) %>

<div class="row">
  <%= render layout: "shared/headers/header_minimal", :locals => {badge: "icon-sdtm",
    main_text: "SDTM Models", sub_text: "Browse all SDTM Models in the system." } do %>
      <div class="btns-wrap"></div>
  <% end %>
</div>

<div class="row">

  <% content_for :description do %>
    Below is the list of all <span class="text-accent-1-dark font-regular">standardized</span> and <span class="text-link font-regular">sponsor</span> SDTM Models.
    Use the Search bar to find the SDTM Model you are looking for.
    To see SDTM Model's respective History page, click on it.
  <% end %>

  <% content_for :actions do %>
    
    <% if policy(SdtmModel).new? %>
      <a href="#" class="btn medium green" id="new_sdtm_model">
        <span class="icon-plus text-tiny"></span>&nbsp; New SDTM Model
      </a>
    <% end %>
  <% end %>

  <%= render partial: "shared/iso_managed/index/index_card", locals: { title: "SDTM Models", url: sdtm_models_path } %>

</div>