// Returns HTML code for animated spinner. Size values can be a string of value: small / medium / large
function generateSpinner(size) {
  var iePath = "<%= asset_path('loading.gif') %>", path = "<%= asset_path('loading.svg') %>";
  return "<div class='spinner-container'><img class='spinner loading-"+size+"' src='" + (isIE() ? iePath : path) +"'></div>";
}

function generateFullPageSpinner(loadingMessage){
  return '<div class="spinner-wrap">'+
            '<div class="lds-css ng-scope">'+
              '<div class="spinner-el medium"><div></div><div></div><div><div></div></div><div><div></div></div>'+
            '</div>'+
            '<div class="spinner-msg">'+loadingMessage+'</div>'+
          '</div>';
}

function generateNoResultsMsg(message){
  return '<div style="width: 100%; text-align: center;">'+
            '<img src="<%= asset_path("no-results.svg") %>" width="120"/>'+
            '<div class="text-centered font-light text-medium text-normal">' + (message == null ? 'No results.' : message) + '</div>' +
         '</div>';
}

// Should be used with safari_nav_js_fix
function showFullPageSpinner(durationInSec, loading_message, timeout_message){
  var html = generateFullPageSpinner(loading_message);
  $("body").prepend(html);

  pdfLoadingTimeout = setTimeout(function(){
    if($(".spinner-wrap").length){
      $(".spinner-wrap").remove();
      displayError("Loading timeout: " + timeout_message);
    }
  }, durationInSec * 1000);
}

// Opens loading & redirects within a new tab/window. Safari_nav_js_fix not required.
function showFullPageSpinnerWithRedirect(durationInSec, loading_message, timeout_message, redirectPath){
  var w = window.open();
  w.document.title = 'A3 MDR';

  var style = "<link rel=\"stylesheet\" type=\"text/css\" href=\""+$(location).attr('protocol')+"//"+$(location).attr('host')+"<%= asset_path('custom/full_page_spinner') %>\">";
  var spinner = generateFullPageSpinner(loading_message);

  $(w.document).find("head").append(style);
  $(w.document.body).html(spinner);

  setTimeout(function() {
    w.location.href = redirectPath;
  }, 200);

  w.setTimeout(function(){
    if($(w.document.body).find(".spinner-wrap").length){
      w.alert("Loading timeout: " + timeout_message);
      w.close();
    }
  }, durationInSec * 1000);
}
