// Returns HTML code for animated spinner with text. Size values can be a string of value: small/medium/large.
//Pass an empty string "" to exclude text from the spinner
function generateSpinnerWText(size, loadingMessage) {
  return  '<div class="spinner-container">' +
            '<div class="lds-css ng-scope">'+
              '<div class="spinner-el '+size+'"><div></div><div></div><div><div></div></div><div><div></div></div>'+
            '</div>'+
            (loadingMessage == "" ? "" : '<div class="spinner-txt">'+loadingMessage+'</div>') +
          '</div>';
}

// Returns HTML code for animated spinner. No loading message.
function generateSpinner(size) {
  return generateSpinnerWText(size, "");
}

// Returns HTML code for a full page animated spinner with a loading message.
function generateFullPageSpinner(loadingMessage){
  var html = generateSpinnerWText("medium", loadingMessage);
  html = html.replace("spinner-container", "fp-spinner-wrap").replace("spinner-txt", "fp-spinner-msg");
  return html;
}

function generateNoResultsMsg(message){
  return '<div style="width: 100%; text-align: center;">'+
            '<img src="<%= asset_path("no-results.svg") %>" width="120"/>'+
            '<div class="text-centered font-light text-medium text-normal">' + (message == null ? 'No results.' : message) + '</div>' +
         '</div>';
}

// Should be used with safari_nav_js_fix
function showFullPageSpinner(durationInSec, loading_message, timeout_message){
  var html = generateFullPageSpinner(loading_message);
  $("body").prepend(html);

  pdfLoadingTimeout = setTimeout(function(){
    if($(".fp-spinner-wrap").length){
      $(".fp-spinner-wrap").remove();
      displayError("Loading timeout: " + timeout_message);
    }
  }, durationInSec * 1000);
}

// Opens loading & redirects within a new tab/window. Safari_nav_js_fix not required.
function showFullPageSpinnerWithRedirect(durationInSec, loading_message, timeout_message, redirectPath){
  var w = window.open();
  w.document.title = 'A3 MDR';

  var style = "<link rel=\"stylesheet\" type=\"text/css\" href=\""+$(location).attr('protocol')+"//"+$(location).attr('host')+"<%= asset_path('custom/full_page_spinner') %>\">";
  var spinner = generateFullPageSpinner(loading_message);

  $(w.document).find("head").append(style);
  $(w.document.body).html(spinner);

  setTimeout(function() {
    w.location.href = redirectPath;
  }, 200);

  w.setTimeout(function(){
    if($(w.document.body).find(".fp-spinner-wrap").length){
      w.alert("Loading timeout: " + timeout_message);
      w.close();
    }
  }, durationInSec * 1000);
}
