// Returns HTML code for animated spinner. Size values can be a string of value: small / medium / large
function generateSpinner(size) {
  var iePath = "<%= asset_path('loading.gif') %>", path = "<%= asset_path('loading.svg') %>";
  return "<div class='spinner-container'><img class='spinner loading-"+size+"' src='" + (isIE() ? iePath : path) +"'></div>";
}

function generateNoResultsMsg(message){
  return '<div style="width: 100%; text-align: center;">'+
            '<img src="<%= asset_path("no-results.svg") %>" width="120"/>'+
            '<div class="text-centered font-light text-medium text-normal">' + (message == null ? 'No results.' : message) + '</div>' +
         '</div>';
}
