$(document).ready(function () {

  panel ("main1", "forms", "");
  panel ("main2", "thesauri", "");
  panel ("main3", "biomedical_concepts", "biomedical_concept");
  panel ("main4", "biomedical_concept_templates", "biomedical_concept_template");
  panel ("main5", "sdtm_user_domains", "");

  function panel(control, url, safe_parameter) {
    $("#" + control).DataTable({
      "pagingType": "full",
      "ajax": {
        "url": url,
        "dataSrc": "data"
      },
      "language": {
        "infoFiltered": "",
        "processing": "<img src='<%= asset_path('processing.gif') %>'>"
      },
      "bProcessing": true,
      "pageLength": 5,
      "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
      "columns": [
        {"data" : "owner"},
        {"data" : "label", "width" : "80%"},
        {"data" : "identifier", "render": function(data,type,full,meta) {
          var query_string = 'identifier='+ data +'&scope_id=' + full.scope_id;
          if(safe_parameter !== "") {
            query_string = safe_parameter + '[identifier]=' + data + '&' + safe_parameter + '[scope_id]=' + full.scope_id;
          }
          return '<a href="' + url + '/history?' + query_string  + '"><button type="button" class="btn btn-primary btn-xs">History</button></a>';
        }}
      ]
    });
  }
});
