$(document).ready(function () {

  panel ("main1", "forms");
  panel ("main2", "thesauri");
  panel ("main3", "biomedical_concepts");
  panel ("main4", "biomedical_concept_templates");
  panel ("main5", "sdtm_user_domains");

  var x  = $("#barGraph").html();
  var barData = $.parseJSON(x);
  Morris.Bar({
    element: 'bar-example',
    data: barData,
    xkey: 'y',
    ykeys: ['a'],
    labels: ['Items']
  });

  function panel(control, url) {
    $("#" + control).DataTable({
      "pagingType": "full",
      "ajax": {
        "url": url,
        "dataSrc": "data"  
      },
      "language": {
        "infoFiltered": "",
        "processing": "<img src='<%= asset_path('processing.gif') %>'>"
      },
      "bProcessing": true,
      "pageLength": 5,
      "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
      "columns": [ 
        {"data" : "owner", "width" : "10%"},
        {"data" : "label", "width" : "70%"},
        {"data" : "identifier", "render": function(data,type,full,meta) { 
          return '<a href="' + url + '/history?identifier='+ data +'&scope_id=' + full.owner_id +'"><button type="button" class="btn btn-primary btn-xs">History</button></a>';
        }}
      ]
    });
  }

});