$(document).ready(function () {

    $('#main1').DataTable({
      "pagingType": "full",
    	"ajax": {
		    "url": "forms",
		    "dataSrc": "data"  
      	},
    	"language": {
           "infoFiltered": "",
           "processing": "<img src='<%= asset_path('processing.gif') %>'>"
      },
      "bProcessing": true,
      "pageLength": 5,
      "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
      "columns": [ 
      	{"data" : "label", "width" : "80%"},
        {"data" : "identifier", "render": function(data,type,full,meta) 
          { 
            return '<a href="forms/history?identifier='+ data +'"><button type="button" class="btn btn-primary btn-xs">History</button></a>';
          }
        }
  		]
    } );

    $('#main2').DataTable({
        "pagingType": "full",
    	"pageLength": 5,
        "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
        "columns": [ 
        	{ "width": "80%" },
        	{ "width": "20%" }
  		]
    } );

    $('#main3').DataTable({
        "pagingType": "full",
    	"pageLength": 5,
        "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
        "columns": [ 
        	{ "width": "80%" },
        	{ "width": "20%" }
  		]
    } );

    $('#main5').DataTable({
        "pagingType": "full",
    	"ajax": {
		    "url": "domains",
		    "dataSrc": "data"  
      	},
      	"language": {
             "infoFiltered": "",
             "processing": "<img src='<%= asset_path('processing.gif') %>'>"
        },
        "bProcessing": true,
        "pageLength": 5,
        "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
        "columns": [ 
        	{"data" : "label", "width" : "80%"},
          {"data" : "identifier", "render": function(data,type,full,meta) 
            { 
              return '<a href="domains/history?identifier='+ data +'"><button type="button" class="btn btn-primary btn-xs">History</button></a>';
            }
          }
  		]
    } );

    $('#main4').DataTable({
        "pagingType": "full",
    	"pageLength": 5,
        "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
        "columns": [ 
        	{ "width": "80%" },
        	{ "width": "20%" }
  		]
    } );

    $('#main6').DataTable({
        "pagingType": "full",
    	"pageLength": 5,
        "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
        "columns": [ 
        	{ "width": "70%" },
        	{ "width": "30%" }
  		]
    } );

    var x  = $("#barGraph").html();
	var barData = $.parseJSON(x);
	Morris.Bar({
      element: 'bar-example',
      data: barData,
      xkey: 'y',
      ykeys: ['a'],
      labels: ['Items']
    });

});