function IsoManagedListOldPanel() {
this.isoManagedTableReload = null;
this.isoManagedTable = null;
this.tagId = null;
this.tagNamespace = null;

var _this = this;
}

IsoManagedListOldPanel.prototype.refresh = function (id, namespace) {
  var _this = this;
  this.tagId = id;
  this.tagNamespace = namespace
  if (!isoManagedTableReload) {
    _this.imlLoad();
  } else {
    isoManagedTable.ajax.reload();
  }
}
IsoManagedListOldPanel.prototype.load = function () {
  var _this = this;
  this.isoManagedTable = $('#iso_managed_table').DataTable( {
    "ajax": {
      "url": "/iso_managed/find_by_tag",
      "data": function( d ) {
        d.id = this.tagId,
        d.namespace = this.tagNamespace
      },
      "dataSrc": "data"
    },
    "bProcessing": true,
    "bInfo" : false,
    "searching": false,
    "pageLength": 5,
    "lengthMenu": [[5, 10, 15, 20, 25], [5, 10, 15, 20, 25]],
    "language": {
           "processing": "<img src='<%= asset_path('processing.gif') %>'>"
      },
    "columns": [
      {"data" : "scoped_identifier.identifier", "width" : "30%"},
      {"data" : "label", "width" : "50%"},
      {"data" : "scoped_identifier.version", "width" : "10%"},
      {"data" : "scoped_identifier.version_label", "width" : "10%"},
      // Following replaces the old way of putting in a button. Use link styled as a button.
      {"render" : function (data, type, row, meta) {
        return '<a href="' + getPathStrong(row.type, row.id, row.namespace) + '" class="btn btn-primary btn-xs">Show</a>';
      }}
    ]
  });
  this.isoManagedTableReload = true;    
}