<h1>New Concept System XXXX</h1>
<div class="col-md-10">
		<%= form_for @concept, :url => iso11179_concept_systems_iso11179_concepts_path do |f| %>
		<%= f.submit "Create", class: "btn btn-default btn-primary" %>
	<% end %>
</div>