$(document).ready(function () {

  // Initializes the dashboard editor
  var dEditor = new DashboardEditor("#dashboard-editor", "#dashboard-list", settings_url);

  // Dismisses the login alert
  setTimeout(function(){
    dismissAlerts();
  }, 5000);

  // Sets the datetime in the header
  $("#datetime").html(dateString());

  // Initializes each panel data
  $.each(user_dashboard_layout_settings.split(', '), function(i, e){
    if(e != "" && user_policy_panels[e].url != "")
      panel("main"+i, user_policy_panels[e].url, user_policy_panels[e].safe_param);
  });

  function panel(control, url, safe_parameter) {
    $("#" + control).DataTable({
      "pagingType": "full",
      "ajax": {
        "url": url,
        "dataSrc": "data"
      },
      "language": {
        "infoFiltered": "",
        "processing": generateSpinner("medium")
      },
      "bProcessing": true,
      "pageLength": 5,
      "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
      "columns": [
        {"data" : "owner"},
        {"data" : "label", "width" : "80%"},
        {"data" : "identifier", "render": function(data,type,full,meta) {
          var query_string = 'identifier='+ data +'&scope_id=' + full.scope_id;
          if(safe_parameter !== "") {
            query_string = safe_parameter + '[identifier]=' + data + '&' + safe_parameter + '[scope_id]=' + full.scope_id;
          }
          return '<a href="' + url + '/history?' + query_string  + '"><button type="button" class="btn  btn-xs">History</button></a>';
        }}
      ]
    });
  }
});
