<% second_level_breadcrumb("Classifications", iso_concept_systems_path, "New Tag") %>
<h3>New Tag</h3>
<div class="col-md-3">
	<%= form_for @node, :url => node_add_iso_concept_systems_path(:id => @id, :namespace => @namespace) do |f| %>
			<div class="form-group">
	    	<%= f.label :label, "Label:" %><br />
	    	<input type="text" class="form-control" id="iso_concept_system_label" name="iso_concept_system[label]">
	  	</div>
	  	<div class="form-group">
	    	<%= f.label :description, "Description:" %><br />
	    	<input type="text" class="form-control" id="iso_concept_system_description" name="iso_concept_system[description]">
	  	</div>
	  	<%= f.submit "Create", class: "btn btn-default btn-primary" %>
	<% end %>
</div>