<%= stylesheet_link_tag    'd3_tree'%>
<%= javascript_include_tag 'd3_tree', 'd3_editor_new', 'iso_concept_system_viewer', 'iso_managed_list' %>
<% second_level_breadcrumb("Classifications", iso_concept_systems_path, "View") %>
<script id="jsonData" type="text/json">
    <%= raw @concept_systems.to_json %>
</script>
<div class="row">
    <div class="col-md-7">
        <h3>Tag Viewer</h3>
        <div class="btn-group" role="group" aria-label="First group">
          <button id="d3_minus" type="button" class="btn btn-primary">
            <i class="fa fa-minus-circle fa-lg fa-fw"></i>
          </button>
          <button id="d3_plus" type="button" class="btn  btn-primary">
            <i class="fa fa-plus-circle fa-lg fa-fw"></i>
          </button>
        </div>
        <div class="d3-tree" id="d3">
            <!-- D3 Area -->
        </div>
    </div>
  <div class="col-md-5" >
    <br/>
    <div id="iso_managed_panel" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Item List</h3>
        </div>
        <div class="panel-body">
          <table id="iso_managed_table" class="table table-striped table-bordered"  cellspacing="0" width="100%">
            <thead>
                <tr> 
                    <th>Identifier</th>
                    <th>Label</th>
                    <th>Version</th>
                    <th>Version Label</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>