<% fourth_level_managed_item_breadcrumb(@form, "Forms", forms_path, history_forms_path(identifier: @form.identifier, scope_id: @form.scope.id), "View:", 
  view_forms_path(id: @form.id, namespace: @form.namespace), "aCRF") %>
<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Annotated CRF:", :item => @form} %>
<div class="col-md-8">
    <%= @html.html_safe %>
    <%= link_to "Report", acrf_forms_path(:id => @form.id, :namespace => @form.namespace, :format => 'pdf'), :class => "btn ", :target => "_blank" %>
    <%= link_to "Close", @close_path, :class => "btn " %>
</div>