<%= stylesheet_link_tag    'd3_local_v2', 'form_editor'%>
<%= javascript_include_tag 'd3_local_v2', 'form_editor'%>
<script id="formJson" type="text/json">
    <%= raw @form.to_clone.to_json %>
</script>
<div class="row">
    <div class="col-md-7">
        <h3>Edit Form:</h3>
        <div style="height: 800px;" id="d3">
            <!-- D3 Area -->
        </div>
    </div>
    <%= render partial: "shared/formEditor"%>
</div>