<h3>History: <%= @identifier %></h3>
<div class="col-md-12">
	<table id="main" class="table table-striped table-bordered table-condensed">
		<%= render partial: "shared/stdInstanceHeader" %>
		<tbody>
			<% current_item = get_current_item(@form) %>
			<% @form.each do |item| %>
				<%= render partial: "shared/stdInstanceRow", :locals => {:item => item,
					:current_item => current_item, 
	  				:showPath => form_path(:id => item.id, :namespace => item.namespace), 
	  				:searchPath => "", 
	  				:viewPath => view_forms_path(:id => item.id, :namespace => item.namespace),
	  				:editPath => edit_form_path(:id => item.id, :namespace => item.namespace),
	  				:clonePath => clone_forms_path(:id => item.id, :namespace => item.namespace),
	  				:deletePath => form_path(:id => item.id, :namespace => item.namespace) } %>
			<% end %>				
		</tbody>
	</table>
	<%= link_to "New", new_form_path, :class => "btn btn-success" %>
</div>
