<% if !local_assigns[:children_url].nil? %>
  <%= javascript_tag "let childrenDataUrl = '#{children_url}'" %>
<% end%>

<table id="<%= local_assigns.fetch :id, 'children' %>" class="table <%= local_assigns.fetch :table_classes, 'striped' %>">
  <thead>
    <tr>
      <th class="fit">Identifier</th>
      <th class="fit">Submission Value</th>
      <th>Preferred Term</th>
      <th>Synonyms</th>

      <% if local_assigns.fetch :include_extensible?, false %>
        <th class="fit">Extensible</th>
      <% end %>

      <th>Definition</th>
      <th>Tags</th>

      <%# Extra Columns %>
      <%= yield  %>

      <% if local_assigns.fetch :indicators?, true %>
        <th class="ignore fit"></th>
      <% end %>

      <%# Show Button %>
      <% if local_assigns.fetch :has_show_btn?, false %>
        <th class="fit"></th>
      <% end %>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
