<%= javascript_tag 'setPageTitle("Import Change Instructions")' %>

<div class="row">
  <div class="col-md-8">
    <%= render partial: "shared/import/change_instructions_panel", locals: {create_path: imports_change_instructions_path, title: "Import CDISC Terminology Change Instructions", multiple: true} %>
  </div>
</div>
