@import "shared/vars";
@import "shared/buttons";

@import "shared/layouts/navbar";
@import "shared/layouts/sidebar";
@import "shared/layouts/card_layout";
@import "shared/layouts/context_menu";
@import "shared/layouts/modal";
@import "shared/layouts/forms";

@import "shared/tables";
@import "shared/scrollbar";
@import "shared/ttip";
@import "shared/confirmation_dialog";
@import "shared/processing/spinner_animated";

.row.centered{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.flex-total-center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ALERTS
.alert{
  margin: 10px 0;
  font-family: $font-light;
  background-color: $grey-white !important;
  -webkit-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.15);
}

// TEXT
.text-centered{
  width: 100%;
  text-align: center;
}

.text-right{
  text-align: right;
}

// SHADOWS
.shadow-small{
  -webkit-box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.2);
}

.shadow-medium{
  -webkit-box-shadow: 6px 0px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 0px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 6px 0px 15px 0px rgba(0,0,0,0.2);
}

// BREADCRUMBS

.breadcrumb a {
  font-size: 12px !important;
  margin-left: 0px !important;
}

.breadcrumb li {
  font-size: 12px !important;
}

.breadcrumb > li + li:before {
  content: "/";
  /*padding: 0 5px;*/
}

.breadcrumb {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
  width: 100%;
}

// Label with background

.bg-label{
  padding: 4px 12px;
  border-radius: 20px;
  background: $grey-bright;
  color: $grey-medium;
  margin: 0px 4px;
  display: inline-block;
}

.label-styled{
  padding-right: 14px;
  border-bottom: 2px solid $secondary-color-light;
  display: inline-block;
}

.label-w-margin{
  margin-top: 6px;
}

// Removable

.removable{
  transition: box-shadow .2s;
}

.removable:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 2px $accent-color-2-light !important;
  position: relative;
}

.removable:hover::after{
  position: absolute;
  font-family: 'icomoon';
  content: "\e932";
  font-size: 12pt;
  color: $accent-color-2;
  top: -11px;
  right: -9px;
}

// Highlightable

.highlightable{
  transition: box-shadow .2s;
}

.highlightable:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 2px $primary-color-bright !important;
  position: relative;
}

// ICO HEADERS used in the community version dashboard
.ico-header{
  width: 55%;
  min-width: 250px;
  background: $grey-white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 1px solid $grey-bright;
  margin: 0 auto;
}

.ico-header .ico{
  width: 40px;
  margin: 8px 10px;
  transition: transform .3s;
}

.ico-header .title{
  font-size: $font-xnormal;
  color: $grey-medium;
  font-family: $font-light;
  margin: 0px 10px;
}

.ico-header:hover .ico{
  transform: scale(1.1);
}

// LIST WRAP (CDISC_TERMS)

.list-wrap{
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 600px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-wrap a{
  white-space: nowrap !important;
}

.list-wrap a:hover{
  text-decoration: none;
}

.list-wrap a:hover .text{
  transform: translateX(5px);
}

// LIST CARDS
.list-card{
  background: $grey-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  padding: 8px 8px;
  position: relative;
  min-height: 50px;
}

.list-card .card-badge{
  width: 10px;
  height: 100%;
  position: absolute;
  display: block;
  left: 0;
}

.list-card .text{
  color: $grey-medium;
  font-size: $font-small;
  font-family: $font-normal;
  margin-left: 15px;
  white-space: normal;
  transition: transform .3s;
}

.list-card .sub-text{
  font-size: $font-small;
  font-family: $font-light;
}

// ICON LIST CARD

.list-card.i-lc{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.list-card.i-lc .text-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-card.i-lc .icon{
  margin: -5px 10px 0 20px;
}

.list-card.i-lc .icon:hover{
  color: $grey-light;
}

.list-card.i-lc .text{
  margin-left: 0 !important;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .list-card .card-badge{
    margin-top: -8px;
  }

  .list-card.i-lc .card-badge{
    margin-top: -26px;
  }
}

// CIRCULAR BADGES
.circular-badge{
  font-family: $font-bold;
  font-size: 12pt;
  min-width: 36px;
  width: 36px;
  min-height: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  display: inline-block;
}

.circular-badge.big{
  min-width: 70px;
  width: 70px;
  min-height: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 22pt;
}

.circular-badge.med{
  min-width: 45px;
  width: 45px;
  min-height: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 17pt;
}

.circular-badge.small{
  width: 30px;
  min-width: 30px;
  height:30px;
  min-height: 30px;
  line-height: 32px;
  font-size: 10pt;
}

.circular-badge.tiny{
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
}

.min-badge-item{
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.min-badge-item .circular-badge{
  margin-right: 4px;
}

// DIVIDERS
.divider{
  width: 100%;
  height: 1px;
  display: block;
  margin: 5px auto;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border-color: $secondary-color-light !important;
  outline: none !important;
}

// Box title
.boxed-title {
  padding: 6px 20px;
  display: block;
  text-align: center;
  color: $grey-white;
  font-size: $font-large;
}

// Content editable
.content-editable{
  padding: 4px 8px;
  transition: background-color .3s;
  position: relative;
}

.content-editable:hover{
  cursor: text;
  background-color: $content-editable-color;
}

.content-editable:focus{
  outline: 1px solid $primary-color-bright;
  background-color: white;
}

.content-editable.with-icon::after {
  display: inline-block;
  font-family: 'icomoon';
  content: "\e931";
  color: #c4c4c4;
  margin: 0px 5px;
  font-size: 10pt;
  position: absolute;
  right: -25px;
  top: 10%;
}

// BLOCK LAYOUT

.half-blocks-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin-top: -10px;
}

.half-blocks-wrap .half-block{
  margin-top: 10px;
  width: 50%;
  min-width: 200px;
}

@media (max-width: 1000px){
  .half-blocks-wrap .half-block {
    width: 100%;
  }
}

// Indicators

.indicator{
  display: inline-block;
  margin: 0px 5px;
  color: $primary-color-bright;
  font-size: 11pt;
}

.indicator .ttip-text{
  color: $grey-medium;
  font-size: $font-small;
  right: calc(0% + 18px);
  top: -15px;
}

.indicator.icon-current{
  color: $secondary-color-medium;
}

// ARROW ROTATION

.cir-ar-right{
  transform: rotate(90deg);
}

.cir-ar-down{
  transform: rotate(180deg);
}

.cir-ar-left{
  transform: rotate(270deg);
}

// RS
.registration-state {
  white-space: nowrap;
}
