@import "custom/vars";

.node {
  cursor: pointer;
}

.node circle {
  /*stroke: steelblue;*/
  stroke: #000;
  /*stroke-width: 1.5px;*/
  stroke-width: 0px;
}

.node text {
  font-family: $font-light!important;
}

.link {
  fill: none;
  stroke: $grey-light;
  stroke-width: 1px;
}

#end{
  fill: $grey-light;
}

.d3-tree { height:75vh;}

.tree-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.search-tree {
  width: 10em;
  margin: 0 5px;
}


.handle-tag-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.update-tag {
  margin-right: 5px;
}

.tag-input {
  margin-bottom: 10px;
}
