@media print{
  div.info, div#sidebar {
    display: none;
  }

  a[href]:after {
    content: none;
  }

  html, body{
    height: auto !important;
    padding: 0px !important;
    position: static !important;
  }

  .list-wrap{
    max-height: none !important;
    max-width: none !important;
    width: 100% !important;
  }

  .card-content{
    padding: 5px !important;
    overflow: visible !important;
  }

  .timeline-date-btn{
    position: static !important;
  }

  .timeline-container:first-of-type{
    display: none !important;
  }

  div[class^='col-']{
    max-width: none !important;
    width: 100% !important;
    overflow: visible !important;
  }

  .alert{
    display: none !important;
  }

  .fit{
    width: none !important;
    white-space: normal !important;
  }

  .definition-label{
    max-width: 60% !important;
  }

  .show-more-btn, .actions-wrap{
    display: none;
  }
}
