<h1>Organizations</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	<% @organizations.each do |organization| %>
	  <tr>
	    <td><%= organization.name %></td>
	    <td><%= link_to "Show", organization %></td>
	    <td></td>
	    <td><%= link_to "Remove", organization_path(organization), method: :delete, data: { confirm: "Are you sure?" } %></td>
	  </tr>
	<% end %>
</table>
<br>
<%= link_to "New organization", new_organization_path %>


