@import "custom/vars.scss";

#edit-properties-modal .form-row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#edit-properties-modal .form-row .form-group{
  margin: 10px 15px;
}

#edit-properties-modal .form-row input, #edit-properties-modal .form-row textarea{
  border: 1px solid $grey-bright;
  border-radius: 5px;
}

#edit-properties-modal .form-row textarea{
  min-width: 300px;
  max-width: 500px;
  min-height: 100px;
}

#edit-properties-modal .form-wrap{
  font-family: $font-light;
}

#edit-properties-modal .form-wrap label{
  color: $primary-color-light;
}
