

.synonym_panel {
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
     border-left: none;
  border-right: none;

}



.synonym_panel .panel-body {
    padding: 0px;
    border: 0px ;
}


.synonym_panel .panel-body .list-group {
     margin-bottom: 0px; 
    padding-left: 0;
    border: 0px ;
    
    border-left: none;
  border-right: none;
}



#linkspanel {
  padding: 10px 0px 0px 0px;


}

#item {
  /*border: none;*/
  border-bottom: 1px;
  /*border-width: 0 0 0 5;*/
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.list-group-item:first-child {
  border-top: none;
}
