#searchTable_processing.panel-default {
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

#searchTable_filter .clear-button {
  margin-left:  10px;
}

#searchTable { table-layout: fixed; }

table.dataTable.table-condensed > thead > tr > th {
  padding-right: 5px;
}