@import "custom/vars.scss";
@import "shared/managed_children_select.scss";

table#searchTable {
  min-width: 1100px !important;
  border-collapse: separate;
}

#searchTable_wrapper thead tr:first-of-type {
  border-bottom: 2px solid $grey-light !important;
}

#searchTable tbody tr.selected > td {
  color: $primary-color-light !important;
  font-family: $font-primary !important;
}

.dataTables_scrollBody > table > thead > tr, .dataTables_scrollBody > table > tfoot > tr  {
    visibility: collapse;
    height: 0px !important;
}

.search-server {
  width: 100%;
  font-family: $font-primary;
  border: 2px solid $primary-color-brightest;
  background-image: image-url("icons/cloud.png");
  background-repeat: no-repeat;
  background-position: 6px 50%;
  background-size: 18px;
  padding-left: 30px;
}

.search-server::placeholder{
  color: $grey-light;
}

.search-server:focus {
  outline: dotted $primary-color-bright 2px;
  background-image: image-url("icons/cloud_b.png");
}

.search-server.overall{
  display: inline-block;
  width: auto;
  border: 0px;
  border-bottom: 2px solid $primary-color-bright;
  padding: 6px 0px 6px 32px;
  margin: 10px 0px;
}

.filter-local {
  width: 100%;
  font-family: $font-light;
  border: 1px solid $grey-light;
}

.filter-local:focus{
  outline: dotted $grey-light 2px;
}

input:disabled{
  opacity: .6;
  // background-image: image-url("loading.gif");
  // background-size: 26px;
}
