
  Columns with pickable Item References are marked with <span class="icon-selection text-prim-light"></span> when hovered over. <br>
  <i>To edit Item References, double click on the given cell. Keyboard navigation cannot be used for this field.</i> <br>
  Editing will open an Items Picker dialog, where the Item Reference selection can be added to, modified, or cleared. <br>
  When done, click on <button class="btn btn-xs green">Submit selection</button>.
  To discard the selection changes (only before submitting), close the dialog using the <button class="btn btn-xs light">Close</button> button or by pressing the Escape key.
  Shortcuts like <span class="font-regular">Cmd + Z</span> cannot be used with this field.