<i>The Editor controls for text fields are similar to that of Excel.</i><br/>
Click on an editable cell once to <i>focus</i> on it. Once focused, you can move around the table with the keyboard <span class="font-regular">arrow keys</span>.<br/>
The <span class="font-regular">Tab</span> and <span class="font-regular">Shift + Tab</span> keys can be used to traverse the cells as well. <br/>
To start editing a cell, <span class="font-regular">double click</span> on it or hit <span class="font-regular">Enter</span> while focused, or
simply start writing (<i>this will clear its contents</i>). <br/>
Press <span class="font-regular">Esc</span> to stop editing and revert any changes.<br/>
Click away from the cell or hit <span class="font-regular">Enter</span> to <i>save</i> your changes. <br/>
It is also possible to use shortcuts such as <span class="font-regular">Cmd + Z</span> or <span class="font-regular">Cmd + A</span> while editing text fields.
<br/><br/>
