<%= javascript_include_tag 'dashboard/statistics_panel', 'shared/tabs_layout' %>
<%= stylesheet_link_tag 'custom/tabs_layout' %>
<div class="tabs-layout">
  <div class="tabs-sel">
    <div class="tab-option active" id="by_time">Statistics by time</div>
    <div class="tab-option" id="by_domain">Statistics by domain</div>
  </div>
  <div class="tab-wrap" data-tab="by_time">
    aaaa
  </div>
  <div class="tab-wrap closed" data-tab="by_domain">
    bbbbb
  </div>
</div>
