<div class="col-md-12 card wide">
	<div class="card-header">
		Version History of '<%= identifier %>'
	</div>
	<div class="card-content">
    <div id="history-panel">
		    <%= render partial: "shared/iso_managed/history/history_panel", locals: { history_url: url } %>
    </div>
	</div>
</div>
