<% if Rails.env == "test" || Rails.env == "development" %>
  <%= javascript_include_tag 'rspec_helper' %>
<% end %>

<div class="col-md-12 card wide">
	<div class="card-header">
		Version History of '<%= identifier %>'
	</div>
	<div class="card-content">
		<%= render partial: "shared/iso_managed/history/history_panel", locals: { history_url: url } %>
	</div>
</div>
