<%= javascript_include_tag 'shared/iso_managed/children_panel' %>
<%= stylesheet_link_tag 'shared/datatables_loading' %>
<h3 class="card-header"><%= title %></h3>
<div class="card-content table-cardstyle">
  <table id="children_table" class="table striped">
    <thead>
      <tr>
        <th class="fit">Identifier</th>
        <th class="fit">Submission Value</th>
        <th>Preferred Term</th>
        <th>Synonym(s)</th>
        <th>Definition</th>
        <th>Tag(s)</th>
        <th class="ignore fit"></th>
        <th class="fit"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
