<%= javascript_include_tag 'shared/iso_managed/edit_extension_panel' %>
<%= stylesheet_link_tag 'shared/datatables_loading' %>
<h3 class="card-header">Edit Extension</h3>
<div class="card-content table-cardstyle">
  <div class="btns-wrap" id="edit-extension-actions">
    <a href="#searchModal" class="btn medium green" id="add-existing-button" data-toggle="modal"><span class="icon-search"></span> Add existing CL Item(s)</a>
    <button class="btn medium green" id="add-existing-button"><span class="icon-plus text-tiny"></span>  New CL Item</button>
    <button class="btn medium green" id="add-existing-button"><span class="icon-plus text-tiny"></span>  New CL Item(s) from synonyms</button>
  </div>
  <table id="extension-children-table" class="table">
    <thead>
      <tr>
        <th class="fit">Identifier</th>
        <th class="fit">Submission Value</th>
        <th class="th-medium">Preferred Term</th>
        <th class="th-small">Synonym(s)</th>
        <th>Definition</th>
        <th class="th-small">Tag(s)</th>
        <th class="ignore fit"></th>
        <th class="ignore fit"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<%= render partial: "shared/edit_panel" %>
