<div class="editor-child table-cardstyle all-columns shadow-small">
  <div class="card-header editor-child-header">
    <%= panel_title %>
    <span class="icon-info-circle ttip text-small text-light" style="margin-left: 4px;">
      <span class="ttip-text shadow-small text-dark"><%= local_assigns.fetch :info, "" %></span>
    </span>
  </div>
  <table id="<%= table_id %>" class="table table-striped table-bordered table-condensed table-row-clickable no-mark">
    <thead>
      <tr>
        <% if is_editing_panel %>
          <th class="fit no-sort"></th>
          <th class="no-sort">Code List Item</th>
        <% else %>
          <th>Code List Item</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <% if !is_editing_panel %>
    <div class="btns-wrap" id="subset-edit-btns">
      <button class="btn medium light" id="select-all-button"><span class="icon-ok text-small"></span> Select all </button>
      <button class="btn medium light" id="deselect-all-button"><span class="icon-times text-small"></span> Deselect all </button>
    </div>
  <% end %>
</div>
