<%= javascript_include_tag 'shared/iso_managed/managed_item_ico_list' %>

<div class="table-cardstyle all-columns table-width-wrapper">
  <table id="managed-item-icon-table" class="table">
    <thead>
      <th class="fit">Type</th>
      <th> Item </th>
    </thead>
  </table>
</div>
