<% if !local_assigns[:data_url].nil? %>
  <%= javascript_tag "let managedItemsDataUrl = '#{data_url}'" %>
<% end %>

<div class="table-cardstyle all-columns">
  <table id="managed-items" class="table <%= local_assigns.fetch :table_classes, '' %>">
    <thead>
      <tr>
        <% if local_assigns.fetch :type_column, false %>
          <th class="fit">Type</th>
        <% end %>
        <% if local_assigns.fetch :owner_column, false %>
          <th class="fit">Owner</th>
        <% end %>
        <th class="fit">Identifier</th>
        <th class="fit">Version</th>
        <th>Label</th>
        <th>Version Label</th>
      </tr>
    </thead>
  </table>
</div>
