<% if !local_assigns[:show_url].nil? %>
  <%= javascript_tag "let bcShowDataUrl = '#{show_url}';" %>
<% end %>

<div class="table-cardstyle all-columns loading-with-btns">
  <table id="<%= local_assigns.fetch :id, 'show' %>" class="table">
    <thead>
      <tr>
        <th class="fit">Enabled</th>
        <th class="fit">Collect</th>
        <th>Alias</th>
        <th>Question Text</th>
        <th>Prompt Text</th>
        <th class="fit">Datatype</th>
        <th class="fit">Format</th>
        <th>Terminology</th>
      </tr>
    </thead>
  </table>
</div>
