<%= stylesheet_link_tag 'shared/datatables_loading' %>

<% if !local_assigns[:index_url].nil? %>
  <%= javascript_tag "let indexDataUrl = '#{index_url}'" %>
<% end%>

<div class="table-cardstyle" id="index-panel">
  <table id="index" class="table <%= local_assigns.fetch :table_classes, '' %>">
    <thead>
      <tr>
        <th class="fit">Owner</th>
        <th class="fit">Identifier</th>
        <th>Label</th>
        <%= yield  %>
        <th class="fit"></th>
      </tr>
    </thead>
  </table>
</div>
