<div class="font-light flex-total-center selection-info">

  Selected: <span class="bg-label bordered" id="selected-info"></span>

  <button id="view-selection" class="btn btn-xs light">View</button>
  <button id="clear-selection" class="btn btn-xs grey">Clear</button>

</div>
