<div class="font-light flex-total-center" id="selection-view">

  Selected: <span class="bg-label bordered text-small" id="selected-info"></span>

  <button id="view-selection" class="btn btn-xs white">
    <span class='icon-view text-tiny'></span>
    View
  </button>
  <button id="clear-selection" class="btn btn-xs white">
    <span class='icon-times text-tiny'></span>
    Clear
  </button>

</div>
