@import "shared/globals";

body, html, .container{
  height: 100%;
}

body {
  background: $grey-bright;
  width: 100%;
  position: relative;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.m-card {
  min-width: 60%;
  min-height: 60%;
  display: flex;
  max-width: 1000px;
}

.m-card .half{
  width: 50%;
  min-height: 100%;
  margin: 0;
  padding: 60px;
  display: inline-flex;
  align-items: center;
}

.half:first-of-type{
  justify-content: left;
  border-radius: $card-border-radius 0 0 $card-border-radius;
}

.half:last-of-type{
  justify-content: center;
  background: $primary-color-dark;
  border-radius: 0 $card-border-radius $card-border-radius 0;
}

// FORM STUFF

form{
  width: 100%;
}

.form-wrap{
  margin: 60px 0;
}

.form-wrap input, .checkbox{
  font-size: $font-normal;
  font-family: $font-light;
  color: $grey-medium;
  border: 0px;
  outline: none;
  background: transparent;
}

.form-wrap input[type="email"], .form-wrap input[type="password"]{
  min-width: 80%;
  padding: 10px 5px;
  border-bottom: 2px solid $secondary-color-light;
}

.form-wrap .checkbox input[type="checkbox"] {
    margin-left: 0;
}

.btn.submit-btn{
  background: $primary-color-light;
  color: $grey-white;
  padding: 8px 60px !important;
}

.btn.submit-btn:hover{
  background: $primary-color-medium;
}

.btn.submit-btn:focus{
  outline: none !important;
}

.form-link{
  display: inline-block;
  margin: 12px 12px 0 0;
  color: $grey-light;
  text-decoration: underline;
  font-family: $font-light;
}

.form-link:hover{
  color: $grey-medium;
  cursor: pointer;
}

.form-link:focus, .form-link:active{
  color: $grey-medium;
  outline: none;
}

#alerts{
  position: absolute;
  z-index: 10;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}

// MOBILE VIEW
@media (max-width:768px){
  .m-card{
    flex-direction: column-reverse;
  }
  .m-card .half{
    width: 100%;
  }

  body, html{
    min-height: 100%;
    height: auto;
  }

  .half:last-of-type{
    justify-content: center;
    background: $primary-color-dark;
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

  .form-wrap{
    margin: 30px 0;
  }

  #a3-devise-logo{
    width: 150px;
  }

  #alerts{
    position: relative;
  }
}

/* CHROMEFIX */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  font-size: $font-normal;
  -webkit-text-fill-color: $grey-medium;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
