<%= javascript_tag 'setPageTitle("Export")' %>
<% first_level_breadcrumb (:exports) %>
<%= javascript_tag "var url = \"#{@list_path}\";" %>
<div class="row">
  <div class="col-md-8">
    <%= render partial: "shared/export/start_panel" %>
    <%= render partial: "shared/buttons/close", locals: { small: false, link_path: exports_path } %>
  </div>
</div>
